<div class="headcontainer">
    <ul class="top-level-menu">
        <li>
            <a href="javascript:void(0)">{{ 'CATALOGS.HEADR.file' | translate }}</a>
            <ul class="second-level-menu">
                <li>
                    <a href="javascript:void(0)" ibmLink>{{ 'CATALOGS.HEADR.new' | translate }}</a>
                    <ul class="third-level-menu">
                        <li><a routerLink="" id="fileNewLink1" (click)="masterFromMenu()" ibmLink>{{ 'CATALOGS.HEADR.master_category' | translate }}</a></li>
                        <li><a routerLink="" id="fileNewLink2" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.category_level_sku' | translate }}</a></li>
                        <li><a routerLink="" id="fileNewLink3" (click)="underDev()" ibmLink> {{ 'CATALOGS.HEADR.prodcut_level_sku' | translate }}</a></li>
                        <li><a routerLink="" id="fileNewLink4" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.product' | translate }}</a></li>
                        <li><a routerLink="" id="fileNewLink5" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.Bundle' | translate }}</a></li>
                        <li><a routerLink="" id="fileNewLink6" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.kit' | translate }}</a></li>
                    </ul>
                </li>
                <li><a routerLink="" id="navFileLink2" [disabled]="linkShow" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.open' | translate }}</a></li>
                <li><a routerLink="" id="navFileLink3" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.open_compare_view' | translate }}</a></li>
                <li><a routerLink="" id="navFileLink4" (click)="underDev()" [disabled]="linkShow1" ibmLink>{{ 'CATALOGS.HEADR.close' | translate }}</a></li>
                <li><a routerLink="" id="navFileLink4" (click)="underDev()" [disabled]="linkShow1" ibmLink>{{ 'CATALOGS.HEADR.close_all' | translate }}</a></li>
                <li><a routerLink="" id="navFileLink5" (click)="underDev()" [disabled]="linkShow1" ibmLink>{{ 'CATALOGS.HEADR.save' | translate }}</a></li>
                <li><a routerLink="" id="navFileLink6" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.save_all' | translate }}</a></li>
                <li><a routerLink="" id="navFileLink7" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.reload' | translate }}</a></li>
                <li><a routerLink="" id="navFileLink8" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.restore_all_and_close' | translate }}</a></li>
                <li><a routerLink="" id="navFileLink9" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.store_preview' | translate }}</a></li>
                <li><a routerLink="" id="navFileLink10" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.exit_tool' | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)">{{ 'CATALOGS.HEADR.edit' | translate }}</a>
            <ul class="second-level-menu">
                <li><a routerLink="" id="navEditLink1" (click)="underDev()" [disabled]="linkShow1" ibmLink>{{ 'CATALOGS.HEADR.copy' | translate }}</a></li>
                <li><a routerLink="" id="navEditLink2" (click)="underDev()" [disabled]="linkShow1" ibmLink>{{ 'CATALOGS.HEADR.copy_to_clipboard' | translate }}</a></li>
                <li><a routerLink="" id="navEditLink3" (click)="underDev()" [disabled]="linkShow1" ibmLink>{{ 'CATALOGS.HEADR.create_copy' | translate }}</a></li>
                <li><a routerLink="" id="navEditLink4" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.paste' | translate }}</a></li>
                <li><a routerLink="" id="navEditLink5" (click)="underDev()" [disabled]="linkShow1" ibmLink>{{ 'CATALOGS.HEADR.delete' | translate }}</a></li>
                <li><a routerLink="" id="navEditLink6" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.select_all' | translate }}</a></li>
                <li><a routerLink="" id="navEditLink7" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.deselect_all' | translate }}</a></li>
                <li><a routerLink="" id="navEditLink8" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.edit_flexcolumn' | translate }}</a></li>
                <li><a routerLink="" id="navEditLink9" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.find_and_replace' | translate }}</a></li>
                <li><a routerLink="" id="navEditLink10" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.move_up' | translate }}</a></li>
                <li><a routerLink="" id="navEditLink11" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.move_down' | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)">{{ 'CATALOGS.HEADR.view' | translate }}</a>
            <ul class="second-level-menu">
                <li><a routerLink="" id="navViewLink1" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.back' | translate }}</a></li>
                <li><a routerLink="" id="navViewLink2" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.forward' | translate }}</a></li>
                <li><a routerLink="" id="navViewLink3" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.hide_explorer_view' | translate }}</a></li>
                <li><a routerLink="" id="navViewLink4" (click)="underDev()" ibmLink> {{ 'CATALOGS.HEADR.show_utilities_view' | translate }}</a></li>
                <li><a routerLink="" id="navViewLink5" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.split_horizontally' | translate }}</a></li>
                <li><a routerLink="" id="navViewLink6" (click)="underDev()" [disabled]="linkShow" ibmLink>{{ 'CATALOGS.HEADR.split_vertically' | translate }}</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)">{{ 'CATALOGS.HEADR.help' | translate }}</a>
            <ul class="second-level-menu">
                <li><a routerLink="" id="navHelpLink1" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.getting_started' | translate }}</a></li>
                <li><a routerLink="" id="navHelpLink2" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.help_links' | translate }}</a></li>
                <li><a routerLink="" id="navHelpLink3" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.content_help' | translate }}</a></li>
                <li><a routerLink="" id="navHelpLink4" (click)="underDev()" ibmLink>{{ 'CATALOGS.HEADR.keyboard_shortcuts' | translate }}</a></li>
            </ul>
        </li>
        <li id="ibmdropdownheader">
            <ibm-dropdown (selected)="selected($event)">
                <ibm-dropdown-list [items]="listItems"></ibm-dropdown-list>
            </ibm-dropdown>
        </li>
    </ul>
</div>