 /* Remove the navbar's default margin-bottom and rounded borders */
 
 .ibm-dropdownWidth {
    width: 250px;
    margin-top: 5px;
    position: absolute;
    right: 150px;
    height: 50px;
}
.ibm-dropdown {
    width: 170px;
    // margin-top: 5px;
    position: absolute;
    right: 277px;
    // height: 50px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.ibm-searchwidth{
    // width: 170px;
    // margin-top: 5px;
    position: absolute;
    right: 30px;
    // height: 50px;
}
.bx--list-box {
    // position: relative;
    // width: 100%;
    height: 2.0rem !important;
    max-height: 2rem !important;
    width:170px;
    // background-color: #f4f7fb;
    // border: none;
    // box-shadow: 0 1px 0 0 #5a6872;
    // order: 1;
    // cursor: pointer;
    // color: #152935;
}

.navbar {
padding: 0rem;
margin-bottom: 0rem;
} 
// .disabled {
//     pointer-events: none;
//     cursor: default;
// }

.bx--list-box {
    height: 2.0rem;
    max-height: 2.5rem;  
}
.ibm-dropdownWidth {
    width: 250px;
    margin-top: 1px;
    position: absolute;
    right: 150px;
}
.bg-light {
margin-left: -0.75%;
margin-right: -0.75%;
background-color: #f1f1f1!important;
}
.bx--btn--primary {
background-color: #f1f1f1;
color: #1d1919;
} 
.bx--btn--primary:focus {
border: 2px solid #f4f7fb;
outline: 2px solid #30588c;
}

/* if you want the hover, .bx--btn--primary:hover  */
.bx--btn--primary:focus {
background-color: #396fb4;
}
.bg-secondary {
background-color: #457ec3!important;
}
.tabnextx .dropdown-menu{
top: 0;
left: 100%;
margin-top: -1px;
border-radius: 0;

}
.dropdown  {
border-radius: 0;  
}

.dropdown-toggle::after {
display:none;
}
/* Medium devices (tablets, 768px and up) 
The navbar toggle appears at this breakpoint 
@media (min-width: 768px) {
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-radius: 0;
}
}*/

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
min-height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
padding-top: 10px;
background-color: #f1f1f1;
max-width: 21%;
margin-left: -12px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}

.row.content {
    height: auto;
}

}
.starFontSection{
font-size: 5px;
}
.masterSection{
    margin-bottom: 5px;
}
.iconFontSizeSection{
    font-size: 20px;
}
.headAlertTxtSection{
    color: red;
    font-size: 13px;
}
.exclaIconSection{
    margin-left: -8px;
    font-size: 12px;
}
.topDropdown {
    height: 2 rem;
}
span.bx--list-box__label {
    display: inline-block;
    width: 128px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.bx--list-box_field{
    display: inline-block;
    width: 128px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}