<div class="top-container">
  <div class="side-content">
    <div class="header">
      <span class="hamicon">
        <a href="#">
          <ibm-icon-menu32 class="icon-svg-menu"></ibm-icon-menu32>
        </a>
      </span>
      <span class="headertext">IBM Watson Commerce</span>
    </div>
    <div class="breadcumbs">
      <span>Organisations</span>
    </div>
    <div class="orgtable-filter">
      <div class="filtermenu1">
        <span class="filtermenu">
          <a href=""><ibm-icon-search16></ibm-icon-search16></a>
        </span>
        <span class="filtermenu">
          <a href=""><ibm-icon-filter16></ibm-icon-filter16></a>
        </span>
        <span class="filtermenu">
         <a href=""><ibm-icon-settings16></ibm-icon-settings16></a>
        </span>
        <span class="filtermenu"><button ibmButton>New</button></span>
      </div>
    </div>
    <div class="orgtable">
      <ibm-table class="orgtable" [model]="customModel" [size]="size" [showSelectionColumn]="showSelectionColumn"
        [striped]="striped">
      </ibm-table>
    </div>
    <div class="pagination-container">
      <ibm-pagination [model]="model" [skeleton]="skeleton"> </ibm-pagination>
    </div>
  </div>
</div>
