<div class="header">
  <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.MANAGE_USER_GROUPS.TITLE'| translate}}</span>
</div>
<div class="border-div">
  <div class="users">
    <span>{{'MANAGE_USER.MANAGE_USER_GROUPS.USERS'| translate}}</span>
    <span class="icon-top">
      <ibm-icon-chevron-right16 id="table-icon" class="chevron-icon"></ibm-icon-chevron-right16>
    </span>
    <span><strong class="new-user">{{'MANAGE_USER.MANAGE_USER_GROUPS.EDIT_USER'| translate}}</strong></span>
  </div>
   <div class="bx--row header-border">
    <div class="bx--col-sm-4 bx--col-md-4 side-content">
      <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_GROUPS.ACCOUNT_INFORMATION'| translate}}</div><br />
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_GROUPS.CONTACT_INFORMATION'| translate}}</div><br />
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_GROUPS.ROLES'| translate}}</div><br />
        <span class="dot account-dot"></span>
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_GROUPS.GROUPS'| translate}}</div>
      </div>
    </div>
    <div class="bx--col-sm-8 bx--col-md-8 right-content">
      <div class="bx--row main-content">
        <div class="bx--col-sm-11 bx--col-md-11 inside-content">
          <ibm-tabs>
            <ibm-tab heading="Include">
              <div class="slct-grp-content">
                <div class="slct-grp-txt">
                  <span>{{'MANAGE_USER.MANAGE_USER_GROUPS.INCLUDE_TAB.SELECT_GROUP'| translate}}</span>
                </div>
                <div>
                  <div class="aval-grp-txt">
                    <span>{{'MANAGE_USER.MANAGE_USER_GROUPS.INCLUDE_TAB.AVAILABLE_GROUPS'| translate}}</span>
                  </div>
                  <input ibmText class="inputbx" placeholder="Find a group"><br /><br />
                  <ul>
                    <li *ngFor="let groupList of groupListData">
                      <ibm-checkbox (change)="onChange($event)">
                        {{groupList.groupName}}
                      </ibm-checkbox>
                    </li>
                  </ul>
                </div>
                <div class="total-items">
                  <span>{{'MANAGE_USER.MANAGE_USER_GROUPS.INCLUDE_TAB.ITEMS'| translate}}</span>
                </div>
              </div>
            </ibm-tab>
            <ibm-tab heading="Exclude">
              <div class="slct-grp-content">
                <div class="slct-grp-txt">
                  <span>{{'MANAGE_USER.MANAGE_USER_GROUPS.EXCLUDE_TAB.SELECT_GROUP'| translate}}</span>
                </div>
                <div>
                  <div class="aval-grp-txt">
                    <span>{{'MANAGE_USER.MANAGE_USER_GROUPS.EXCLUDE_TAB.AVAILABLE_GROUPS'| translate}}</span>
                  </div>
                </div>
                <div class="total-items">
                  <span>{{'MANAGE_USER.MANAGE_USER_GROUPS.EXCLUDE_TAB.ITEMS'| translate}}</span>
                </div>
              </div>
            </ibm-tab>
          </ibm-tabs>
        </div>
      </div>
      <div class="bx--row footer-content">
        <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
          <div class="bx--row">
            <div class="bx--col-sm-2 bx--col-md-2"></div>
            <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
                <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="cancelClick()">{{'MANAGE_USER.MANAGE_USER_GROUPS.CANCEL'| translate}}</button>
                <button ibmButton size="lg" id="save-preview" class="next-button" (click)=saveGroups()>{{'MANAGE_USER.MANAGE_USER_GROUPS.SAVE'| translate}}</button>
              </div>
            </div>
          </div>
    </div>
    
  