.content-width{
    max-width: 78% !important;
    background-color: #f1f1f1 !important;
    margin-left: 0.5%;
    min-height: 438px;
    margin-bottom: 0.6%;
}
.side-width{
    max-width: 22% !important;
    background-color: #f1f1f1 !important;
    min-height: 438px;
    margin-bottom: 0.6%;
}