<section class="sidenav">
            <p><a href="#">Link</a></p>
            <p>
                <ibm-dropdown>
                    <ibm-dropdown-list [items]="listItems"></ibm-dropdown-list>
                </ibm-dropdown>
            </p>
            <p><a href="#">Link</a></p>
            <div class="masterSection">
                <button ibmButton (click) ="navigateToMaster()">
                    <span class="iconFontSizeSection"><i class="fas fa-bars"></i></span>
                    <label class="headAlertTxtSection"><span class="exclaIconSection"><i class='fas fa-exclamation-circle'></i></span></label>
                    <sup><span class="starFontSection"><i class="fas fa-star-of-life"></i></span></sup>
                    New Master Category
                </button>
            </div>
            <div>
                <button ibmButton (click) ="navigateToSearch()">
                    Search Result
                </button>
            </div>
            <div>
                <button ibmButton (click) ="navigateToExtend()">
                    ExtendedSitesCatalogAssetStore
                </button>
            </div>
        </section>