<div class="header">
    <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
    <span class="ibm-text">{{'MANAGE_USER.ORGANIZATION_DETAILS.TITLE' | translate}}</span>
  </div>
  
  <div class="border-div">
  
    <div class="organizations">
      <span>Groups</span>
      <span class="icon-top">
        <ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16>
      </span>
      <span><strong
          class="new-organization">New group</strong></span>
      <div class="clr"></div>
    </div>
  
     <div class="bx--row header-border">
  
      <div class="bx--col-sm-4 bx--col-md-4 side-content">
        <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
          <!-- <ibm-icon-radio-button20 id="radio-icon" class="radio-icon"></ibm-icon-radio-button20><span class="text-margin">Account Information</span> -->
          <span class="dot account-dot"></span><span
            class="text-margin">Group details</span>
          <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
          <span class="dot"></span><span
            class="text-margin">Define group</span>
          <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
          <span class="dot"></span><span
            class="text-margin">Review (optional)</span>
          
          
        </div>
      </div>
  
      <div class="bx--col-sm-8 bx--col-md-8 right-content">
      
        <div class="bx--row main-content">
          <div class="bx--col-sm-11 bx--col-md-11 inside-content">
            
              <div class="form-text">{{'MANAGE_USER.ORGANIZATION_DETAILS.TYPE' | translate}}</div>
              <div class="typeOrganization" >
                <ibm-dropdown placeholder="Select a type" id="organization-type"  value="content">
                  <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                </ibm-dropdown>
              </div>
           
            <div class="form-text">Name</div>
            <input ibmText class="inputbx" id="description-name" >
  
            <div class="form-text">Description (Optional)</div>
            <input ibmText class="inputbx" id="description-optional" >
  
            <div class="form-text">Owner</div>
            <span class="left-addon">
              <ibm-icon-search16 class="searchICon"></ibm-icon-search16>
              <input ibmText class=" inputbx" placeholder="Find owner" id="parent-organization" >
            </span>
          
          </div>
        </div>
  
        <div class="bx--row footer-content">
          <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
            <div class="bx--row">
              <div class="bx--col-sm-5 bx--col-md-5"></div>
              <div class="bx--col-sm-7 bx--col-md-7 footer-btn-margin">
                <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="routeGroupList()"
                  >{{'MANAGE_USER.ORGANIZATION_DETAILS.CANCEL' | translate}}</button>
                <button ibmButton size="lg" id="save-preview" class="next-button" type="submit" (click)="routeGroupDefine()"
                  >{{'MANAGE_USER.ORGANIZATION_DETAILS.NEXT' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
     
      </div>
    </div>
  </div>
