<div class="userLandingPage">
    <!--Header part (start)-->
    <div class="Header bx--row">
        <div class="menuLogo bx--col-xs-1 bx--col-sm-1 bx--col-md-1 bx--col-lg-1 bx--col-xl-1 bx--col-xxl-1">
            <ibm-icon-menu32 class="icon-menu"></ibm-icon-menu32>
        </div>
        <div class="bx--col-xs-11 bx--col-sm-11 bx--col-md-11 bx--col-lg-11 bx--col-xl-11 bx--col-xxl-11">
            <p class="headingName">
                IBM Watson Commerce
            </p>
        </div>
    </div>
  </div>