<div class="header">
  <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.TITLE'| translate}}</span>
</div>
<div class="border-div">
  <div class="users">
    <span>{{'MANAGE_USER.MANAGE_USER_ACCOUNT.USERS'| translate}}</span>
    <span class="icon-top">
      <ibm-icon-chevron-right16 id="table-icon" class="chevron-icon"></ibm-icon-chevron-right16>
    </span>
    <span><strong class="new-user">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.EDIT_USER'| translate}}</strong></span>
  </div>
   <div class="bx--row header-border">
    <div class="bx--col-sm-4 bx--col-md-4 side-content">
      <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
        <span class="dot account-dot"></span>
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.ACCOUNT_INFORMATION'| translate}}</div><br />
        <span></span>
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.CONTACT_INFORMATION'| translate}}</div><br />
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.ROLES'| translate}}</div><br />
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.GROUPS'| translate}}</div>
      </div>
    </div>
    <div class="bx--col-sm-8 bx--col-md-8 right-content">
      <div class="bx--row main-content">
        <div class="bx--col-sm-11 bx--col-md-11 inside-content">
          <div class="bx--col-md-12 bx--col-sm-12 icon-group">
            <span class="icons glyphiconsButton">
              <ibm-icon-settings16></ibm-icon-settings16>
            </span>
          </div>
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.LOGIN_ID'| translate}}</div>
          <input ibmText class="inputbx" [(ngModel)]="logonId" (change)="onChange($event)" ><br /><br />
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.EMAIL'| translate}}</div>
          <input ibmText class="inputbx" [(ngModel)]="email1"><br /><br />
          <div class="form-text">
            <span>{{'MANAGE_USER.MANAGE_USER_ACCOUNT.PASSWORD'| translate}}</span>
            <span class="password-show"></span>
          </div>
          <div class="input-tikmark" *ngIf="showInput">
            <ibm-icon-checkmark-filled16 class="fa-tickmark"></ibm-icon-checkmark-filled16>
            <input ibmText class="inputbx" type="password" [(ngModel)]="password"><br /><br />
          </div>
          <div class="input-tikmark" *ngIf="!showInput">
            <ibm-icon-checkmark-filled16 class="fa-tickmark"></ibm-icon-checkmark-filled16>
            <input ibmText class="inputbx" type="text" [(ngModel)]="password"><br /><br />
          </div>
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.ORGANIZATION'| translate}}</div>
          <input ibmText class="inputbx" [(ngModel)]="organizationName"><br /><br />
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.USER_TYPE'| translate}}</div>
          <div class="dropdown-margin">
              <ibm-dropdown
              placeholder="Select title"
              [disabled]="disabled"
              [(ngModel)]="policy"
              value="content" id="accountPolicy" ngDefaultControl>
              <ibm-dropdown-list [items]="items"></ibm-dropdown-list>
            </ibm-dropdown>
          </div><br /><br />
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.PREFERED_LANGUAGE'| translate}}</div>
        </div>
      </div>
      <div class="bx--row footer-content">
        <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
          <div class="bx--row">
            <div class="bx--col-sm-2 bx--col-md-2"></div>
            <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
              <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="cancelClick()">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.CANCEL'|
                translate}}</button>
              <button ibmButton size="lg" id="save-preview" class="next-button" (onChange)="enableButton()" (click)="saveAccount()" >{{'MANAGE_USER.MANAGE_USER_ACCOUNT.SAVE'|
                translate}}</button>
                <!-- <button ibmButton size="lg" id="save-preview" class="next-button" (onChange)="enableButton()" (click)="saveAccount()"  [disabled]="!logonId || buttonEnabled">{{'MANAGE_USER.MANAGE_USER_ACCOUNT.SAVE'| -->
                    <!-- translate}}</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
