.header-border {
    width: 98%;
    margin: 0 0 2% 1%;
    margin-top: -0.5%;  
  }
  .side-content {
    padding-top: 4%; 
    background-color: #ffffff; 
  }
  .right-content {
    padding-left: 1px;
  }
  .main-content {
    padding-top: 56px;
    margin: 0 0 0.2% 0.2%;
    background-color: #ffffff;
  }
  .inside-content {
    margin-left: 20px;
  }
  .footer-content {
    margin: 0 0 0.2% 0.2%;
    background-color: #ffffff;
  }
  .inside-footer {
    margin: 4% 0 4% 0;
  }
  .footer-btn-margin {
    margin-left: 48.5%;
  }
  .next-button {
    width: 33.68%;
    text-align: left;
    background-color: #0F6DFF;
    height: 3rem;
  }
  .cancel-button {
    width: 20%;
    height: 3rem;
    color: #343334;
  }
  .text-margin {
    margin-bottom: 10px;
    cursor: pointer;
  }
  .side-txt-margin {
    margin-left: 6px;
  }
  .header {
    width: 100%;
    height: 38px;
    margin-top: 2px;
    background: #343334;
    color: white;
    padding: 3px 0px 0px 10px;
  }
  .menu-icon {
    padding: 5px;
    fill: white;
  }
  .ibm-text {
    font-size: 14px;
    position: absolute;
    top: 16px;
    margin-left: 25px;
  }
  .users {
    width: 100%;
    height: 35px;
    background: white;
    color: black;
    padding: 8px 0px 0px 18px;
    font-size: 14px;
  }
  .user-show {
    font-size: 12px;
    width: 36px;
    position: relative;
  }
  .border-div {
    border: 1px solid gray;
  }
  .new-user {
    font-weight: 600
  }
  .chevron-icon {
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
  }
  .icon-top {
    margin-left: 10px;
    margin-right: 10px;
  }
  .inputbx {
    background: #F3F3F3;
    height: 30px;
    // margin-left: 5%;
    font-size: 14px;
    color: #282828;
  }
  .form-text {
    margin-bottom: 1%;
  }
  .info-text {
    margin-bottom: 20px;
}
.roles-margin {
    margin-bottom: 20px;
    margin-left: 5%;
}
.account-dot {
    background-color: #0062FF;
  }
  .dot {
    height: 18px;
    width:  4px;
    display: inline-block;
    border: 1px solid #0062FF;
    position: absolute;
    margin-inline-start: -25px;
  }
  .dropdown {
      margin-left: 5%;
  }
  .inputbx {
    background-color: #f4f7fb;
    height: 2.5rem;
    font-size: 14px;
    color: #282828;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
  }
  .model-role{
    height: 25px;
    color: white;
    background-color: black;
    border-radius: 25px;
    padding: 4px 5px 5px 12px;
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
  }
  .icon-close{
    fill: white;
    cursor: pointer;
    line-height: 24px;
    vertical-align: text-top;
    margin-left: 5px;
  }
  .org-list {
    padding: 6px 0 6px 0;
    cursor: pointer;
    &:hover {
      color: white;
      background: #0f6ddf;
    }
  }