<div class="header">
  <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.MANAGE_USER_ROLES.TITLE'| translate}}</span>
</div>
<div class="border-div">
  <div class="users">
    <span>{{'MANAGE_USER.MANAGE_USER_ROLES.USERS'| translate}}</span>
    <span class="icon-top">
      <ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16>
    </span>
    <span><strong class="new-user">{{'MANAGE_USER.MANAGE_USER_ROLES.EDIT_USER'| translate}}</strong></span>
    <div class="clr"></div>
  </div>
   <div class="bx--row header-border">
    <div class="bx--col-sm-4 bx--col-md-4 side-content">
      <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
        <span></span>
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_ROLES.ACCOUNT_INFORMATION'| translate}}</div><br />
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_ROLES.CONTACT_INFORMATION'| translate}}</div><br />
        <span class="dot account-dot"></span>
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_ROLES.ROLES'| translate}}</div><br />
        <div class="text-margin">{{'MANAGE_USER.MANAGE_USER_ROLES.GROUPS'| translate}}</div>
      </div>
    </div>
    <div class="bx--col-sm-8 bx--col-md-8 right-content">
      <div class="bx--row main-content">
        <div class="bx--col-sm-11 bx--col-md-11 inside-content">
          <div class="info-text">
            <p>{{'MANAGE_USER.MANAGE_USER_ROLES.SELECT_AN_ORGANIZATION'| translate}}</p>
            <p>{{'MANAGE_USER.MANAGE_USER_ROLES.MULTIPLE_ROLES'| translate}}</p>
          </div>
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_ROLES.ORGANIZATION'| translate}}</div>
          <!-- <ibm-select [(ngModel)]="model">
                      <option value="default" disabled selected hidden>Select title</option>
                      <option value="option1">Option 1</option>
                      <option value="option2">Option 2</option>
                      <option value="option3">Option 3</option>
                      </ibm-select><br/><br/> -->
          <ibm-dropdown placeholder="Select title" [disabled]="disabled" [(ngModel)]="model" value="content">
            <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
          </ibm-dropdown><br /><br />
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_ROLES.AVAILABLE_ROLES'| translate}}</div>
          <ibm-dropdown placeholder="Select title" [disabled]="disabled" [(ngModel)]="model" value="content">
            <ibm-dropdown-list [items]="rolesList"></ibm-dropdown-list>
          </ibm-dropdown><br /><br />
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_ROLES.SELECTED_ROLES'| translate}}</div>
        </div>
      </div>
      <div class="bx--row footer-content">
        <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
          <div class="bx--row">
            <div class="bx--col-sm-4 bx--col-md-4"></div>
            <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
              <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button">{{'MANAGE_USER.MANAGE_USER_ROLES.CANCEL'| translate}}</button>
              <button ibmButton size="lg" id="save-preview" class="next-button" (click)=saveRoles()>{{'MANAGE_USER.MANAGE_USER_ROLES.SAVE'| translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>