<div class="header">
  <ibm-icon-menu32 id="table-icon" class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.USER_LANDING_PAGE.TITLE' | translate}}</span>
</div>
<div class=" userLandingPage">
  <div class="users">
      <span>Groups</span>
  </div>
<!--Search,Filter part(start)-->
<div class="SearchMenu icons_user bx--row">
    <div class="bx--col-md-12 bx--col-sm-12 icon-group">
        <span class="icons">
            <button type="button" class="rowAdditionButton" (click)="routeGroupDetails()">{{'MANAGE_USER.USER_LANDING_PAGE.NEW_BUTTON' | translate}}</button>
        </span>
        <span class="icons glyphiconsButton">
            <ibm-icon-settings16></ibm-icon-settings16>
        </span>
        <span class="icons glyphiconsButton">
            <ibm-icon-filter16></ibm-icon-filter16>
        </span>
        <span class="icons glyphiconsButton">
            <ibm-icon-search16></ibm-icon-search16>
        </span>
    </div>
</div>
<!--TABLE PART (START)-->
<div class="TableItem bx--row">
  <div class="table-body bx--col-md-12 bx--col-sm-12">
        <ibm-table [model]="model"   ></ibm-table>
        <ng-template #listUserItemTemplate let-data="data">
            <a >{{data.name}}</a>
        </ng-template>
        <ibm-pagination  [model]="model" (selectPage)="selectPage($event)"></ibm-pagination>
  </div> 
</div>
</div>