<ac-header></ac-header>
<app-ui-shell></app-ui-shell>
<div class="row">
    <div class="col-md-3 side-width">
        <ac-side-bar></ac-side-bar>
    </div>
    <div class="col-md-9 content-width">
        <div class="container-fluid containerClass">
            <div class="catlogMargin">
              <h3><strong>{{ 'CATALOGS.LANDING_PAGE.catalog' | translate }}</strong></h3>
            </div>
              <ul>
                <li class="liText">
                  <span class="custom-bullet"><i class="fas fa-circle"></i></span>
                  {{ 'CATALOGS.LANDING_PAGE.create_new_catalog_text' | translate }}<strong>{{ 'CATALOGS.LANDING_PAGE.create_new' | translate }}</strong>{{ 'CATALOGS.LANDING_PAGE.icon_toolbar_text' | translate }}
                </li>
                <li class="liText">
                    {{ 'CATALOGS.LANDING_PAGE.to_work_text' | translate }}
                </li>
                <li class="liText">
                    <span class="custom-bullet"><i class="fas fa-circle"></i></span>
                    {{ 'CATALOGS.LANDING_PAGE.to_search_text' | translate }}
                </li>
              </ul>
              <ol class="orderMargin">
                  <li class="liText">
                    {{ 'CATALOGS.LANDING_PAGE.line_1' | translate }}
                  </li>
                  <li class="liText">
                    {{ 'CATALOGS.LANDING_PAGE.line_2' | translate }}
                  </li>
                  <li class="liText">
                    {{ 'CATALOGS.LANDING_PAGE.line_3' | translate }}
                  </li>
                </ol>
            <div class="moreDetails">
              <a href="https://www.ibm.com/support/knowledgecenter/en/SS9PHW/com.ibm.commerce.management-center.doc/concepts/cpncatalogstool.htm" target="blank">{{ 'CATALOGS.LANDING_PAGE.more_details' | translate }}</a>
            </div>
            </div>
    </div>
</div>
    <ac-footer></ac-footer>
    <ibm-placeholder></ibm-placeholder>
