<ac-header></ac-header>
<div class="row">
    <div class="col-md-3 side-width">
        <ac-side-bar></ac-side-bar>
    </div>
    <div class="col-md-9 content-width">
        <div class="container-fluid containerClass">
            <div class="catlogMargin">
              <h3><strong>Catalog</strong></h3>
            </div>
              <ul>
                <li class="liText">
                  <span class="custom-bullet"><i class="fas fa-circle"></i></span>
                    To create a new catalog object, click the black arrow beside the <strong>Create New</strong>icon on the toolbar; then click the type of object.
                </li>
                <li class="liText">
                    <span class="custom-bullet"><i class="fas fa-circle"></i></span>
                    To work with an exesting catalog object, in the explore view to the left, navigate to the object.
                </li>
                <li class="liText">
                    <span class="custom-bullet"><i class="fas fa-circle"></i></span>
                    To search for a catlog object:
                </li>
              </ul>
              <ol class="orderMargin">
                  <li class="liText">
                     1. In the find area at the top right, type a keyword in the search field. use the asteric (*) as a wildcard.
                  </li>
                  <li class="liText">
                     2. To select what you want to search for, click the black arrow beside the search icon.
                  </li>
                  <li class="liText">
                     3. Click the searh icon. 
                  </li>
                </ol>
            <div class="moreDetails">
              <a href="https://www.ibm.com/support/knowledgecenter/en/SS9PHW/com.ibm.commerce.management-center.doc/concepts/cpncatalogstool.htm" target="blank">More details...</a>
            </div>
            </div>
    </div>
</div>
    <ac-footer></ac-footer>
    <ibm-placeholder></ibm-placeholder>
