<div class="bx--grid Rectangle">
    <div class="bx--row">
      <div class="bx--col-sm-4 bx--col-md-4 side-content">
        <p>Account Info</p>
      </div>
      <div class="bx--col-sm-7 bx--col-md-7 main-content">
        <div>Login ID</div>
        <input type="text" class="bx--col-sm-10 bx--col-md-10">
        <div>Email</div>
        <input type="text" class="bx--col-sm-10 bx--col-md-10">
        <div>Password</div>
        <input type="text" class="bx--col-sm-10 bx--col-md-10">
        <div>Organization</div>
        <input type="text" class="bx--col-sm-10 bx--col-md-10">
        <div>Account Policy</div>
        <input type="text" class="bx--col-sm-10 bx--col-md-10">
      </div>
    </div>
  </div>
