
  <div class="header">
    <ibm-icon-menu32  class="menu-icon"></ibm-icon-menu32>
    <span class="ibm-text">{{'MANAGE_USER.USER_ACCOUNT.TITLE' | translate}}</span>
  </div>
  <div class="border-div">
      <div class="users">
        <span>{{'MANAGE_USER.USER_ACCOUNT.USERS' | translate}}</span>
        <span class="icon-top"><ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16></span>
        <span><strong class="new-user">{{'MANAGE_USER.USER_ACCOUNT.NEW_USER' | translate}}</strong></span>
        <div class="clr"></div>
      </div>
        <div class="bx--row header-border">
          <div class="bx--col-sm-4 bx--col-md-4 side-content">
            <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
            <!-- <ibm-icon-radio-button20 id="radio-icon" class="radio-icon"></ibm-icon-radio-button20><span class="text-margin">Account Information</span> -->
            <span class="dot account-dot"></span><span class="text-weight">{{'MANAGE_USER.USER_ACCOUNT.ACCOUNT_INFORMATION' | translate}}</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">{{'MANAGE_USER.USER_ACCOUNT.CONTACT_INFORMATION' | translate}}</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">{{'MANAGE_USER.USER_ACCOUNT.ROLES' | translate}}
              <span class="optional-text">{{'MANAGE_USER.USER_ACCOUNT.OPTIONAL' | translate}}</span>
            </span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">{{'MANAGE_USER.USER_ACCOUNT.GROUPS' | translate}}
                <span class="optional-text">{{'MANAGE_USER.USER_ACCOUNT.OPTIONAL' | translate}}</span>
            </span>
            </div>
          </div>
          <div class="bx--col-sm-8 bx--col-md-8 right-content">
            <div class="bx--row main-content">
              <div class="bx--col-sm-11 bx--col-md-11 inside-content">
                  <div class="top-form-text">{{'MANAGE_USER.USER_ACCOUNT.LOGIN_ID' | translate}}</div>
                  <input ibmText class=" inputbx" [(ngModel)]="logonId" maxlength="15" id="logonid" ngDefaultControl>
                  <div class="form-text">{{'MANAGE_USER.USER_ACCOUNT.EMAIL' | translate}}</div>
                  <input ibmText class=" inputbx" [(ngModel)]="email1" (blur)="validateEmail(email1)" id="email" ngDefaultControl>
                  <span *ngIf="envalidEmail" class="error-msg">{{'MANAGE_USER.USER_ACCOUNT.EMAIL_ERROR' | translate}}</span>
                  <div class="form-text">{{'MANAGE_USER.USER_ACCOUNT.PASSWORD' | translate}}</div>
                  <input ibmText type="password" class=" inputbx" [(ngModel)]="password" id="password" ngDefaultControl>
                  <div class="form-text">
                    <span>{{'MANAGE_USER.USER_ACCOUNT.CONFIRM_PASSWORD' | translate}}</span>
                    <span class="password-show" *ngIf="showTextVisible" (click)="showHide()">
                      <ibm-icon-view16 class="view-icon"></ibm-icon-view16>
                      <span class="show-margin">{{'MANAGE_USER.USER_ACCOUNT.SHOW' | translate}}</span>
                    </span>
                    <span class="password-show" *ngIf="!showTextVisible" (click)="showHide()">
                      <ibm-icon-view-off16 class="view-icon"></ibm-icon-view-off16>
                      <span class="show-margin">{{'MANAGE_USER.USER_ACCOUNT.HIDE' | translate}}</span>
                    </span>
                    <div class="clr"></div>
                  </div>
                    <div class="input-tikmark" *ngIf="showTextVisible"> 
                        <ibm-icon-checkmark-filled16 class="fa-tickmark" *ngIf="showTickboxVisible"></ibm-icon-checkmark-filled16>
                        <input ibmText class=" inputbx" type="password" [(ngModel)]="passwordVerify" (keyup)="validatePassword()" id="passwordVerify" ngDefaultControl>
                    </div>
                    <div class="input-tikmark" *ngIf="!showTextVisible">
                        <ibm-icon-checkmark-filled16 class="fa-tickmark" *ngIf="showTickboxVisible"></ibm-icon-checkmark-filled16>
                        <input ibmText class=" inputbx" type="text" [(ngModel)]="passwordVerify" (keyup)="validatePassword()" id="passwordVerify1" ngDefaultControl>
                    </div>
                  <div class="form-text">{{'MANAGE_USER.USER_ACCOUNT.ORGANIZATION' | translate}}</div>
                  <input ibmText class=" inputbx" [(ngModel)]="organizationName" id="organization" ngDefaultControl>
                  <div class="form-text">{{'MANAGE_USER.USER_ACCOUNT.ACCOUNT_POLICY' | translate}}</div>
                  <div class="dropdown-margin">
                      <ibm-dropdown
                      placeholder="Select title"
                      [disabled]="disabled"
                      [(ngModel)]="policy"
                      value="content" id="accountPolicy">
                      <ibm-dropdown-list [items]="items" class="div.dropdown"></ibm-dropdown-list>
                    </ibm-dropdown>
                  </div>
              </div>
            </div>
            <div class="bx--row footer-content">
                <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
                  <div class="bx--row">
                      <div class="bx--col-sm-2 bx--col-md-2"></div>
                    <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
                      <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="cancelClick()">{{'MANAGE_USER.USER_ACCOUNT.CANCEL' | translate}}</button>
                      <button ibmButton size="lg" id="save-preview" class="next-button" (click)="goToContact()">{{'MANAGE_USER.USER_ACCOUNT.NEXT' | translate}}</button>
                    </div>
                  </div>
                  <span *ngIf="inputFieldError" class="input-error">{{'MANAGE_USER.USER_CONTACT.INPUT_ERROR' | translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  
