
  .header-border {
    width: 98%;
    margin: 0 0 2% 1%;
    margin-top: -0.5%;  
  }
  .side-content {
    padding-top: 56px; 
    background-color: #ffffff; 
  }
  .main-content {
    padding-top: 56px;
    margin: 0 0 0.2% 0.2%;
    background-color: #ffffff;
  }
  .inside-content {
    margin-left: 20px;
  }
  .footer-content {
    margin: 0 0 0.2% 0.2%;
    background-color: #ffffff;
  }
  .footer-btn-margin {
    margin-left: 48.5%;
  }
  .inside-footer {
    margin: 30px 0 38px 0;
  }
  .dot {
    height: 14px;
    width:  14px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #0f6ddf;
  }
  .text-margin {
    margin-left: 11px;
    font-weight: 400;
  }
  .arrow-icon {
    display: block;
    margin: 16px 0px 16px -2px;
  }
  .dropdown-margin {
    margin-bottom: 23px;
  }
  .side-txt-margin {
    margin-left: 5px;
  }
  .header {
    width: 100%;
    height: 38px;
    margin-top: 4px;
    background: #343334;
    color: white;
    padding: 3px 0px 0px 10px;
  }
  .menu-icon {
    padding: 5px;
    fill: white;
  }
  .ibm-text {
    font-size: 14px;
    position: absolute;
    top: 16px;
    margin-left: 25px;
  }
  .users {
    width: 100%;
    height: 35px;
    background: white;
    color: black;
    padding: 8px 0px 0px 18px;
    font-size: 14px;
  }
  .user-show {
    font-size: 12px;
    width: 36px;
    position: relative;
  }
  .border-div {
    border: 1px solid gray;
  }
  .radio-icon {
    font-size: 10px;
    height: 30px;
    line-height: 20px;
  }
  .new-user {
    font-weight: 600
  }
  .chevron-icon {
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
  }
  .icon-top {
    margin-left: 10px;
    margin-right: 10px;
  }
  .account-dot {
    background-color: #0f6ddf;
  }
  .next-button {
    width: 33.68%;
    text-align: left;
    background-color: #0f6ddf;
    height: 3rem;
  }
  .cancel-button {
    width: 20%;
    height: 3rem;
  }
  .footer-btn {
    margin: 3% 0% 3% 35%;
  }
  .inputbx {
    background-color: #f4f7fb;
    height: 2.5rem;
    font-size: 14px;
    color: #282828;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
  }
  .form-text {
    margin-bottom: 5px;
    margin-top: 23px;
  }
  .top-form-text {
    margin-bottom: 5px;
  }
  .password-show {
    float: right;
    font-size: 12px;
    width: 36px;
    position: relative;
    top: 6px;
    color: #0f6ddf;
    cursor: pointer;
  }
  .view-icon {
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    left: -17px;
    bottom: -10px;
    fill: #0f6ddf;
  }
  .clr{clear: both;}
  .input-tikmark {
    position: relative; 
  }
  .input-tikmark .fa-tickmark { 
    position: absolute;
    top: 12px;
    right: 7px;
    font-size: 15px;
    z-index: 10000;
    fill: #3DBB61;
  }
  .show-margin {
    margin-left: 12%;
  }
  .right-content {
    padding-left: 1px;
  }
  .email-error {
    color: red;
  }
  .optional-text {
    font-weight: 300;
    color: #808080;
  }
  .text-weight {
    font-weight: 500;
    margin-left: 11px;
  }