.icon-svg-table{
    font-size: 20px;
    height: 50px;
    line-height: 30px;
  }
  .mstrCtgry{
    font-size: 23px;
}
.specifyTxt{
    margin-left: 30px;
}
.icon-svg-warning {
    fill: red;
  }
  .warn{
      color:red;
  }
  .headTextMargin{
    display: inline-block;
    margin: 1% 0 0 1%;
}
  .header-btn {
    position: absolute;
    display: inline-block;
    margin: 1% 0 0 25%;
}
.saveBtn{
    margin-right: 15px; 
}
.bx--btn--primary[_ngcontent-c8] {
    background: #3d70b2;
    color: white;
}
.display-checkbox{
    display: inline-flex;
}
.general-div{
    margin-top: 1.5%;
}
.general-input{
    display: inline-block;
    width: 100%;
}
.uniqueFont{
    font-size: 14px;
    display: inline-block;
    margin-top: 1%;
    position: absolute;
    width: 11%;
    margin-left: 20px;
}
.icon-svg-display {
    fill: rgb(189, 179, 179);
  }
// .savePreviewBtn{
//     margin-right: 20px;
// }
.containerClass{
    margin-left: 0.5%;
    width: 78%;
    display: inline-block;
    position: absolute;
    background-color: #f1f1f1 !important;
    height: 438px;
    overflow: scroll;
}
.side-width{
    background-color: #f1f1f1 !important;
    min-height: 438px;
    margin-bottom: 0.6%;
    display: inline-block;
}
.content-text{
    margin-left: 20px;
}
.display-text{
    display: inline-block;
    width: 12%;
    font-size: 14px;
}
.tooltip-class{
    z-index: 1;
  }
  .icon-svg-display {
    fill: rgb(189, 179, 179);
  }
  .input-size{
    padding: 8px 0px 8px 0px;
    width: 28%;
    font-size: 13px;
    margin-left: 13%;
}
.input-size-icon{
    padding: 10px 0px 10px 0px;
    width: 35%;
    font-size: 13px;
}
.bx--list-box {
    background-color: white;
    height: 2.0rem !important;
    max-height: 2rem !important;
    width: 300px !important;
}
.input{
display:none;
}