<div class="container">
    <button class="btn" (click)='approve()'><ibm-icon-checkmark-outline16></ibm-icon-checkmark-outline16>{{ 'APPROVALS.BUTTON_BAR.APPROVE_BUTTON' | translate}}</button>
    <button class="btn" (click)='reject()'><ibm-icon-close-outline16></ibm-icon-close-outline16>{{'APPROVALS.BUTTON_BAR.REJECT_BUTTON' | translate}}</button>
    <button class="btn" (click)='openModal()'><ibm-icon-search16></ibm-icon-search16>{{'APPROVALS.BUTTON_BAR.FIND_BUTTON' | translate}}</button>
  </div> 