<div class="header">
  <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.ORGANIZATION_CONTACT.TITLE' | translate}}</span>
</div>
<div class="border-div">
  <div class="users">
    <span>Groups</span>
    <span class="icon-top">
      <ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16>
    </span>
    <span><strong class="new-user">New group</strong></span>
    <div class="clr"></div>
  </div>

   <div class="bx--row header-border">
    <div class="bx--col-sm-4 bx--col-md-4 side-content">
      <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
        <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
        <span class="text-margin">Group details</span>
        <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
        <span class="dot account-dot"></span>
        <span class="text-margin">Define group</span>
        <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
        <span class="dot"></span><span
          class="text-margin">Review (optional)</span>
        
      </div>
    </div>
    <div [formGroup]="groupDefineForm" class="bx--col-sm-8 bx--col-md-8 right-content">
        
      <div class="bx--row main-content">
        <div class="bx--col-sm-11 bx--col-md-11 inside-content">
          <div class="form-text">Account</div>
          <div class="typeOrganization" >
              <ibm-dropdown placeholder="Customer must belong to one of the following accounts" id="organization-type" value="content" formControlName="account" ngDefaultControl>
                <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
              </ibm-dropdown>
            </div>
            <span class="left-addon">
              <ibm-icon-search16 class="searchICon"></ibm-icon-search16>
              <input ibmText class=" inputbx" placeholder="Find accounts" id="parent-organization" formControlName="findAccount" ngDefaultControl>
            </span>

            <!-- <div class="form-text">Selected accounts</div> -->
          
            <div class="form-text">Account size</div>
            <div class="typeOrganization" >
                <ibm-dropdown placeholder="Target the following account size" id="organization-type"  value="content" formControlName="accountSize" ngDefaultControl>
                  <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                </ibm-dropdown>
              </div>
          
              <div class="typeOrganization" >
                  <ibm-dropdown placeholder="Medium,Large" id="organization-type"  value="content" formControlName="mediumLargeAccount" ngDefaultControl>
                    <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                  </ibm-dropdown>
                </div>
                <div class="form-text">Account geographical location</div>
                <div class="typeOrganization" >
                    <ibm-dropdown placeholder="Account location is in one of the following countries or regions" id="organization-type"  value="content" formControlName="accountGeographical" ngDefaultControl>
                      <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                    </ibm-dropdown>
                  </div>
                  <span class="left-addon">
                    <ibm-icon-search16 class="searchICon"></ibm-icon-search16>
                    <input ibmText class=" inputbx" placeholder="Find geographical locations" id="parent-organization" formControlName="findGeographical" ngDefaultControl>
                  </span>

                  <div class="form-text">Account location of operation</div>
                  <div class="typeOrganization" >
                      <ibm-dropdown placeholder="Account operates is in one of the following countries or regions" id="organization-type" value="content" formControlName="accountLocation" ngDefaultControl>
                        <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                      </ibm-dropdown>
                    </div>

                    <div class="form-text">Account industry</div>
              <div class="typeOrganization" >
                <ibm-dropdown placeholder="Target the following industries" id="organization-type"  value="content" formControlName="accountIndustry" ngDefaultControl>
                  <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                </ibm-dropdown>
              </div>
              <div class="typeOrganization" >
                  <ibm-dropdown placeholder="Auto, Consumer product" id="organization-type"  value="content" formControlName="consumerProduct" ngDefaultControl>
                    <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                  </ibm-dropdown>
                </div>

                <div class="form-text">Account business</div>
              <div class="typeOrganization" >
                <ibm-dropdown placeholder="Target the following business types" id="organization-type"  value="content" formControlName="accountBusiness" ngDefaultControl>
                  <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                </ibm-dropdown>
              </div>
              <div class="typeOrganization" >
                  <ibm-dropdown placeholder="Distributor, Manufacturer" id="organization-type"  value="content" formControlName="accountDistributor" ngDefaultControl>
                    <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                  </ibm-dropdown>
                </div>

                <div class="form-text">Account sales</div>
                <div class="typeOrganization" >
                  <ibm-dropdown placeholder="Amount spent must be greater than the following amount" id="organization-type"  value="content" formControlName="accountSales" ngDefaultControl>
                    <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                  </ibm-dropdown>
                </div>
                <input ibmText class=" inputbx" placeholder="$25,000 (USD)" id="parent-organization" formControlName="amount" ngDefaultControl>
        </div>
      </div>
      <div class="bx--row footer-content">
        <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
          <div class="bx--row">
            <div class="bx--col-sm-2 bx--col-md-2"></div>
            <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
              <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="routeGroupList()"
                >{{'MANAGE_USER.ORGANIZATION_CONTACT.CANCEL' | translate}}</button>
              <button ibmButton size="lg" id="save-preview" class="back-button" (click)="routeGroupDetails()"
                >{{'MANAGE_USER.ORGANIZATION_CONTACT.BACK' | translate}}</button>
              <button ibmButton size="lg" id="save-preview" class="next-button" type="submit" (click)="routeGroupList()"
                >{{'MANAGE_USER.ORGANIZATION_CONTACT.SUBMIT' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>