
  .header-border {
    width: 98%;
    margin: 0 0 2% 1%;
    margin-top: -0.5%;  
  }
  .side-content {
    padding-top: 4%; 
    background-color: #ffffff; 
  }
  .main-content {
    padding-top: 56px;
    margin: 0 0 0.2% 0.2%;
    background-color: #ffffff;
  }
  .inside-content {
    margin-left: 20px;
  }
  .footer-content {
    margin: 0 0 0.2% 0.2%;
    background-color: #ffffff;
  }
  .text-margin {
    margin-left: 5px;
  }
  .side-txt-margin {
    margin-left: 5px;
  }
  .header {
    width: 100%;
    height: 38px;
    margin-top: 2px;
    background: #343334;
    color: white;
    padding: 3px 0px 0px 10px;
  }
  .menu-icon {
    padding: 5px;
    fill: white;
  }
  .ibm-text {
    font-size: 14px;
    position: absolute;
    top: 16px;
    margin-left: 25px;
  }
  .users {
    width: 100%;
    height: 35px;
    background: white;
    color: black;
    padding: 8px 0px 0px 18px;
    font-size: 14px;
  }
  .user-show {
    font-size: 12px;
    width: 36px;
    position: relative;
  }
  .border-div {
    border: 1px solid gray;
  }
  .radio-icon {
    font-size: 10px;
    height: 30px;
    line-height: 20px;
  }
  .new-user {
    font-weight: 600
  }
  .chevron-icon {
    font-size: 20px;
    line-height: 24px;
    vertical-align: middle;
  }
  .icon-top {
    margin-left: 10px;
    margin-right: 10px;
  }
  .next-button {
    width: 33.68%;
    text-align: left;
    background-color: #0F6DFF;
    height: 3rem;
  }
  .cancel-button {
    width: 20%;
    height: 3rem;
  }
  .footer-btn {
    margin: 3% 0% 3% 35%;
  }
  .inputbx {
    background: #f4f7fb;
    // height: 30px;
    height: 2.5rem;
    font-size: 14px;
    color: #282828;
  }
  .form-text {
    margin-bottom: 1%;
  }
  .password-show {
    float: right;
    font-size: 12px;
    width: 36px;
    position: relative;
    top: 6px;
  }
  .view-icon {
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    left: -17px;
    bottom: -10px;
  }
  .clr{clear: both;}
  .input-tikmark {
    position: relative; 
  }
  // .input-tikmark input {
  //   text-indent: 30px;
  //   font-family:  FontAwesome, sans-serif;
  // }
  .input-tikmark .fa-tickmark { 
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 15px;
    z-index: 10000;
    fill: blue;
  }
  .show-margin {
    margin-left: 12%;
  }
  .right-content {
    padding-left: 1px;
  }
  .account-dot {
    background-color: #0062FF;
  }
  .dot {
    height: 18px;
    width:  4px;
    display: inline-block;
    border: 1px solid #0062FF;
    position: absolute;
    margin-inline-start: -25px;
  }
  .inside-footer {
    margin: 4% 0 4% 0;
  }
  .footer-btn-margin {
    margin-left: 48.5%;
  }
  .bx--list-box {
    position: relative;
    width: 100%;
    height: 2.5rem;
    max-height: 2.5rem;
    background-color: #f4f7fb;
    border: none;
    box-shadow: 0 1px 0 0 #5a6872;
    order: 1;
    cursor: pointer;
    color: #152935;
    margin-left: 5%;
}
