<div class="header">
  <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.MANAGE_USER_CONTACT.TITLE'| translate}}</span>
</div>
<div class="border-div">
  <div class="users">
    <!-- <span>Password</span>
              <span class="user-show">
                  <span><ibm-icon-chevron-right16 id="table-icon" class="chevron-icon"></ibm-icon-chevron-right16></span>
                  <span><strong class="new-user">New User</strong></span>
              </span>
              <div class="clr"></div> -->
    <span>{{'MANAGE_USER.MANAGE_USER_CONTACT.USERS'| translate}}</span>
    <span class="icon-top">
      <ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16>
    </span>
    <span><strong class="new-user">{{'MANAGE_USER.MANAGE_USER_CONTACT.EDIT_USER'| translate}}</strong></span>
    <div class="clr"></div>
  </div>
   <div class="bx--row header-border">
    <div class="bx--col-sm-4 bx--col-md-4 side-content">
      <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
        <span></span>
        <div class="text-margin" (click)="goToAccount()">{{'MANAGE_USER.MANAGE_USER_CONTACT.ACCOUNT_INFORMATION'| translate}}</div><br />
        <span class="dot account-dot"></span>
        <div>{{'MANAGE_USER.MANAGE_USER_CONTACT.CONTACT_INFORMATION'| translate}}</div><br />
        <div class="text-margin" (click)="goToRoles()">{{'MANAGE_USER.MANAGE_USER_CONTACT.ROLES'| translate}}</div><br />
        <div class="text-margin" (click)="goToGroups()">{{'MANAGE_USER.MANAGE_USER_CONTACT.GROUPS'| translate}}</div>
      </div>
    </div>
    <div class="bx--col-sm-8 bx--col-md-8 right-content">
      <div class="bx--row main-content">
        <div class="bx--col-sm-11 bx--col-md-11 inside-content">
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_CONTACT.TITLE_OPTIONAL' | translate}}</div>
          <ibm-dropdown
          placeholder="Select title"
          [disabled]="disabled"
          [(ngModel)]="model"
          value="content">
            <ibm-dropdown-list [items]="items"></ibm-dropdown-list>
          </ibm-dropdown><br />
          <div class="bx--row name-field">
            <div class="bx--col-sm-6 bx--col-md-6">
              <div class="form-text">{{'MANAGE_USER.MANAGE_USER_CONTACT.FIRST_NAME' | translate}}</div>
              <input ibmText class="inputbx" [(ngModel)]="firstName"><br />
            </div>
            <div class="bx--col-sm-6 bx--col-md-6">
              <div class="form-text">{{'MANAGE_USER.MANAGE_USER_CONTACT.LAST_NAME' | translate}}</div>
              <input ibmText class="inputbx" [(ngModel)]="lastName"><br />
            </div>
          </div>
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_CONTACT.STREET_ADDRESS' | translate}}</div>
          <input ibmText class="inputbx" [(ngModel)]="streetAddress1"><br />
          <input ibmText class="inputbx" [(ngModel)]="streetAddress2"><br />
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_CONTACT.CITY' | translate}}</div>
          <input ibmText class="inputbx" [(ngModel)]="city"><br />
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_CONTACT.COUNTRY' | translate}}</div>
          <input ibmText class="inputbx" [(ngModel)]="country"><br />
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_CONTACT.STATE_PROVINCE_REGION' | translate}}</div>
          <input ibmText class="inputbx" [(ngModel)]="state"><br />
          <div class="form-text">{{'MANAGE_USER.MANAGE_USER_CONTACT.ZIPCODE' | translate}}</div>
          <input ibmText class="inputbx" [(ngModel)]="zipcode">
        </div>
      </div>
      <div class="bx--row footer-content">
        <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
          <div class="bx--row">
            <div class="bx--col-sm-4 bx--col-md-4"></div>
            <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
              <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="cancelClick()">{{'MANAGE_USER.MANAGE_USER_CONTACT.CANCEL'|
                translate}}</button>
              <button ibmButton size="lg" id="save-preview" class="next-button" (click)=saveContact()>{{'MANAGE_USER.MANAGE_USER_CONTACT.SAVE'|
                translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>