
  <div class="header">
    <ibm-icon-menu32 id="table-icon" class="menu-icon"></ibm-icon-menu32>
    <span class="ibm-text">IBM Watson Commerce</span>
  </div>
  <div class="border-div">
      <div class="users">
        <span>Users</span>
        <span class="icon-top"><ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16></span>
        <span><strong class="new-user">New User</strong></span>
        <div class="clr"></div>
      </div>
        <div class="bx--row header-border">
          <div class="bx--col-sm-4 bx--col-md-4 side-content">
            <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
              <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
              <span class="text-margin">Account Information</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
            <span class="text-margin">Contact Information</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot account-dot"></span><span class="text-margin">Roles (Optional)</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">Groups (Optional)</span>
            </div>
          </div>
          <div class="bx--col-sm-8 bx--col-md-8 right-content">
            <div class="bx--row main-content">
              <div class="bx--col-sm-11 bx--col-md-11 inside-content">
                <div class="info-text">
                    <p>Select an organization and choose the user's roles from the list of available</p>
                    <p>roles. A user can have roles in more than one organization.</p>
                </div>
                <div class="form-text">Organization</div>
                  <!-- <ibm-select [(ngModel)]="model">
                      <option value="default" disabled selected hidden>Select title</option>
                      <option value="option1">Option 1</option>
                      <option value="option2">Option 2</option>
                      <option value="option3">Option 3</option>
                      </ibm-select><br/><br/> -->
                <ibm-dropdown
                  placeholder="Select title"
                  [disabled]="disabled"
                  [(ngModel)]="model"
                  value="content">
                  <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                </ibm-dropdown>
                <div class="form-text select-field">Available roles</div>
                <ibm-dropdown
                  placeholder="Select title"
                  [disabled]="disabled"
                  [(ngModel)]="modelRoles"
                  value="content" (click)="mySelectedRoles(modelRoles)">
                  <ibm-dropdown-list [items]="rolesList"></ibm-dropdown-list>
                </ibm-dropdown>
                <div class="roles-margin">
                  <span>Selected roles</span>
                </div>
                <div class="roles-margin">
                  <span class="model-role" *ngFor="let Roles of result; let i = index" [attr.data-index]="i">{{Roles}}
                    <ibm-icon-close16 class="icon-close"  (click)="RemoveRoles(Roles)"></ibm-icon-close16>
                  </span>
                </div>
              </div>
            </div>
            <div class="bx--row footer-content">
              <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
                <div class="bx--row">
                  <div class="bx--col-sm-2 bx--col-md-2"></div>
                  <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
                    <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="cancelClick()">Cancel</button>
                    <button ibmButton size="lg" id="save-preview" class="back-button" (click)="backClick()">Back</button>
                    <button ibmButton size="lg" id="save-preview" class="next-button" (click)="goToGroup()">Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  
