
  <div class="header">
    <ibm-icon-menu32 id="table-icon" class="menu-icon"></ibm-icon-menu32>
    <span class="ibm-text">{{'MANAGE_USER.USER_ROLES.TITLE'| translate}}</span>
  </div>
  <div class="border-div">
      <div class="users">
        <span>{{'MANAGE_USER.USER_ROLES.USERS'| translate}}</span>
        <span class="icon-top"><ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16></span>
        <span><strong class="new-user">{{'MANAGE_USER.USER_ROLES.NEW_USER'| translate}}</strong></span>
        <div class="clr"></div>
      </div>
        <div class="bx--row header-border">
          <div class="bx--col-sm-4 bx--col-md-4 side-content">
            <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
              <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
              <span class="text-margin">{{'MANAGE_USER.USER_ROLES.ACCOUNT_INFORMATION'| translate}}</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
            <span class="text-margin">{{'MANAGE_USER.USER_ROLES.CONTACT_INFORMATION'| translate}}</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot account-dot"></span><span class="text-weight">{{'MANAGE_USER.USER_ROLES.ROLES'| translate}}
                <span class="optional-text">{{'MANAGE_USER.USER_ACCOUNT.OPTIONAL' | translate}}</span>
            </span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">{{'MANAGE_USER.USER_ROLES.GROUPS'| translate}}
                <span class="optional-text">{{'MANAGE_USER.USER_ACCOUNT.OPTIONAL' | translate}}</span>
            </span>
            </div>
          </div>
          <form [formGroup]="rolesForm" class="bx--col-sm-8 bx--col-md-8 right-content">
            <div class="bx--row main-content">
              <div class="bx--col-sm-11 bx--col-md-11 inside-content">
                <div class="info-text">
                    <p>{{'MANAGE_USER.USER_ROLES.SELECT_AN_ORGANIZATION'| translate}}</p>
                    <p>{{'MANAGE_USER.USER_ROLES.MULTIPLE_ROLES'| translate}}</p>
                </div>
                <div class="form-text">{{'MANAGE_USER.USER_ROLES.ORGANIZATION'| translate}}</div>
                <ibm-dropdown
                  placeholder="Select title"
                  formControlName="organization"
                  value="content" id="organizationName" ngDefaultControl>
                  <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
                </ibm-dropdown>
                <div class="form-text select-field">{{'MANAGE_USER.USER_ROLES.AVAILABLE_ROLES'| translate}}</div>
                <ibm-dropdown
                  placeholder="Select title"
                  formControlName="availablrRoles"
                  value="content" (click)="mySelectedRoles(availablrRoles)" id="rolesList" ngDefaultControl>
                  <ibm-dropdown-list [items]="rolesList"></ibm-dropdown-list>
                </ibm-dropdown>
                <div class="roles-margin">
                  <span>{{'MANAGE_USER.USER_ROLES.SELECTED_ROLES'| translate}}</span>
                </div>
                <div class="roles-margin">
                  <span class="model-role" *ngFor="let Roles of result; let i = index" [attr.data-index]="i">{{Roles}}
                    <ibm-icon-close16 class="icon-close"  (click)="RemoveRoles(Roles)"></ibm-icon-close16>
                  </span>
                </div>
              </div>
            </div>
            <div class="bx--row footer-content">
              <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
                <div class="bx--row">
                  <div class="bx--col-sm-2 bx--col-md-2"></div>
                  <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
                    <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="cancelClick()">{{'MANAGE_USER.USER_ROLES.CANCEL'| translate}}</button>
                    <button ibmButton size="lg" id="save-preview" class="back-button" (click)="backClick()">{{'MANAGE_USER.USER_ROLES.BACK'| translate}}</button>
                    <button ibmButton size="lg" id="save-preview" class="next-button" (click)="goToGroup()">{{'MANAGE_USER.USER_ROLES.NEXT'| translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
  </div>