<ibm-modal size='size'>
    <ibm-modal-header (closeSelect)="closeModal($event)">Message Console</ibm-modal-header>
    <!-- <div class="">
    <ibm-dropdown>
    <ibm-dropdown-list [items]="modalListitems"></ibm-dropdown-list>
</ibm-dropdown>
</div> 
<section class="bx--modal-content"> -->

    <div class="container">
        <div class="bx--row">
            <div class="bx--col-md-12">
                <div class="ibm-dropdownModal">
                    <ibm-dropdown>
                        <ibm-dropdown-list [items]="modalListitems"></ibm-dropdown-list>
                    </ibm-dropdown>
                </div>
                <div class="tooltipQuestionMark">
                    <span [ibmTooltip]="templateTooltip" trigger="click" placement="bottom" style="cursor: pointer;">
                        <ibm-icon-help-filled20 class="icon-svg-help"></ibm-icon-help-filled20>
                    </span>
                </div>
                <ng-template #templateTooltip let-tooltip="tooltip">
                    <p>{{ 'CATALOGS.FOOTR.tip_help1' | translate }}</p>
                    <p>{{ 'CATALOGS.FOOTR.tip_help2' | translate }}</p>
                    <p>{{ 'CATALOGS.FOOTR.tip_help3' | translate }}</p>
                
                    <div>
                        <a href="https://www.ibm.com/support/knowledgecenter/en/SS9PHW/com.ibm.commerce.management-center.doc/tasks/ttfviewmessages.htm"
                            ibmLink target="blank"> <p>{{ 'CATALOGS.FOOTR.more_details' | translate }}</p></a>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="bx--row">
            <div class="bx--col-md-12 modaltable">
                    <ibm-table
                    [model]="customModel" [size]="size" [showSelectionColumn]="showSelectionColumn">
                    </ibm-table>

                <div class="empty-table-msg">
                        <p>{{ 'CATALOGS.FOOTR.no_data' | translate }}</p>
                </div>
                <div class="errorCount">
                    <span class="table-selection-info">{{availableRows}} {{ 'CATALOGS.FOOTR.of' | translate }} {{totalRows}} {{ 'CATALOGS.FOOTR.selected' | translate }}</span>
                </div>
            </div>
        </div>
    </div>
    <ibm-modal-footer>
        <button ibmButton modal-primary-focus class="footerbutton" (click)="closeModal($event)">{{ 'CATALOGS.HEADR.copy' | translate }}</button>
        <button ibmButton class="footerbutton" (click)="closeModal($event)">{{ 'CATALOGS.FOOTR.clear' | translate }}</button>
        <button ibmButton modal-primary-focus class="footerbutton" (click)="closeModal($event)">{{ 'CATALOGS.HEADR.close' | translate }}</button>
    </ibm-modal-footer>
</ibm-modal>



