<div class="header">
  <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.ORGANIZATION_DETAILS.TITLE' | translate}}</span>
</div>

<div class="border-div">

  <div class="organizations">
    <span>{{'MANAGE_USER.ORGANIZATION_DETAILS.ORGANIZATIONS' | translate}}</span>
    <span class="icon-top">
      <ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16>
    </span>
    <span><strong
        class="new-organization">{{'MANAGE_USER.ORGANIZATION_DETAILS.NEW_ORGANIZATION' | translate}}</strong></span>
    <div class="clr"></div>
  </div>

   <div class="bx--row header-border">

    <div class="bx--col-sm-4 bx--col-md-4 side-content">
      <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
        <!-- <ibm-icon-radio-button20 id="radio-icon" class="radio-icon"></ibm-icon-radio-button20><span class="text-margin">Account Information</span> -->
        <span class="dot account-dot"></span><span
          class="text-margin">{{'MANAGE_USER.ORGANIZATION_DETAILS.ORGANISATION_DETAILS_HEADING' | translate}}</span>
        <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
        <span class="dot"></span><span
          class="text-margin">{{'MANAGE_USER.ORGANIZATION_DETAILS.CONTACT_INFORMATION' | translate}}</span>
        <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
        <span class="dot"></span><span
          class="text-margin">{{'MANAGE_USER.ORGANIZATION_DETAILS.ROLES' | translate}}</span>
        <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
        <span class="dot"></span><span
          class="text-margin">{{'MANAGE_USER.ORGANIZATION_DETAILS.APPROVALS' | translate}}</span>
      </div>
    </div>

    <div class="bx--col-sm-8 bx--col-md-8 right-content">
        <form  [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="bx--row main-content">
        <div class="bx--col-sm-11 bx--col-md-11 inside-content">
          
          <div class="form-text">{{'MANAGE_USER.ORGANIZATION_DETAILS.ORGANIZATION_NAME' | translate}}</div>
          <input ibmText class=" inputbx" id="organizationName" formControlName="organizationName">
          <div class="form-text">{{'MANAGE_USER.ORGANIZATION_DETAILS.DESCRIPTION_OPTIONAL' | translate}}</div>
          <input ibmText class="inputbx" id="description-optional" formControlName="description">

          <div class="form-text">{{'MANAGE_USER.ORGANIZATION_DETAILS.TYPE' | translate}}</div>
          <div class="typeOrganization" >
            <ibm-dropdown placeholder="Select title" id="organization-type" [disabled]="disabled" value="content" formControlName="organizationType">
              <ibm-dropdown-list [items]="orgList"></ibm-dropdown-list>
            </ibm-dropdown>
          </div>

          <div class="form-text">{{'MANAGE_USER.ORGANIZATION_DETAILS.PARENT_ORGANIZATION' | translate}}</div>
          <span class="left-addon">
            <ibm-icon-search16 class="searchICon"></ibm-icon-search16>
            <input ibmText class=" inputbx" placeholder="Find organization" id="parent-organization" formControlName="searchOrganization">
          </span>
        
        </div>
      </div>

      <div class="bx--row footer-content">
        <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
          <div class="bx--row">
            <div class="bx--col-sm-5 bx--col-md-5"></div>
            <div class="bx--col-sm-7 bx--col-md-7 footer-btn-margin">
              <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="routeOrganizationList()"
                >{{'MANAGE_USER.ORGANIZATION_DETAILS.CANCEL' | translate}}</button>
              <button ibmButton size="lg" id="save-preview" class="next-button" type="submit"
                >{{'MANAGE_USER.ORGANIZATION_DETAILS.NEXT' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>