<div class="header">
  <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.ORGANIZATION_CONTACT.TITLE' | translate}}</span>
</div>
<div class="border-div">
  <div class="users">
    <span>{{'MANAGE_USER.ORGANIZATION_CONTACT.ORGANIZATIONS' | translate}}</span>
    <span class="icon-top">
      <ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16>
    </span>
    <span><strong class="new-user">{{'MANAGE_USER.ORGANIZATION_CONTACT.NEW_ORGANIZATION' | translate}}</strong></span>
    <div class="clr"></div>
  </div>

   <div class="bx--row header-border">
    <div class="bx--col-sm-4 bx--col-md-4 side-content">
      <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
        <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
        <span class="text-margin">{{'MANAGE_USER.ORGANIZATION_CONTACT.ORGANISATION_DETAILS_HEADING' | translate}}</span>
        <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
        <span class="dot account-dot"></span>
        <span class="text-margin">{{'MANAGE_USER.ORGANIZATION_CONTACT.CONTACT_INFORMATION' | translate}}</span>
        <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
        <span class="dot"></span><span
          class="text-margin">{{'MANAGE_USER.ORGANIZATION_CONTACT.ROLES' | translate}}</span>
        <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
        <span class="dot"></span><span
          class="text-margin">{{'MANAGE_USER.ORGANIZATION_CONTACT.APPROVALS' | translate}}</span>
      </div>
    </div>
    <div class="bx--col-sm-8 bx--col-md-8 right-content">
        <form  [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="bx--row main-content">
        <div class="bx--col-sm-11 bx--col-md-11 inside-content">
          <div class="form-text">{{'MANAGE_USER.ORGANIZATION_CONTACT.CONTACT_NAME' | translate}}</div>
          <input ibmText class="inputbx" id="contact-name" #refName formControlName="firstName">
          <!--Validation for the Contact name field.-->
          <div class="errorField" *ngIf="contactForm.controls['firstName'].hasError('required')">
            Contact Name is the Mandatory field.
          </div>
          <div class="errorField" *ngIf="contactForm.controls['firstName'].hasError('minlength')">
              Minimum length should be 4
            </div>
            <div class="errorField" *ngIf="contactForm.controls['firstName'].hasError('maxlength')">
                Maximum length should be 10
              </div>
          <div class="form-text">{{'MANAGE_USER.ORGANIZATION_CONTACT.CONTACT_EMAIL' | translate}}</div>
          <input type="email" class=" inputbx" id="contact-email" #refEmail formControlName="email1">
          <!--Validation for the Email field.-->
          <div class="errorField" *ngIf="contactForm.controls['email1'].hasError('required')">
              Email is Mandatory to proceed.
            </div>
          <div class="errorField" *ngIf="contactForm.controls['email1'].hasError('pattern')">
              Please Enter a valid email
            </div>
          <div class="form-text">{{'MANAGE_USER.ORGANIZATION_CONTACT.STREET_ADDRESS' | translate}}</div>
          <input ibmText class=" inputbx" id="contact-street" placeholder="Strett and number, P.O. box, c/o" formControlName="address1">
          <input ibmText class=" inputbx" id="contact-apartment" placeholder="Apartment, suite, unit, building, floor, etc." formControlName="address2">
          <div class="form-text">{{'MANAGE_USER.ORGANIZATION_CONTACT.CITY' | translate}}</div>
          <input ibmText class=" inputbx" id="contact-city" formControlName="city">
          <div class="form-text">{{'MANAGE_USER.ORGANIZATION_CONTACT.COUNTRY' | translate}}</div>
          <input ibmText class=" inputbx" id="contact-city" (keyup)="countryInputKeyup()" formControlName="country">
          <div>
            <ul *ngIf="showCountryList">
              <li class="list-data" *ngFor="let countryInfo of countryList | search:country.value"
              (click)="selectCountry(countryInfo)">
              {{countryInfo.name}}</li>
            </ul>
          </div>
          <div class="form-text">{{'MANAGE_USER.ORGANIZATION_CONTACT.ADDRESS' | translate}}</div>
          <input ibmText class=" inputbx" id="contact-state" (keyup)="stateInputKeyup()" formControlName="state">
          <div>
            <ul *ngIf="showStateList">
              <li class="list-data" *ngFor="let state of stateList | search:state.value"
              (click)="selectState(state)">
              {{state.name}}</li>
            </ul>
          </div>
          <div class="form-text">{{'MANAGE_USER.ORGANIZATION_CONTACT.ZIP' | translate}}</div>
          <input ibmText class=" inputbx" id="contact-state" formControlName="zipCode">
        </div>
      </div>
      <div class="bx--row footer-content">
        <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
          <div class="bx--row">
            <div class="bx--col-sm-2 bx--col-md-2"></div>
            <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
              <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="routeOrganizationList()"
                >{{'MANAGE_USER.ORGANIZATION_CONTACT.CANCEL' | translate}}</button>
              <button ibmButton size="lg" id="save-preview" class="back-button" (click)="routeOrganizationDetails()"
                >{{'MANAGE_USER.ORGANIZATION_CONTACT.BACK' | translate}}</button>
              <!-- <button ibmButton size="lg" id="save-preview" class="next-button" type="submit"
                >{{'MANAGE_USER.ORGANIZATION_CONTACT.NEXT' | translate}}</button> -->

                <button ibmButton size="lg" id="save-preview" [disabled]="!contactForm.valid" class="next-button" type="submit"
                >{{'MANAGE_USER.ORGANIZATION_CONTACT.NEXT' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
        </form>
    </div>
  </div>
</div>