<!-- <div class="header">
  <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.USER_ACCOUNT.TITLE' | translate}}</span>
</div> -->
<div class="border-div">
  <div class="approval">
    <span class="breadcumbApproval">{{'APPROVALS.BREADCRUMB.APPROVALS' | translate}}</span>
    <span class="icon-top">
      <ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16>
    </span>
    <span><strong class="new-user">{{'APPROVALS.BREADCRUMB.APPROVAL_SUMMARY' | translate}}</strong></span>
    <div class="clr"></div>
  </div>
  <div class="bx--row header-border ">
    <div class="bx--col-sm-12 bx--col-md-12 side-content">
      <div class="bodyContainer">
        <p class="summHeader">Organization details</p>
        <hr class="underline">
        <div class="approvalData">
        <span class="orgDetails1">Name</span>
        <span class="orgDetails2">Address</span>
        <span class="orgDetails3">Parent</span>
      </div>
      <div class="approvalData2">
          <span class="approvaldetail1">Name</span>
          <span class="approvaldetail2">Address</span>
          <span class="approvaldetail3">Parent</span>
      </div>
      </div>
      <div class="bodyContainer">
        <p class="summHeader">User details</p>
        <hr class="underline">
        <div class="approvalData">
        <span class="orgDetails1">Name</span>
        <span class="orgDetails2">Username</span>
        <span class="orgDetails3">Email</span>
      </div>
      <div class="approvalData2">
          <span class="approvaldetail1">Name</span>
          <span class="approvaldetail2">Address</span>
          <span class="approvaldetail32">Parent</span>
      </div>
        <div class="secondrowOrgdetail">
          <span class="orgDetails1">Organization</span>
          <span class="orgDetails23">Roles</span>
        </div>
        <div class="approvalData2">
            <span class="approvaldetail1">Name</span>
            <span class="approvaldetail22">Address</span>
          
        </div>
      </div>
      <div>
      <p class="comment">Comments</p>
          
              <textarea ibmTextArea aria-label="textarea" rows="4" cols="50"></textarea>
              <!-- <input ibmText class=" inputbx"> -->
      
            </div>
    
      <div class="footerButtons">
        <button ibmButton='danger--primary' class="footButtonCancel">Cancel</button> 
        <button ibmButton='tertiary' class="footButton">Reject</button>
        <button ibmButton='primary' class="footButton">Approve</button>
      </div>
    </div>
  </div>
</div>