<div class="header">
  <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.USER_ACCOUNT.TITLE' | translate}}</span>
</div>
<div class="border-div">
  <div class="users">
    <span>{{'MANAGE_USER.APPROVALS.approvals' | translate}}</span>
    <span class="icon-top">
      <ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16>
    </span>
    <span><strong class="new-user">{{'MANAGE_USER.APPROVALS.approval_summary' | translate}}</strong></span>
    <div class="clr"></div>
  </div>
  <div class="bx--row header-border ">
    <div class="bx--col-sm-12 bx--col-md-12 side-content">
      <div class="bodyContainer">
        <p class="summHeader">Organization details</p>
        <hr class="underline">
        <div class="approvalData">
        <span class="orgDetails">Name</span>
        <span class="orgDetails">Address</span>
        <span class="orgDetails">Parent</span>
      </div>
      <div class="approvalData2">
          <span class="approvaldetail">Name</span>
          <span class="approvaldetail">Address</span>
          <span class="approvaldetail">Parent</span>
      </div>
      </div>
      <div class="bodyContainer">
        <p class="summHeader">User details</p>
        <hr class="underline">
        <div class="approvalData">
        <span class="orgDetails">Name</span>
        <span class="orgDetails">Username</span>
        <span class="orgDetails">Email</span>
      </div>
      <div class="approvalData2">
          <span class="approvaldetail">Name</span>
          <span class="approvaldetail">Address</span>
          <span class="approvaldetail">Parent</span>
      </div>
        <div class="secondrowOrgdetail">
          <span class="orgDetails">Organization</span>
          <span class="orgDetails">Roles</span>
        </div>
        <div class="approvalData2">
            <span class="approvaldetail">Name</span>
            <span class="approvaldetail">Address</span>
          
        </div>
      </div>
      <div>
      <p class="comment">Comments</p>
          
              <textarea ibmTextArea aria-label="textarea" rows="4" cols="50"></textarea>
              <!-- <input ibmText class=" inputbx"> -->
      
            </div>
    
      <div class="footerButtons">
        <button ibmButton='secondary' class="footButton">Cancel</button> 
        <button ibmButton='tertiary' class="footButton">Reject</button>
        <button ibmButton='primary' class="footButton">Approve</button>
      </div>
    </div>
  </div>
</div>