#find-org-component {
    .find-input {
        margin-bottom: 25px;
    }

    .find-org-description {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    h2 {
        margin-top: 15px;
    }

    n-dropdown {
        margin-top: 10px;
    }
}