<div id="find-org-component">
  <div class="breadcrumb-container">
      <a href = {{ORGANIZATIONS_HELPLINKS}} target="_blank">
        <ac-help-links></ac-help-links>
      </a>
  </div>
  <div class="bx--row find-input">
      <div class="bx--col-xs-12 bx--col-md-12 bx--col-lg-12 find-input">
        <h2><label [translate]="'ORGANIZATIONS.FIND_ORGANIZATION.header'"></label></h2>
        <p class="find-org-description" [translate]="'ORGANIZATIONS.FIND_ORGANIZATION.description'"></p>
      </div>
      <div class="bx--col-xs-12 bx--col-md-12 bx--col-lg-12 find-input">
        <ibm-label>
          {{ 'ORGANIZATIONS.FIND_ORGANIZATION.orgName' | translate }}
        </ibm-label>
        <ibm-dropdown placeholder="{{'ORGANIZATIONS.FIND_ORGANIZATION.orgNameDesc' | translate}}" (selected)="onOrgSelected($event)" >
          <ibm-dropdown-list [items]="orgItems"></ibm-dropdown-list>
        </ibm-dropdown>
      </div>
      <div class="bx--col-xs-12 bx--col-md-12 bx--col-lg-12 find-input">
        <ibm-label>
          {{ 'ORGANIZATIONS.FIND_ORGANIZATION.parentOrg' | translate }}
        </ibm-label>
        <ibm-dropdown placeholder="{{'ORGANIZATIONS.FIND_ORGANIZATION.parentOrgDesc' | translate}}" (selected)="onParentOrgSelected($event)" >
            <ibm-dropdown-list [items]="parentOrgItems"></ibm-dropdown-list>
        </ibm-dropdown>
      </div>
  </div>
    <hr>
  <footer class="bx--row bx--offset-md-10 bx--offset-lg-10">
      <div class="btn-group--lg " role="group">
        <button [disabled]="!validRequest()" class="bx--btn bx--btn--primary" type="button" (click)="findOrg()" [translate]="'ORGANIZATIONS.FIND_ORGANIZATION.submitBtn'" ></button>
        <button class="bx--btn bx--btn--secondary" type="button"routerLink="/organizations" [translate]="'ORGANIZATIONS.FIND_ORGANIZATION.cancelBtn'" ></button>
      </div>
  </footer>
</div>

