
  <div class="border-div">
      <div class="users">
        <span>{{'MANAGE_USER.USER_GROUPS.USERS'| translate}}</span>
        <span class="icon-top"><ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16></span>
        <span><strong class="new-user">{{'MANAGE_USER.USER_GROUPS.NEW_USER'| translate}}</strong></span>
        <div class="clr"></div>
      </div>
        <div class="bx--row header-border">
          <div class="bx--col-sm-4 bx--col-md-4 side-content">
            <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
              <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
              <span class="text-margin">{{'MANAGE_USER.USER_GROUPS.ACCOUNT_INFORMATION'| translate}}</span>
              <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
              <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
              <span class="text-margin">{{'MANAGE_USER.USER_GROUPS.CONTACT_INFORMATION'| translate}}</span>
              <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
              <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
              <span class="text-margin">{{'MANAGE_USER.USER_GROUPS.ROLES'| translate}}
                  <span class="optional-text">{{'MANAGE_USER.USER_ACCOUNT.OPTIONAL' | translate}}</span>
              </span>
              <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
              <span class="dot account-dot"></span><span class="text-weight">{{'MANAGE_USER.USER_GROUPS.GROUPS'| translate}}
                  <span class="optional-text">{{'MANAGE_USER.USER_ACCOUNT.OPTIONAL' | translate}}</span>
              </span>
            </div>
          </div>
          <form [formGroup]="groupForm" class="bx--col-sm-8 bx--col-md-8 right-content">
            <div class="bx--row main-content">
              <div class="bx--col-sm-11 bx--col-md-11 inside-content">
                    <ibm-tabs>
                        <ibm-tab heading="Include" class="group-header">
                            <div class="slct-grp-content">
                                <div class="slct-grp-txt">
                                    <span>{{'MANAGE_USER.USER_GROUPS.INCLUDE_TAB.SELECT_GROUP'| translate}}</span>
                                </div>
                              <div>
                                <div class="aval-grp-txt">
                                    <span>{{'MANAGE_USER.USER_GROUPS.INCLUDE_TAB.AVAILABLE_GROUPS'| translate}}</span>
                                </div>
                                <input ibmText class="inputbx" placeholder="Find a group" formControlName="includeSearchText" id="groupsInput" ngDefaultControl>
                                <ul *ngIf="!showFullList">
                                  <li *ngFor="let groupList of groupListData | slice:0:10" class="list-content">
                                      <ibm-checkbox (change)="onChangeCheckbox(groupList,$event)">
                                      {{groupList.groupName}}
                                    </ibm-checkbox>
                                  </li>
                                </ul>
                                <ul *ngIf="showFullList">
                                  <li *ngFor="let groupList of groupListData" class="list-content">
                                      <ibm-checkbox (change)="onChangeCheckbox(groupList,$event)">
                                      {{groupList.groupName}}
                                    </ibm-checkbox>
                                  </li>
                                </ul>
                              </div>
                              <div class="total-items" (click)="showTotalItems()">
                                  <span >{{'MANAGE_USER.USER_GROUPS.INCLUDE_TAB.ITEMS'| translate}}</span>
                              </div>
                            </div>
                        </ibm-tab>
                        <ibm-tab heading="Exclude" class="group-header">
                            <div class="slct-grp-content">
                                <div class="slct-grp-txt">
                                    <span>{{'MANAGE_USER.USER_GROUPS.EXCLUDE_TAB.SELECT_GROUP'| translate}}</span>
                                </div>
                              <div>
                                <div class="aval-grp-txt">
                                    <span>{{'MANAGE_USER.USER_GROUPS.EXCLUDE_TAB.AVAILABLE_GROUPS'| translate}}</span>
                                </div>
                                <input ibmText class="inputbx" placeholder="Find a group" formControlName="excludeSearchText" ngDefaultControl>
                                <ul>
                                  <li *ngFor="let groupList of groupListData | filter:excludeSearchText.value" class="list-content">
                                      <ibm-checkbox
                                      (change)="onChange($event)">
                                      {{groupList.groupName}}
                                    </ibm-checkbox>
                                  </li>
                                </ul>
                              </div>
                              <div class="total-items">
                                  <span >{{'MANAGE_USER.USER_GROUPS.EXCLUDE_TAB.ITEMS'| translate}}</span>
                              </div>
                            </div>
                        </ibm-tab>
                      </ibm-tabs>
              </div>
            </div>
            <div class="bx--row footer-content">
              <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
                <div class="bx--row">
                  <div class="bx--col-sm-2 bx--col-md-2"></div>
                  <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
                    <button ibmButton="ghost" size="normal" id="save-preview" class="cancel-button" (click)="cancelClick()">{{'MANAGE_USER.USER_GROUPS.CANCEL'| translate}}</button>
                    <button ibmButton size="normal" id="save-preview" class="back-button" (click)="backClick()">{{'MANAGE_USER.USER_GROUPS.BACK'| translate}}</button>
                    <button ibmButton size="normal" id="save-preview" class="next-button" (click)="submitUserDetails()">{{'MANAGE_USER.USER_GROUPS.SUBMIT'| translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
  </div>
  
