<div class="header">
  <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.ORGANIZATION_ROLES.TITLE' | translate}}</span>
</div>
<div class="border-div">
  <div class="users">
    <span>{{'MANAGE_USER.ORGANIZATION_ROLES.ORGANIZATIONS' | translate}}</span>
    <span class="icon-top">
      <ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16>
    </span>
    <span><strong class="new-user">{{'MANAGE_USER.ORGANIZATION_ROLES.NEW_ORGANIZATION' | translate}}</strong></span>
    <div class="clr"></div>
  </div>
   <div class="bx--row header-border">
    <div class="bx--col-sm-4 bx--col-md-4 side-content">
      <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
        <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
        <span class="text-margin">{{'MANAGE_USER.ORGANIZATION_ROLES.ORGANISATION_DETAILS_HEADING' | translate}}</span>
        <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
        <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
        <span class="text-margin">{{'MANAGE_USER.ORGANIZATION_ROLES.CONTACT_INFORMATION' | translate}}</span>
        <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
        <span class="dot account-dot"></span><span
          class="text-margin">{{'MANAGE_USER.ORGANIZATION_ROLES.ROLES' | translate}}</span>
        <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
        <span class="dot"></span><span
          class="text-margin">{{'MANAGE_USER.ORGANIZATION_ROLES.APPROVALS' | translate}}</span>
      </div>
    </div>
    <div class="bx--col-sm-8 bx--col-md-8 right-content">
      <div class="bx--row main-content">
        <div class="bx--col-sm-11 bx--col-md-11 inside-content">
          <div class="slct-grp-content">
            <div class="slct-grp-txt">
              <span>{{'MANAGE_USER.ORGANIZATION_ROLES.SELECT_ROLES' | translate}}</span>
            </div>
            <div>
              <div class="aval-grp-txt">
                <span>{{'MANAGE_USER.ORGANIZATION_ROLES.AVAILABLE_ROLES' | translate}}</span>
              </div>
              <input ibmText class="inputbx" id="available-roles" placeholder="Find roles">
              <ul class="table_data">
                <li *ngFor="let roleList of roleListData">
                  <ibm-checkbox (change)="onChange($event)">
                    {{roleList.roleName}}
                  </ibm-checkbox>
                </li>
              </ul>
            </div>
            <div class="total-items">
              <span>{{'MANAGE_USER.ORGANIZATION_ROLES.ITEMS' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bx--row footer-content">
        <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
          <div class="bx--row">
            <div class="bx--col-sm-2 bx--col-md-2"></div>
            <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
              <button ibmButton="ghost" size="normal" id="save-preview" class="cancel-button" (click)="routeOrganizationList()"
                >{{'MANAGE_USER.ORGANIZATION_ROLES.CANCEL' | translate}}</button>
              <button ibmButton size="normal" id="save-preview" class="back-button" (click)="routeOrganizationContact()"
                >{{'MANAGE_USER.ORGANIZATION_ROLES.BACK' | translate}}</button>
              <button ibmButton size="normal" id="save-preview" class="next-button" (click)="routeOrganizationApprovals()"
                >{{'MANAGE_USER.ORGANIZATION_ROLES.NEXT' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>