<div class="header">
    <ibm-icon-menu32 id="table-icon" class="menu-icon"></ibm-icon-menu32>
    <span class="ibm-text">{{'MANAGE_USER.USER_LANDING_PAGE.TITLE' | translate}}</span>
</div>
<div class=" userLandingPage">
    <div class="users">
        <span>{{'MANAGE_USER.USER_LANDING_PAGE.USERS' | translate}}</span>
    </div>
  <!--Search,Filter part(start)-->
  <div class="SearchMenu icons_user bx--row">
      <div class="icon-group">
          <span class="icons">
              <button type="button" class="rowAdditionButton" (click)="createUser()">{{'MANAGE_USER.USER_LANDING_PAGE.NEW_BUTTON' | translate}}</button>
          </span>
          <span class="icons glyphiconsButton">
              <ibm-icon-settings16></ibm-icon-settings16>
          </span>
          <span class="icons glyphiconsButton">
              <ibm-icon-filter16></ibm-icon-filter16>
          </span>
          <span class="icons glyphiconsButton">
              <ibm-icon-search16></ibm-icon-search16>
          </span>
      </div>
  </div>

  <!--TABLE PART (START)-->
  <div class="TableItem bx--row">
    <div class="table-body">
          <ibm-table [model]="customModel"   [striped]="striped"></ibm-table>

      
          <ibm-pagination  [model]="model" (selectPage)="selectPage($event)"></ibm-pagination>
    </div>  
  

  </div>




</div>