.content-container {
    //min-height: 700px;
    background: #ffffff;
    padding-top: 15px;
    flex: 1 1 auto;
}

.view-container {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #d8d8d8;
    flex: 1 1 auto;
}

.breadcrumb-container {
    background: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
}

.top-container{
    height: 100;
}