
  <div class="header">
    <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
    <span class="ibm-text">IBM Watson Commerce</span>
  </div>
  <div class="border-div">
      <div class="users">
        <span>Users</span>
        <span class="icon-top"><ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16></span>
        <span><strong class="new-user">New User</strong></span>
        <div class="clr"></div>
      </div>
        <div class="bx--row header-border">
          <div class="bx--col-sm-4 bx--col-md-4 side-content">
            <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
            <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
            <span class="text-margin">Account Information</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot account-dot"></span><span class="text-margin">Contact Information</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">Roles (Optional)</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">Groups (Optional)</span>
            </div>
          </div>
          <div class="bx--col-sm-8 bx--col-md-8 right-content">
            <div class="bx--row main-content">
              <div class="bx--col-sm-11 bx--col-md-11 inside-content">
                  <div class="form-text">Title (Optional)</div>
                      <ibm-dropdown
                        placeholder="Select title"
                        [disabled]="disabled"
                        [(ngModel)]="model"
                        value="content">
                        <ibm-dropdown-list [items]="items"></ibm-dropdown-list>
			                </ibm-dropdown>
                      <div class="bx--row name-field">
                        <div class="bx--col-sm-6 bx--col-md-6">
                            <div class="form-text">First Name</div>
                            <input ibmText class=" inputbx">
                        </div>
                        <div class="bx--col-sm-6 bx--col-md-6">
                            <div class="form-text">Last Name</div>
                            <input ibmText class=" inputbx">
                        </div>
                      </div>
                  <div class="form-text">Street address</div>
                  <input ibmText class=" inputbx">
                  <input ibmText class=" inputbx">
                  <div class="form-text">City</div>
                  <input ibmText class=" inputbx">
                  <div class="form-text">State / Province / Region</div>
                  <input ibmText class=" inputbx">
              </div>
            </div>
            <div class="bx--row footer-content">
                <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
                  <div class="bx--row">
                    <div class="bx--col-sm-2 bx--col-md-2"></div>
                    <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
                      <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="cancelClick()">Cancel</button>
                      <button ibmButton size="lg" id="save-preview" class="back-button" (click)="backClick()">Back</button>
                      <button ibmButton size="lg" id="save-preview" class="next-button" (click)="goToRoles()">Next</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
  </div>
  