
  <div class="header">
    <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
    <span class="ibm-text">{{'MANAGE_USER.USER_CONTACT.HEADING' | translate}}</span>
  </div>
  <div class="border-div">
      <div class="users">
        <span>{{'MANAGE_USER.USER_CONTACT.USERS' | translate}}</span>
        <span class="icon-top"><ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16></span>
        <span><strong class="new-user">{{'MANAGE_USER.USER_CONTACT.NEW_USER' | translate}}</strong></span>
        <div class="clr"></div>
      </div>
        <div class="bx--row header-border">
          <div class="bx--col-sm-4 bx--col-md-4 side-content">
            <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
            <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
            <span class="text-margin">{{'MANAGE_USER.USER_CONTACT.ACCOUNT_INFORMATION' | translate}}</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot account-dot"></span><span class="text-weight">{{'MANAGE_USER.USER_CONTACT.CONTACT_INFORMATION' | translate}}</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">{{'MANAGE_USER.USER_CONTACT.ROLES' | translate}}
                <span class="optional-text">{{'MANAGE_USER.USER_ACCOUNT.OPTIONAL' | translate}}</span>
            </span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">{{'MANAGE_USER.USER_CONTACT.GROUPS' | translate}}
                <span class="optional-text">{{'MANAGE_USER.USER_ACCOUNT.OPTIONAL' | translate}}</span>
            </span>
            </div>
          </div>
          <div class="bx--col-sm-8 bx--col-md-8 right-content">
            <div class="bx--row main-content">
              <div class="bx--col-sm-11 bx--col-md-11 inside-content">
                  <div class="top-form-text">{{'MANAGE_USER.USER_CONTACT.TITLE_OPTIONAL' | translate}}</div>
                      <ibm-dropdown
                        placeholder="Select title"
                        [disabled]="disabled"
                        [(ngModel)]="personTitle"
                        value="content">
                        <ibm-dropdown-list [items]="items"></ibm-dropdown-list>
			                </ibm-dropdown>
                      <div class="bx--row name-field">
                        <div class="bx--col-sm-6 bx--col-md-6">
                            <div class="form-text">{{'MANAGE_USER.USER_CONTACT.FIRST_NAME' | translate}}</div>
                            <input ibmText class=" inputbx" [(ngModel)]="firstName">
                        </div>
                        <div class="bx--col-sm-6 bx--col-md-6">
                            <div class="form-text">{{'MANAGE_USER.USER_CONTACT.LAST_NAME' | translate}}</div>
                            <input ibmText class=" inputbx" [(ngModel)]="lastName">
                        </div>
                      </div>
                  <div class="form-text">{{'MANAGE_USER.USER_CONTACT.STREET_ADDRESS' | translate}}</div>
                  <input ibmText class=" inputbx" [(ngModel)]="address1">
                  <input ibmText class=" inputbx address2" [(ngModel)]="address2">
                  <div class="form-text">{{'MANAGE_USER.USER_CONTACT.CITY' | translate}}</div>
                  <input ibmText class=" inputbx" [(ngModel)]="city">
                  <div class="form-text">{{'MANAGE_USER.USER_CONTACT.STATE_PROVINCE_REGION' | translate}}</div>
                  <input ibmText class=" inputbx" [(ngModel)]="country">
                  <div class="form-text">{{'MANAGE_USER.USER_CONTACT.ZIP_POSTAI_CODE' | translate}}</div>
                  <input ibmText class=" inputbx" [(ngModel)]="zipCode">
              </div>
            </div>
            <div class="bx--row footer-content">
                <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
                  <div class="bx--row">
                    <div class="bx--col-sm-2 bx--col-md-2"></div>
                    <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
                      <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="cancelClick()">{{'MANAGE_USER.USER_CONTACT.CANCEL' | translate}}</button>
                      <button ibmButton size="lg" id="save-preview" class="back-button" (click)="backClick()">{{'MANAGE_USER.USER_CONTACT.BACK' | translate}}</button>
                      <button ibmButton size="lg" id="save-preview" class="next-button" (click)="goToRoles()">{{'MANAGE_USER.USER_CONTACT.NEXT' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
  </div>
  