
  <div class="header">IBM Watson Commerce</div>
  <div class="border-div">
      <div class="users">
              <!-- <span>Password</span>
              <span class="user-show">
                  <span><ibm-icon-chevron-right16 id="table-icon" class="chevron-icon"></ibm-icon-chevron-right16></span>
                  <span><strong class="new-user">New User</strong></span>
              </span>
              <div class="clr"></div> -->
        <span>Users</span>
        <span class="icon-top"><ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16></span>
        <span><strong class="new-user">New User</strong></span>
        <div class="clr"></div>
      </div>
        <div class="bx--row header-border">
          <div class="bx--col-sm-4 bx--col-md-4 side-content">
            <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
            <!-- <ibm-icon-radio-button20 id="radio-icon" class="radio-icon"></ibm-icon-radio-button20><span class="text-margin">Account Information</span> -->
            <span class="dot account-dot"></span><span class="text-margin">Account Information</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">Contact Information</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">Roles (Optional)</span>
            <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
            <span class="dot"></span><span class="text-margin">Groups (Optional)</span>
            </div>
          </div>
          <div class="bx--col-sm-8 bx--col-md-8 right-content">
            <div class="bx--row main-content">
              <div class="bx--col-sm-11 bx--col-md-11">
                  <div class="form-text">Title (Optional)</div>
                  <!-- <ibm-select [(ngModel)]="model">
                      <option value="default" disabled selected hidden>Select title</option>
                      <option value="option1">Option 1</option>
                      <option value="option2">Option 2</option>
                      <option value="option3">Option 3</option>
                      </ibm-select><br/><br/> -->
                      <ibm-dropdown
                        placeholder="Select title"
                        [disabled]="disabled"
                        [(ngModel)]="model"
                        value="content">
                        <ibm-dropdown-list [items]="items"></ibm-dropdown-list>
			                </ibm-dropdown><br/><br/>
                      <div class="bx--row">
                        <div class="bx--col-sm-6 bx--col-md-6">
                            <div class="form-text">First Name</div>
                            <input ibmText class=" inputbx"><br/><br/>
                        </div>
                        <div class="bx--col-sm-6 bx--col-md-6">
                            <div class="form-text">Last Name</div>
                            <input ibmText class=" inputbx"><br/><br/>
                        </div>
                      </div>
                  <div class="form-text">Street address</div>
                  <input ibmText class=" inputbx"><br/><br/>
                  <input ibmText class=" inputbx"><br/><br/>
                  <div class="form-text">City</div>
                  <input ibmText class=" inputbx"><br/><br/>
                  <div class="form-text">State / Province / Region</div>
                  <input ibmText class=" inputbx"><br/><br/>
              </div>
              <div class="bx--col-sm-11 bx--col-md-11 footer-content">
                <div class="bx--row">
                  <div class="bx--col-sm-3 bx--col-md-3"></div>
                  <div class="bx--col-sm-9 bx--col-md-9">
                      <button ibmButton="secondary" size="sm" id="save-preview" class="cancel-button">Cancel</button>
                      <button ibmButton size="sm" id="save-preview" class="back-button">Back</button>
                      <button ibmButton size="sm" id="save-preview" class="next-button">Next</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  
