.Rectangle {
    width: 100%;
  }
  .side-content {
    background-color: #ffffff;
  }
  .main-content {
    background-color: #ffffff;
    margin-left: 2px;
  }
  .row-content {
    height: 800px;
  }
  .input {
    background: #F3F3F3;
    height: 30px;
    margin-left: 50px;
  }
  .label {
    margin-left: 50px;
  }