<div class="bx--grid Rectangle">
    <div class="bx--row">
      <div class="bx--col-sm-4 bx--col-md-4 side-content">
        <p>Organization details</p><br/>
        <p>Contact information</p><br/>
        <p>Roles</p><br/>
        <p>Approvals</p><br/>
      </div>
      <div class="bx--col-sm-7 bx--col-md-7 main-content">
        <div class="label">Organization name</div>
        <input ibmText class="bx--col-sm-10 bx--col-md-10 input"><br/><br/>
        <div class="label">Description</div>
        <input type="text" class="bx--col-sm-10 bx--col-md-10 input"><br/><br/>
        <div class="label">Type</div>
        <input type="text" class="bx--col-sm-10 bx--col-md-10 input"><br/><br/>
        <div class="label">Parent organization</div>
        <input type="text" class="bx--col-sm-10 bx--col-md-10 input">
      </div>
    </div>
  </div>
