// .header {
//     width: 100%;
//     height: 48px;
//     background-color: #343334;
//     color: white;
//     }
// .orgtable{
//     height: 400px;
//     //line-height: 300px;
//     text-align: center;
//     vertical-align: middle;
//     margin-left: 10px;
//     margin-right: 10px;
// }

.headingName{
    margin-top:13px;
    margin-left:-20px;
}
.Users{
    // width:100%;
    height:50px;
    background-color: white;
}
.userName{
    margin-top:13px;
    font-size: 15px;
    font-weight:600;
}
.SearchMenu{
    width:95%;
    height:75px;
    margin-top:20px;
    margin-left:30px; 
    background-color: white;  
}
.icon-group{
    width:100%;
    // display: flex;
    // float: right;
    // margin-left:80%;   
}
.glyphiconsButton{
margin-top:30px;
}
.icons{
   float:right;
   margin-right:15px;
   padding-left: 16px;
}
.rowAdditionButton{
    margin-top:16px;
    width:105px;
    height:3rem;
    background-color: #0f6ddf;
    color:white;
    font-size:13px;
    cursor: pointer;
    text-align: left;
    padding-left: 16px;
    margin-right: -14px;
}
.bx--pagination {
    width: 232%;
}


