<div class="bx--toolbar" data-toolbar>
  <div class="toolbar">
    <ibm-icon-arrow-left32></ibm-icon-arrow-left32>
  </div>
  <div class="toolbar">
    <ibm-icon-arrow-right32></ibm-icon-arrow-right32>
  </div>
  <div class="dropdown">
    <button class="dropdownnav"><ibm-icon-add-alt32></ibm-icon-add-alt32></button>
    <div class="dropdown-content">
      <a routerLink="" id="IconLink1" (click)="underDev()">{{ 'CATALOGS.UI_SHELL.ALL_CATALOG_ENTRIES_INCLUDING_SKUS' | translate }}</a>
      <a routerLink="" id="IconLink2" (click)="underDev()">{{ 'CATALOGS.UI_SHELL.ALL_CATALOG_ENTRIES_EXCLUDING_SKUS' | translate }}</a>
      <a routerLink="" id="IconLink3" (click)="underDev()">{{ 'CATALOGS.UI_SHELL.CATEGORIES' | translate }}</a>
      <a routerLink="" id="IconLink4" (click)="underDev()">{{ 'CATALOGS.UI_SHELL.SALES_CEGORIES' | translate }}</a>
      <a routerLink="" id="IconLink5" (click)="underDev()">{{ 'CATALOGS.UI_SHELL.PRODUCTS' | translate }}</a>
      <a routerLink="" id="IconLink6" (click)="underDev()">{{ 'CATALOGS.UI_SHELL.SKUS' | translate }}</a>
      <a routerLink="" id="IconLink7" (click)="underDev()">{{ 'CATALOGS.UI_SHELL.BUNDLES' | translate }}</a>
      <a routerLink="" id="IconLink8" (click)="underDev()">{{ 'CATALOGS.UI_SHELL.KITS' | translate }}</a>
      <a routerLink="" id="IconLink9" (click)="underDev()">{{ 'CATALOGS.UI_SHELL.ATTRIBUTE_DICTIONARY_ATTRIBUTE' | translate }}</a>
      <a routerLink="" id="IconLink10" (click)=navigateToNewCatalogUpload()>{{ 'CATALOGS.NEW_CATALOG_UPLOAD.CATALOG_UPLOAD' | translate }}</a>
      <a routerLink="" id="IconLink11" (click)="underDev()">{{ 'CATALOGS.UI_SHELL.CATALOG' | translate }}</a>
    </div>
  </div>
  <div class="toolbar">
    <ibm-icon-stop-outline32></ibm-icon-stop-outline32>
  </div>
  <div class="toolbar">
    <ibm-icon-wikis32></ibm-icon-wikis32>
  </div>
  <div class="toolbar">
    <ibm-icon-save32></ibm-icon-save32>
  </div>
  <div class="toolbar">
    <ibm-icon-copy-file32></ibm-icon-copy-file32>
  </div>
  <div class="toolbar">
    <ibm-icon-close32></ibm-icon-close32>
  </div>
  <div class="toolbar">
    <ibm-icon-search32></ibm-icon-search32>
  </div>
  <div class="toolbar">
    <ibm-icon-screen32></ibm-icon-screen32>
  </div>

  <!-- <li> -->
  <div class="ibmheaderdropdown">
    <ibm-dropdown>
      <ibm-dropdown-list [items]="listItems"></ibm-dropdown-list>
    </ibm-dropdown>
  </div>
  <div class="ibmheadersearch">
    <ibm-search [theme]="theme" [placeholder]="placeholder" [disabled]="disabled" [size]="size"></ibm-search>
  </div>
</div>