/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 0px;
    margin-left: -0.8%;
    margin-right: -0.8%;
    }
    .pointer {cursor: pointer;}