/* Set black background color, white text and some padding */
// footer {
//     background-color: #555;
//     color: white;
//     padding: 10px;
//     margin-left: -0.8%;
//     margin-right: -0.8%;
//     display: flex;
   
// }
.flex-container {
    display: flex;
    justify-content: center;
    background-color: #555;
    color: white;
    padding: 10px;
    margin-left: -0.8%;
    margin-right: -0.8%;
  
}
button {
    cursor: pointer;
    // z-index: -1;
}
ibm-icon-maximize32 svg {
    will-change: unset; 
    will-change: auto;
    will-change: auto !important;
}
.icon-svg-warning svg {
    will-change: unset;
    will-change: auto;
    will-change: auto !important;
}
