/* Set black background color, white text and some padding */
// footer {
//     background-color: #555;
//     color: white;
//     padding: 10px;
//     margin-left: -0.8%;
//     margin-right: -0.8%;
//     display: flex;
   
// }
.flex-container {
    display: flex;
    justify-content: center;
    background-color: #555;
    color: white;
    padding: 10px;
    margin-left: -0.8%;
    margin-right: -0.8%;
    height: auto;
    width: 100%;
   
}
.flex-container {
    display: flex;
    justify-content: center;
}
.pointer {cursor: pointer;}

