
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ExtendedSitesCatalogAssetStore - Categories List
  </h1>
</div>
<div></div>


<!-- <button class="bx--btn bx--btn--sm bx--btn--primary" (click)="addRow()">Add row</button>
    <button class="bx--btn bx--btn--sm bx--btn--primary" (click)="addColumn()">Add column</button> -->

    <!-- <ng-template #customTableItemTemplate let-data="data">
      <a [attr.href]="data.link">{{ data.name }} {{ data.surname }}</a>
    </ng-template>
    <ng-template #customHeaderTemplate let-data="data">
      <i
        ><a [attr.href]="data.link">{{ data.name }}</a></i
      >
    </ng-template> -->

    <ibm-table
      [model]="model"
      [size]="size"
      [showSelectionColumn]="showSelectionColumn"
      [striped]="striped"
      (sort)="customSort($event)"
    >
    </ibm-table>
