<div class="organization-form">
    <div class="form-group">
        <h3 [translate]="'ORGANIZATIONS.FORM_ORGANIZATION.headers.detail'"></h3>
        <div class="bx--row form-row">
            <div class="bx--form-item">
                <div [formGroup]="organizationForm">
                    <label class="bx--label">{{ 'ORGANIZATIONS.FORM_ORGANIZATION.inputs.name' | translate}}</label>
                    <input [attr.data-invalid]="orgEntityName.invalid && (orgEntityName.dirty || orgEntityName.touched) ? '' : null" class="bx--text-input" type="text" [attr.disabled]="isInputDisabled?'':null" [(ngModel)]="inputOrg['orgEntityName']" formControlName="orgEntityName" placeholder="{{'ORGANIZATIONS.FORM_ORGANIZATION.description.nameInput' | translate}}">
                    <div class="bx--form-requirement">
                        <div>
                            <p [translate]="'ORGANIZATIONS.FORM_ORGANIZATION.validation.minName'" [translateParams]="{len: 4}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bx--form-item">
                <div [formGroup]="organizationForm">
                    <label class="bx--label">{{ 'ORGANIZATIONS.FORM_ORGANIZATION.inputs.desc' | translate}}</label>
                    <input [attr.data-invalid]="description.invalid && (description.dirty || description.touched) ? '' : null" class="bx--text-input" type="text" [(ngModel)]="inputOrg['description']" formControlName="description" placeholder="{{'ORGANIZATIONS.FORM_ORGANIZATION.description.descInput' | translate}}">
                    <div  class="bx--form-requirement" *ngIf="description.invalid && (description.dirty || description.touched)">
                        <div>
                            <p [translate]="'ORGANIZATIONS.FORM_ORGANIZATION.validation.maxDescription'" [translateParams]="{len: 300}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bx--row form-row">
            <div class="bx--form-item">
                <div [formGroup]="organizationForm" class="bx--col-lg-5 dropdown">
                    <label class="bx--label">
                        {{'ORGANIZATIONS.FORM_ORGANIZATION.inputs.orgType' | translate}}
                    </label>
                    <ibm-dropdown [attr.data-invalid]="orgEntityType.invalid && (orgEntityType.dirty || orgEntityType.touched) ? '' : null" class="bx--col-lg-10" placeholder="{{'ORGANIZATIONS.FORM_ORGANIZATION.description.select' | translate}}" (selected)="onTypeSelected($event)" [disabled]="isInputDisabled" formControlName="orgEntityType">
                        <ibm-dropdown-list [items]="organizationTypeItems"></ibm-dropdown-list>
                    </ibm-dropdown>
                </div>
            </div>
            <div class="bx--form-item">

                <div [formGroup]="organizationForm" class="bx--col-lg-5 dropdown">
                    <label class="bx--label">
                        {{'ORGANIZATIONS.FORM_ORGANIZATION.inputs.parentOrg' | translate}}
                    </label>
                    <ibm-dropdown [attr.data-invalid]="parentOrg.invalid && (parentOrg.dirty || parentOrg.touched) ? '' : null" placeholder="{{'ORGANIZATIONS.FORM_ORGANIZATION.description.select' | translate}}" [displayValue]="inputOrg['parentMemberName']" (selected)="onParentOrgSelected($event)" [disabled]="isInputDisabled" formControlName="parentOrg">
                        <ibm-dropdown-list [items]="parentOrgsItems"></ibm-dropdown-list>
                    </ibm-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <h3 [translate]="'ORGANIZATIONS.FORM_ORGANIZATION.headers.address'"></h3>
        <div class="bx--row form-row">
            <div class="bx--form-item">
                <div [formGroup]="organizationForm">
                    <label class="bx--label">{{'ORGANIZATIONS.FORM_ORGANIZATION.inputs.streetAdd' | translate}}</label>
                    <input [attr.data-invalid]="address.invalid && (address.dirty || address.touched) ? '' : null" class="bx--text-input" type="text" placeholder="{{'ORGANIZATIONS.FORM_ORGANIZATION.description.addInput' | translate}}" [(ngModel)]="inputOrg['address']" formControlName="address">
                    <div class="bx--form-requirement">
                        <div>
                            <p [translate]="'ORGANIZATIONS.FORM_ORGANIZATION.validation.invalidAddress'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bx--form-item">
                <div [formGroup]="organizationForm">
                    <label class="bx--label">{{'ORGANIZATIONS.FORM_ORGANIZATION.inputs.state' | translate}}</label>
                    <input [attr.data-invalid]="state.invalid && (state.dirty || state.touched) ? '' : null" class="bx--text-input" type="text" placeholder="{{'ORGANIZATIONS.FORM_ORGANIZATION.description.state' | translate}}" [(ngModel)]="inputOrg['state']" formControlName="state">
                </div>
            </div>
        </div>
        <div class="bx--row form-row">
            <div class="bx--form-item">
                <div [formGroup]="organizationForm">
                    <label class="bx--label">
                        {{'ORGANIZATIONS.FORM_ORGANIZATION.inputs.city' | translate}}</label>
                    <input [attr.data-invalid]="city.invalid && (city.dirty || city.touched) ? '' : null" class="bx--text-input" type="text" placeholder="{{'ORGANIZATIONS.FORM_ORGANIZATION.description.city' | translate}}" [(ngModel)]="inputOrg['city']" formControlName="city">
                </div>
            </div>
            <div class="bx--form-item">
                <div [formGroup]="organizationForm">
                    <label class="bx--label">
                        {{'ORGANIZATIONS.FORM_ORGANIZATION.inputs.zipCode' | translate}}</label>
                    <input [attr.data-invalid]="zipCode.invalid && (zipCode.dirty || zipCode.touched) ? '' : null" class="bx--text-input" type="text" placeholder="{{'ORGANIZATIONS.FORM_ORGANIZATION.description.zipCode' | translate}}" [(ngModel)]="inputOrg['zipCode']" formControlName="zipCode">
                    <div class="bx--form-requirement" *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)">
                        <div>
                            <p [translate]="'ORGANIZATIONS.FORM_ORGANIZATION.validation.zipCodeFormat'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bx--row form-row">
            <div class="bx--form-item">
                <div [formGroup]="organizationForm">
                    <label class="bx--label">
                        {{'ORGANIZATIONS.FORM_ORGANIZATION.inputs.country' | translate}}</label>
                    <input [attr.data-invalid]="country.invalid && (country.dirty || country.touched) ? '' : null" class="bx--text-input" type="text" placeholder="{{'ORGANIZATIONS.FORM_ORGANIZATION.description.country' | translate}}" [(ngModel)]="inputOrg['country']" formControlName="country">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <h3 [translate]="'ORGANIZATIONS.FORM_ORGANIZATION.headers.contact'"></h3>
        <div class="bx--row form-row">
            <div class="bx--form-item">
                <div [formGroup]="organizationForm">
                    <label class="bx--label">{{'ORGANIZATIONS.FORM_ORGANIZATION.inputs.email' | translate}}</label>
                    <input [attr.data-invalid]="email.invalid && (email.dirty || email.touched) ? '' : null" class="bx--text-input" type="email" placeholder="{{'ORGANIZATIONS.FORM_ORGANIZATION.description.email' | translate}}" [(ngModel)]="inputOrg['email']" formControlName="email">
                    <div class="bx--form-requirement">
                        <div>
                            <p [translate]="'ORGANIZATIONS.FORM_ORGANIZATION.validation.invalidEmail'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bx--form-item">
                <div [formGroup]="organizationForm">
                    <label class="bx--label">
                        {{'ORGANIZATIONS.FORM_ORGANIZATION.inputs.phone' | translate}}</label>
                    <input [attr.data-invalid]="phone.invalid && (phone.dirty || phone.touched) ? '' : null" class="bx--text-input" type="text" placeholder="{{'ORGANIZATIONS.FORM_ORGANIZATION.description.phone' | translate}}" [(ngModel)]="inputOrg['phone']" formControlName="phone">
                    <div class="bx--form-requirement">
                        <div>
                            <p [translate]="'ORGANIZATIONS.FORM_ORGANIZATION.validation.invalidPhone'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <footer>
        <button class="bx--btn bx--btn--primary" [disabled]="this.organizationForm.status != 'VALID' || this.organizationForm.pristine" (click)="submitForm()" [translate]="'ORGANIZATIONS.FORM_ORGANIZATION.footer.submitBtn'"></button>
        <button class="bx--btn bx--btn--primary" (click)="cancelForm()" [translate]="'ORGANIZATIONS.FORM_ORGANIZATION.footer.cancelBtn'"></button>
    </footer>
</div>
