<ac-header></ac-header>
<div class="row row-width">
    <div class="col-md-3 side-width">
        <ac-side-bar></ac-side-bar>
    </div>
    <div class="col-md-9 content-width">
        <div class="container-fluid containerClass">
            <div class="row">
                <div class="col-md-1">
                    <span class="iconFontSize"><i class="fas fa-bars"></i></span>
                </div>
                <div class="col-md-4 headTextMargin">
                    <sup><span class="starFont"><i class="fas fa-star-of-life"></i></span></sup>
                    <span class="mstrCtgry">New Master Category</span>
                    <label class="headAlertTxt"><span class="exclaIcon"><i class='fas fa-exclamation-circle'></i></span>
                        <span class="specifyTxt">Specify a value for the <strong>Code</strong> field</span>
                    </label>
                </div>
                <div class="col-md-3"></div>
                    <button ibmButton size="sm" class="savePreviewBtn" (click)="saveMasterData()">Save and Preview</button>
                    <button ibmButton size="sm" class="saveBtn" (click)="saveMasterData()">Save</button>
                    <button  ibmButton="secondary" size="sm" (click)="closeMasterCategory()">Close</button>
            </div>
            <div class="headerTabs">
                <ibm-tabs>
                    <ibm-tab heading="Manage Category">
                        <ibm-accordion>
                            <ibm-accordion-item title="Object Properties">
                                <div class="row associateFont">
                                    <div class="col-md-2">
                                        Associated Store
                                    </div>
                                    <div class="col-md-2">
                                        AuroraESite
                                    </div>
                                </div>
                            </ibm-accordion-item>
                            <ibm-accordion-item title="General Category Information">
                                <div class="row">
                                    <div class="col-md-2">
                                        Unique ID
                                    </div>
                                </div>
                                <div class="row uniqueRow">
                                    <div class="col-md-2">
                                        <span class="uniqueFont">Code</span><sup><span class="starCodeFont"><i class="fas fa-star-of-life"></i></span></sup>
                                    </div>
                                        <span class="questionMark"><i class="fa fa-question-circle"></i></span>
                                        <input type="text" class="col-md-5 inputPadding" [(ngModel)]="code">
                                </div>
                                <div class="row uniqueRow">
                                    <div class="col-md-2">
                                        <span class="uniqueFont">Name (United State English)</span><sup><span class="starCodeFont"><i class="fas fa-star-of-life"></i></span></sup>
                                    </div>
                                    <input type="text" class="col-md-5" [(ngModel)]="name">
                                </div>
                                <div class="row uniqueRow">
                                    <div class="col-md-2">
                                        <span class="uniqueFont">Short description (United State English)</span>
                                    </div>
                                    <input type="text" class="col-md-8 inputPadding" [(ngModel)]="description"> 
                                </div>
                            </ibm-accordion-item>
                            <ibm-accordion-item title="Display">
                                <div class="row uniqueRow">
                                    <div class="col-md-2">
                                        Display to customer (United State English)
                                    </div><span class="questionMarkCheck"><i class="fa fa-question-circle"></i></span>
                                        <ibm-checkbox>
                                        </ibm-checkbox>
                                </div>
                                <div class="row uniqueRow">
                                    <div class="col-md-2">
                                        Thumbnail (United State English)
                                    </div>
                                    <input type="text" class="col-md-5 inputPadding" [(ngModel)]="thumbnail">
                                </div>
                                <div class="row uniqueRow">
                                    <div class="col-md-2">
                                        Full image (United State English)
                                    </div>
                                    <input type="text" class="col-md-5 inputPadding" [(ngModel)]="image">
                                </div>
                            </ibm-accordion-item>
                        </ibm-accordion>
                    </ibm-tab>
                    <ibm-tab heading="Search Engine Optimization">
                        <div class="searchEngine">
                            <div class="row">
                                <div class="col-md-2 titleName">
                                    URL keyword (United State English)
                                </div>
                                <span class="questionMark"><i class="fa fa-question-circle"></i></span>
                                <input type="text" class="col-md-8 inputPadding" [(ngModel)]="keyword">
                            </div>
                            <hr class="searchEngineRow">
                            <div class="row">
                                <div class="col-md-2 titleName">
                                    Page title (United State English)
                                </div>
                                <div class="col-md-8 pagetitle">
                                    <div class="row useDefault">
                                        <div class="col-md-3"><ibm-radio>Use default</ibm-radio></div>
                                    </div>
                                    <div class="row overrideQtn">
                                        <sup><span class="qtnOverride"><i class="fa fa-question-circle"></i></span></sup>
                                        <div class="col-md-4 overrideMargin"><ibm-radio>Override default</ibm-radio></div>
                                    </div>
                                    <div class="row overrideInput">
                                        <input type="text" class="col-md-12 inputPadding" [(ngModel)]="pageTitle">
                                    </div>
                                </div> 
                            </div>
                            <hr class="searchEngineRow">
                            <div class="row">
                                <div class="col-md-2 metaDesc titleName">
                                    Meta description (United State English)
                                </div>
                                <div class="col-md-8 pagetitle">
                                    <div class="row useDefault">
                                        <div class="col-md-3"><ibm-radio>Use default</ibm-radio></div>
                                    </div>
                                    <div class="row overrideQtn">
                                        
                                        <div class="col-md-4 overrideMargin"><ibm-radio>Override default</ibm-radio></div>
                                    </div>
                                    <div class="row overridetextarea">
                                        <span class="qtnTextarea"><i class="fa fa-question-circle"></i></span>
                                        <textarea type="text" class="col-md-12" [(ngModel)]="metaDesc"></textarea>
                                    </div>
                                </div> 
                            </div>
                            <hr class="searchEngineRow">
                            <div class="row">
                                    <div class="col-md-2 titleName">
                                        Image alt text (United State English)
                                    </div>
                                    <div class="col-md-8 pagetitle">
                                        <div class="row useDefault">
                                            <div class="col-md-3"><ibm-radio>Use default</ibm-radio></div>
                                        </div>
                                        <div class="row overrideQtn">
                                            <sup><span class="qtnOverride"><i class="fa fa-question-circle"></i></span></sup>
                                            <div class="col-md-4 overrideMargin"><ibm-radio>Override default</ibm-radio></div>
                                        </div>
                                        <div class="row overrideInput">
                                            <input type="text" class="col-md-12 inputPadding" [(ngModel)]="imgAltText">
                                        </div>
                                    </div> 
                                </div>
                        </div>
                    </ibm-tab>
                    <ibm-tab heading="Associated Assets">
                        <div class="tab-overflow">
                            <div class="action-btn">
                                <span class="plus-btn" id="plusBtn">
                                    <a (click)="addAssociateRow()"><span><i class="fas fa-plus-circle"></i></span></a>
                                </span>
                                <span class="multi-btn" id="multiBtn">
                                    <a (click)="deleteNewRow()"><span><i class="fas fa-times-circle"></i></span></a>
                                </span>
                            </div>
                            <div *ngIf="showAssociate">
                                <ibm-table class="td-width"
                                    [model]="customModel" [size]="size" [showSelectionColumn]="showSelectionColumn" [striped]="striped">
                               </ibm-table>
                            </div>
                            <div *ngIf="showAssociateEdit">
                                <ibm-table class="body_roy"
                                    [model]="customModel" [size]="size" [showSelectionColumn]="showSelectionColumn" [striped]="striped">
                                </ibm-table>
                                <ng-template #customTableItemTemplate>
                                    <input ibmText value="{{this.customModel.data.TableItem}}"/>
                                </ng-template>
                           </div>
                        </div>
                    </ibm-tab>
                    <ibm-tab heading="Content">
                        
                    </ibm-tab>
                    <ibm-tab heading="Refrences">
                        
                    </ibm-tab>
                </ibm-tabs>
            </div>
        </div>
    </div>
</div>
<ac-footer></ac-footer>
