<app-main-ui-shell></app-main-ui-shell>
<ac-header></ac-header>
<app-ui-shell></app-ui-shell>
    <div class="side-width">
        <ac-side-bar></ac-side-bar>
    </div>
        <div class="containerClass">
                <div class="headTextMargin">
                    <label>
                        <ibm-icon-table32 id="table-icon" class="icon-svg-table"></ibm-icon-table32>
                        <span id="header-text" class="mstrCtgry">{{ 'CATALOGS.NEW_MASTER_CATEGORY.header_text' | translate }}</span>    
                        <p class="specifyTxt">
                            <ibm-icon-warning-filled16 id="warning-icon" class="icon-svg-warning"></ibm-icon-warning-filled16>{{ 'CATALOGS.NEW_MASTER_CATEGORY.header_help_text' | translate }}<strong>{{ 'CATALOGS.NEW_MASTER_CATEGORY.code' | translate }}</strong> {{ 'CATALOGS.NEW_MASTER_CATEGORY.field' | translate }}
                        </p>
                    </label>
                </div>
                <div class="header-btn">
                    <button ibmButton size="sm" id="save-preview" class="savePreviewBtn" (click)="saveMasterData()">{{ 'CATALOGS.NEW_MASTER_CATEGORY.save_preview' | translate }}</button>
                    <button ibmButton size="sm" id="save-btn" class="saveBtn" (click)="saveMasterData()">{{ 'CATALOGS.NEW_MASTER_CATEGORY.save' | translate }}</button>
                    <button  ibmButton="secondary" id="close-btn" size="sm" (click)="closeMasterCategory()">{{ 'CATALOGS.NEW_MASTER_CATEGORY.close' | translate }}</button>
                </div>
            <div class="headerTabs">
                <ibm-tabs>
                    <ibm-tab heading="{{ 'CATALOGS.NEW_MASTER_CATEGORY.manage_category' | translate }}">
                        <ibm-accordion>
                            <ibm-accordion-item title="Object Properties">
                                    <div class="div-left" id="associated-text">
                                        {{ 'CATALOGS.NEW_MASTER_CATEGORY.associated_store' | translate }}
                                    </div>
                                    <div class="div-right" id="esite-text">
                                        {{ 'CATALOGS.NEW_MASTER_CATEGORY.auroraESite' | translate }}
                                    </div>
                            </ibm-accordion-item>
                            <ibm-accordion-item title="General Category Information">
                                    <label id="unique-id">{{ 'CATALOGS.NEW_MASTER_CATEGORY.unique_id' | translate }}</label>
                                    <div class="general-div">
                                        <div class="uniqueFont" id="code-text">{{ 'CATALOGS.NEW_MASTER_CATEGORY.code' | translate }}</div>
                                        <div class="general-input">
                                                <span class="tooltip-class" ibmTooltip="{{ 'CATALOGS.NEW_MASTER_CATEGORY.tooltip_code' | translate }}" trigger="hover" placement="bottom" style="cursor: pointer;">
                                                    <ibm-icon-help-filled20 id="code-help" class="icon-svg-help"></ibm-icon-help-filled20>
                                                </span>
                                            <input type="text" id="code" class="input-size-icon" [(ngModel)]="code">
                                        </div>
                                    </div>
                                    <div class="general-div">
                                        <div class="uniqueFont" id="name-text">{{ 'CATALOGS.NEW_MASTER_CATEGORY.name' | translate }}{{ 'CATALOGS.NEW_MASTER_CATEGORY.united_state_english' | translate }}</div>
                                        <div class="general-input"><input type="text" id="name" class="input-size" [(ngModel)]="name"></div>
                                    </div>
                                    <div class="general-div">
                                        <div class="uniqueFont" id="desc-text">{{ 'CATALOGS.NEW_MASTER_CATEGORY.short_description' | translate }}{{ 'CATALOGS.NEW_MASTER_CATEGORY.united_state_english' | translate }}</div>
                                        <div class="general-input"><input type="text" id="description" class="input-size" [(ngModel)]="description"></div>
                                    </div>
                            </ibm-accordion-item>
                            <ibm-accordion-item title="Display">
                                    <div class="display-text" id="display-text">
                                        {{ 'CATALOGS.NEW_MASTER_CATEGORY.display_customer' | translate }}{{ 'CATALOGS.NEW_MASTER_CATEGORY.united_state_english' | translate }}
                                    </div>
                                    <div class="display-checkbox">
                                        <span class="tooltip-class" id="display-tooltip" ibmTooltip="{{ 'CATALOGS.NEW_MASTER_CATEGORY.tooltip_display_customer' | translate }}" trigger="hover" placement="bottom" style="cursor: pointer;">
                                            <ibm-icon-help-filled20 id="display-icon" class="icon-svg-display"></ibm-icon-help-filled20>
                                        </span>
                                        <ibm-checkbox id="display-checkbox"></ibm-checkbox>
                                    </div>
                                    <div class="general-div">
                                        <div class="uniqueFont" id="thumbnail-text">{{ 'CATALOGS.NEW_MASTER_CATEGORY.thumbnail' | translate }}{{ 'CATALOGS.NEW_MASTER_CATEGORY.united_state_english' | translate }}</div>
                                        <div class="general-input"><input type="text" id="thumbnail" class="input-size" [(ngModel)]="thumbnail"></div>
                                    </div>
                                    <div class="general-div">
                                        <div class="uniqueFont" id="fullimage-text">{{ 'CATALOGS.NEW_MASTER_CATEGORY.full_image' | translate }}{{ 'CATALOGS.NEW_MASTER_CATEGORY.united_state_english' | translate }}</div>
                                        <div class="general-input"><input type="text" id="fullimage" class="input-size" [(ngModel)]="image"></div>
                                    </div>
                            </ibm-accordion-item>
                        </ibm-accordion>
                    </ibm-tab>
                    <ibm-tab heading="{{ 'CATALOGS.NEW_MASTER_CATEGORY.search_engine_optimization' | translate }}">
                        <div class="searchEngine">
                            <div class="general-div">
                                <div class="unique-radio" id="urlkeyword-text">{{ 'CATALOGS.NEW_MASTER_CATEGORY.url_keyword' | translate }}{{ 'CATALOGS.NEW_MASTER_CATEGORY.united_state_english' | translate }}</div>
                                <div class="general-input">
                                    <span class="tooltip-class" id="urlkeyword-text" ibmTooltip="{{ 'CATALOGS.NEW_MASTER_CATEGORY.tooltip_url_keyword' | translate }}" trigger="hover" placement="bottom" style="cursor: pointer;">
                                        <ibm-icon-help-filled20 id="urlkeyword-icon" class="icon-svg-help"></ibm-icon-help-filled20>
                                    </span>
                                    <input type="text" id="urlkeyword" class="input-size-icon" [(ngModel)]="keyword">
                                </div>
                            </div>
                            <hr class="searchEngineRow">
                                <div class="radio-space"><ibm-radio name="pageTitle" [(ngModel)]="pageTilleDefaultRadio" (click)="pageTilleRadioClick('default')">{{ 'CATALOGS.NEW_MASTER_CATEGORY.use_default' | translate }}</ibm-radio></div>
                                <div class="unique-radio">
                                    {{ 'CATALOGS.NEW_MASTER_CATEGORY.page_title' | translate }}{{ 'CATALOGS.NEW_MASTER_CATEGORY.united_state_english' | translate }}</div>
                                <div class="radio-space">
                                    <span class="tooltip-class" ibmTooltip="{{ 'CATALOGS.NEW_MASTER_CATEGORY.tooltip_page_title' | translate }}" trigger="hover" placement="bottom" style="cursor: pointer;">
                                        <ibm-icon-help-filled20 class="icon-svg-radio"></ibm-icon-help-filled20>
                                    </span>
                                    <ibm-radio name="pageTitle" class="help-radio" (click)="pageTilleRadioClick('override')">{{ 'CATALOGS.NEW_MASTER_CATEGORY.override_default' | translate }}</ibm-radio>
                                </div>
                                <div class="general-input"><input type="text" id="page-title" class="input-size" [(ngModel)]="pageTitle" [disabled]="disabledPageTitle"></div>
                                <hr class="searchEngineRow">
                                <div class="radio-space"><ibm-radio name="metaDesc" [(ngModel)]="metaDescDefault" (click)="metaDefaultClick('default')">{{ 'CATALOGS.NEW_MASTER_CATEGORY.use_default' | translate }}</ibm-radio></div>
                                <div class="unique-radio-textbox">
                                    {{ 'CATALOGS.NEW_MASTER_CATEGORY.meta_description' | translate }}{{ 'CATALOGS.NEW_MASTER_CATEGORY.united_state_english' | translate }}
                                </div>
                                <div class="radio-space"><ibm-radio name="metaDesc" (click)="metaDefaultClick('override')">{{ 'CATALOGS.NEW_MASTER_CATEGORY.override_default' | translate }}</ibm-radio></div>
                                <div class="general-input">
                                    <span class="tooltip-class" ibmTooltip="{{ 'CATALOGS.NEW_MASTER_CATEGORY.tooltip_meta_desc' | translate }}" trigger="hover" placement="bottom" style="cursor: pointer;">
                                        <ibm-icon-help-filled20 class="icon-svg-help"></ibm-icon-help-filled20>
                                    </span>
                                    <textarea type="text" id="metaDesc" class="input-size-icon" [(ngModel)]="metaDesc" [disabled]="disabledMetaDesc"></textarea></div>
                                    <hr class="searchEngineRow">
                                <div class="radio-space"><ibm-radio name="imageText" [(ngModel)]="imageTextRadio" (click)="imageTextClick('default')">{{ 'CATALOGS.NEW_MASTER_CATEGORY.use_default' | translate }}</ibm-radio></div>
                                <div class="unique-radio" id="default-imagealt">{{ 'CATALOGS.NEW_MASTER_CATEGORY.image_alt_text' | translate }}{{ 'CATALOGS.NEW_MASTER_CATEGORY.united_state_english' | translate }}</div>
                                <div class="radio-space">
                                    <span class="tooltip-class" id="imagealt-tooltip" ibmTooltip="{{ 'CATALOGS.NEW_MASTER_CATEGORY.tooltip_image_text' | translate }}" trigger="hover" placement="bottom" style="cursor: pointer;">
                                        <ibm-icon-help-filled20 class="icon-svg-radio"></ibm-icon-help-filled20>
                                    </span>
                                    <ibm-radio name="imageText" (click)="imageTextClick('override')" class="help-radio" id="override-imagealt">{{ 'CATALOGS.NEW_MASTER_CATEGORY.override_default' | translate }}</ibm-radio>
                                </div>
                                <div class="general-input"><input type="text" id="imagealt" class="input-size" [(ngModel)]="imgAltText" [disabled]="disabledImageText"></div>
                        
                        </div>
                    </ibm-tab>
                    <ibm-tab heading="{{ 'CATALOGS.NEW_MASTER_CATEGORY.associated_assets' | translate }}">
                    <ibm-accordion>
                        <ibm-accordion-item title="{{ 'CATALOGS.NEW_MASTER_CATEGORY.associated_assets' | translate }}" (click)="associateClicked()">
                            <div class="tab-overflow">
                                <ng-template #customHeaderTemplate>
                                    <div style="width: 230px">
                                        <ibm-dropdown
                                        placeholder="Store"
                                        [disabled]="disabled"
                                        (selected)="selected($event)"
                                        (onClose)="onClose($event)">
                                        <ibm-dropdown-list [items]="listItems"></ibm-dropdown-list>
                                        </ibm-dropdown>
                                    </div>
                                </ng-template>
                                    <div class="action-btn">
                                        <ibm-icon-add-outline16 class="icon-svg-btn"></ibm-icon-add-outline16>
                                        <ibm-icon-close-outline16 class="icon-svg-btn"></ibm-icon-close-outline16>
                                    </div>
                                    <div *ngIf="showAssociate" class="tab-overflow">
                                        <ibm-table class="td-width"
                                            [model]="customModel" [size]="size" [showSelectionColumn]="showSelectionColumn" [striped]="striped">
                                        </ibm-table>
                                    </div>
                                    <div *ngIf="showAssociateEdit" class="tab-overflow">
                                        <ibm-table
                                            [model]="customModel" [size]="size" [showSelectionColumn]="showSelectionColumn" [striped]="striped">
                                        </ibm-table>
                                        <ng-template #customTableItemTemplate>
                                            <input ibmText value="{{this.customModel.data.TableItem}}"/>
                                        </ng-template>
                                    </div>
                                </div>
                            </ibm-accordion-item>
                        </ibm-accordion>
                    </ibm-tab>
                    <ibm-tab heading="{{ 'CATALOGS.NEW_MASTER_CATEGORY.content' | translate }}">
                            <ibm-accordion (click)="contentClicked()">
                                    <ibm-accordion-item title="{{ 'CATALOGS.NEW_MASTER_CATEGORY.content' | translate }}">
                                        <div>
                                            <input type="text" class="input-padding">
                                            <input type="text" [disabled]="disableInput" class="input-padding">
                                            <ibm-icon-close-outline16 class="icon-svg-btn"></ibm-icon-close-outline16>
                                        </div>
                                        <ibm-table class="body_roy"
                                        [model]="customModel" [size]="size" [showSelectionColumn]="showSelectionColumn" [striped]="striped">
                                       </ibm-table>
                                    </ibm-accordion-item>
                                </ibm-accordion>
                    </ibm-tab>
                    <ibm-tab heading="{{ 'CATALOGS.NEW_MASTER_CATEGORY.references' | translate }}">
                        <ibm-accordion (click)="referencesClicked()">
                            <ibm-accordion-item title="{{ 'CATALOGS.NEW_MASTER_CATEGORY.marketing_activities' | translate }}">
                                <ibm-table
                                [model]="customModel" [size]="size" [showSelectionColumn]="showSelectionColumn" [striped]="striped">
                                </ibm-table>
                            </ibm-accordion-item>
                        </ibm-accordion>
                    </ibm-tab>
                </ibm-tabs>
            </div>
        </div>
<div>
    <ac-footer></ac-footer>
</div>
