{
    "x-aes-documentation": {
        "gettingstarted": [
            {
                "content": "Some REST services require authentication. Digital Commerce REST services are authenticated on secure and unsecured channels. This authentication can include the use of the WCToken and WCTrustedToken. To use REST services that require authentication, you must first get authentication data by using a supported identity services.\n\nAfter you obtain the authentication data, you must pass either the WCToken or WCTustedToken parameters, or both, within the HTTP header for every request that requires authentication. If a request is sent over HTTP, pass the WCToken parameter in the HTTP header. Do not pass the WCTrustedToken in HTTP requests, as the parameter value might display. Send both the WCToken and the WCTrustedToken parameters when the request is being sent over HTTPS.\n\nThe Digital Commerce REST APIs can also use session cookies that are created by the Digital Commerce store runtime for authentication. These cookies allow you to mix requests to the Digital Commerce REST APIs and the Digital Commerce store runtime within the same user session.\n\n See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestauth.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestauth.html </a> ",
                "codeSnippets": [],
                "name": "Authentication"
            },
            {
                "content": "Digital Commerce REST services support JSON and XML formats for input and output data by default. The default format is JSON. When an XML String is sent to a REST service, you must set Content-Type HTTP header to be \"application/xml\". The REST service converts the XML input data to the JSON format that is accepted by REST services. Therefore, your input XML format must follow a certain structure so that it can be transformed to the JSON object that is accepted by REST services. See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/refs/rwvrestxmlformat.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/refs/rwvrestxmlformat.html </a> ",
                "codeSnippets": [],
                "name": "Response formats"
            },
            {
                "content": "Preview tokens are encrypted strings that encapsulates a set of preview options and restrictions on when and where the token can be used. Any user who is authorized to access your server and has a preview token, can complete preview actions in the same store for which that token is generated. See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.developer.doc/concepts/cpvpreviewtoken.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.developer.doc/concepts/cpvpreviewtoken.html </a>",
                "codeSnippets": [],
                "name": "Preview tokens"
            },
            {
                "content": "Some Digital Commerce REST services require a request to be sent over HTTPS. Learn more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestsecurity.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestsecurity.html </a> ",
                "codeSnippets": [],
                "name": "Secure Sockets Layer"
            }
        ]
    },
    "host": "hostname.com",
    "basePath": "/wcs/resources",
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "version": "IBM Digital Commerce Services Version 17.4",
        "description": "These services provide APIs related to locational data, including the store locator feature. In a B2C store, shoppers use the the store locator feature to locate a nearby store, where a list of nearby stores is given based on the the location entered by the shopper. In a B2B store, the store locator displays countries that stores are located in.",
        "title": "IBM Digital Commerce Services - Store Locator"
    },
    "tags": [
        {
            "name": "Store Locator",
            "description": "This class provides RESTful services to get store location details. It performs the service by delegating to the PhysicalStore and GeoNode BOD services."
        },
        {
            "name": "Country",
            "description": "This class provides RESTful services to get countries or regions and states or provinces information."
        },
        {
            "name": "Geonode",
            "description": "This class provides RESTful services to get geo node details. It performs the service by delegating to the GeoNode BOD service."
        }
    ],
    "paths": {
        "/store/{storeId}/storelocator/byLocation": {
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/storelocator_storelocator"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "recordSetStartNumber": "0",
                                "recordSetComplete": "true",
                                "recordSetCount": "3",
                                "resourceId": "http://localhost:80/wcs/resources/store/10001/storelocator/byLocation?city=markham&siteLevelStoreSearch=false",
                                "PhysicalStore": [
                                    {
                                        "city": "Markham",
                                        "Description": [
                                            {
                                                "displayStoreName": "Markham Centre"
                                            }
                                        ],
                                        "storeName": "Markham Centre",
                                        "Attribute": [
                                            {
                                                "displayValue": "true",
                                                "displayName": "Beauty center",
                                                "name": "BeautyCenter",
                                                "value": "true"
                                            },
                                            {
                                                "displayValue": "true",
                                                "displayName": "Cappuccino bar",
                                                "name": "CappuccinoBar",
                                                "value": "true"
                                            },
                                            {
                                                "displayValue": "Regular Store",
                                                "displayName": "Type",
                                                "name": "Type",
                                                "value": "Regular Store"
                                            },
                                            {
                                                "displayValue": "Mon-Fri: 10am - 9pm<br />Sat: 9am - 7pm<br />Sun: 11am - 6pm<br />",
                                                "displayName": "Store hours",
                                                "name": "StoreHours",
                                                "value": "Mon-Fri: 10am - 9pm<br />Sat: 9am - 7pm<br />Sun: 11am - 6pm<br />"
                                            }
                                        ],
                                        "longitude": "-79.33200",
                                        "latitude": "43.84600",
                                        "stateOrProvinceName": "Ontario",
                                        "uniqueID": "10003",
                                        "telephone1": "905.413.5555                    ",
                                        "postalCode": "L6G 1C7                                 ",
                                        "country": "Canada",
                                        "addressLine": [
                                            "8200 Warden Ave"
                                        ]
                                    },
                                    {
                                        "city": "Markham",
                                        "Description": [
                                            {
                                                "displayStoreName": "Markville Mall"
                                            }
                                        ],
                                        "storeName": "Markville Mall",
                                        "Attribute": [
                                            {
                                                "displayValue": "true",
                                                "displayName": "Designer studio",
                                                "name": "DesignerStudio",
                                                "value": "true"
                                            },
                                            {
                                                "displayValue": "Express Store",
                                                "displayName": "Type",
                                                "name": "Type",
                                                "value": "Express Store"
                                            },
                                            {
                                                "displayValue": "Mon-Fri: 10am - 9pm<br />Sat: 9am - 7pm<br />Sun: 11am - 6pm<br />",
                                                "displayName": "Store hours",
                                                "name": "StoreHours",
                                                "value": "Mon-Fri: 10am - 9pm<br />Sat: 9am - 7pm<br />Sun: 11am - 6pm<br />"
                                            }
                                        ],
                                        "longitude": "-79.29000",
                                        "latitude": "43.88900",
                                        "stateOrProvinceName": "Ontario",
                                        "uniqueID": "10004",
                                        "telephone1": "905.416.6666                    ",
                                        "postalCode": "L3P 3J3                                 ",
                                        "country": "Canada",
                                        "addressLine": [
                                            "8000 McCowan Rd"
                                        ]
                                    },
                                    {
                                        "city": "Markham",
                                        "Description": [
                                            {
                                                "displayStoreName": "Warden Plaza"
                                            }
                                        ],
                                        "storeName": "Warden Plaza",
                                        "Attribute": [
                                            {
                                                "displayValue": "true",
                                                "displayName": "Beauty center",
                                                "name": "BeautyCenter",
                                                "value": "true"
                                            },
                                            {
                                                "displayValue": "true",
                                                "displayName": "Cappuccino bar",
                                                "name": "CappuccinoBar",
                                                "value": "true"
                                            },
                                            {
                                                "displayValue": "true",
                                                "displayName": "Sushi restaurant",
                                                "name": "SushiRestaurant",
                                                "value": "true"
                                            },
                                            {
                                                "displayValue": "Regular Store",
                                                "displayName": "Type",
                                                "name": "Type",
                                                "value": "Regular Store"
                                            },
                                            {
                                                "displayValue": "Mon-Fri: 10am - 9pm<br />Sat: 9am - 7pm<br />Sun: 11am - 6pm<br />",
                                                "displayName": "Store hours",
                                                "name": "StoreHours",
                                                "value": "Mon-Fri: 10am - 9pm<br />Sat: 9am - 7pm<br />Sun: 11am - 6pm<br />"
                                            }
                                        ],
                                        "longitude": "-79.33300",
                                        "latitude": "43.85100",
                                        "stateOrProvinceName": "Ontario",
                                        "uniqueID": "10039",
                                        "telephone1": "905.326.8647                    ",
                                        "postalCode": "L6G 1C7                                 ",
                                        "country": "Canada",
                                        "addressLine": [
                                            "8250 Warden Ave"
                                        ]
                                    }
                                ],
                                "resourceName": "storelocator",
                                "recordSetTotal": "3"
                            }
                        }
                    },
                    "404": {
                        "description": "No physical store is found for the criteria provided."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The city.",
                        "in": "query",
                        "name": "city"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The state.",
                        "in": "query",
                        "name": "state"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The province.",
                        "in": "query",
                        "name": "prov"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The country.",
                        "in": "query",
                        "name": "country"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The radius unit of measure.",
                        "in": "query",
                        "name": "radiusUOM"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The physical store attribute name that describes whether the store is a beauty center.",
                        "in": "query",
                        "name": "BeautyCenter"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The physical store attribute name to describe the type of the store.",
                        "in": "query",
                        "name": "Type"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The radius.",
                        "in": "query",
                        "name": "radius"
                    },
                    {
                        "description": "Page number. Valid values are positive integers starting at 1. Use pageNumber with pageSize.",
                        "format": "int32",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "name": "pageNumber"
                    },
                    {
                        "description": "Page size. Used to limit the amount of data returned by a query. Valid values are integers starting with 1. Use pageSize with pageNumber.",
                        "format": "int32",
                        "required": false,
                        "in": "query",
                        "type": "integer",
                        "name": "pageSize"
                    },
                    {
                        "enum": [
                            "true",
                            "false"
                        ],
                        "name": "siteLevelStoreSearch",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "If it is 'true', a site level physical search is performed.  Otherwise, the physical store search is performed at the web store level. By default, it is 'true'."
                    }
                ],
                "tags": [
                    "Store Locator"
                ],
                "description": "Gets store location information by a specified location.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get by specified location",
                "operationId": "StoreLocatorfindGeoNodeByGeoLocation"
            }
        },
        "/store/{storeId}/country/country_state_list": {
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_user_beans_CountryStateListDataBean_IBM_countryStateList_Summary"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "countryCodeStates": null,
                                "countries": [
                                    {
                                        "states": [],
                                        "callingCode": "+93",
                                        "code": "AF",
                                        "displayName": "Afghanistan"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+355",
                                        "code": "AL",
                                        "displayName": "Albania"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+213",
                                        "code": "DZ",
                                        "displayName": "Algeria"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+684",
                                        "code": "AS",
                                        "displayName": "American Samoa"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+376",
                                        "code": "AD",
                                        "displayName": "Andorra"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+244",
                                        "code": "AO",
                                        "displayName": "Angola"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-264",
                                        "code": "AI",
                                        "displayName": "Anguilla"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+672",
                                        "code": "AQ",
                                        "displayName": "Antarctica"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-268",
                                        "code": "AG",
                                        "displayName": "Antigua and Barbuda"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+54",
                                        "code": "AR",
                                        "displayName": "Argentina"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+374",
                                        "code": "AM",
                                        "displayName": "Armenia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+297",
                                        "code": "AW",
                                        "displayName": "Aruba"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+61",
                                        "code": "AU",
                                        "displayName": "Australia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+43",
                                        "code": "AT",
                                        "displayName": "Austria"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+994",
                                        "code": "AZ",
                                        "displayName": "Azerbaijan"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-242",
                                        "code": "BS",
                                        "displayName": "Bahamas"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+973",
                                        "code": "BH",
                                        "displayName": "Bahrain"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+880",
                                        "code": "BD",
                                        "displayName": "Bangladesh"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-246",
                                        "code": "BB",
                                        "displayName": "Barbados"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+375",
                                        "code": "BY",
                                        "displayName": "Belarus"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+32",
                                        "code": "BE",
                                        "displayName": "Belgium"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+501",
                                        "code": "BZ",
                                        "displayName": "Belize"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+229",
                                        "code": "BJ",
                                        "displayName": "Benin"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-441",
                                        "code": "BM",
                                        "displayName": "Bermuda"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+975",
                                        "code": "BT",
                                        "displayName": "Bhutan"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+591",
                                        "code": "BO",
                                        "displayName": "Bolivia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+387",
                                        "code": "BA",
                                        "displayName": "Bosnia and Herzegovina"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+267",
                                        "code": "BW",
                                        "displayName": "Botswana"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "",
                                        "code": "BV",
                                        "displayName": "Bouvet Island"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+55",
                                        "code": "BR",
                                        "displayName": "Brazil"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+246",
                                        "code": "IO",
                                        "displayName": "British Indian Ocean Territory"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+673",
                                        "code": "BN",
                                        "displayName": "Brunei"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+359",
                                        "code": "BG",
                                        "displayName": "Bulgaria"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+226",
                                        "code": "BF",
                                        "displayName": "Burkina Faso"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+257",
                                        "code": "BI",
                                        "displayName": "Burundi"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+855",
                                        "code": "KH",
                                        "displayName": "Cambodia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+237",
                                        "code": "CM",
                                        "displayName": "Cameroon"
                                    },
                                    {
                                        "states": [
                                            {
                                                "code": "AB",
                                                "displayName": "Alberta"
                                            },
                                            {
                                                "code": "BC",
                                                "displayName": "British Columbia"
                                            },
                                            {
                                                "code": "MB",
                                                "displayName": "Manitoba"
                                            },
                                            {
                                                "code": "NB",
                                                "displayName": "New Brunswick"
                                            },
                                            {
                                                "code": "NL",
                                                "displayName": "Newfoundland"
                                            },
                                            {
                                                "code": "NT",
                                                "displayName": "Northwest Territory"
                                            },
                                            {
                                                "code": "NS",
                                                "displayName": "Nova Scotia"
                                            },
                                            {
                                                "code": "NU",
                                                "displayName": "Nunavut"
                                            },
                                            {
                                                "code": "ON",
                                                "displayName": "Ontario"
                                            },
                                            {
                                                "code": "PE",
                                                "displayName": "Prince Edward Island"
                                            },
                                            {
                                                "code": "QC",
                                                "displayName": "Quebec"
                                            },
                                            {
                                                "code": "SK",
                                                "displayName": "Saskatchewan"
                                            },
                                            {
                                                "code": "YT",
                                                "displayName": "Yukon"
                                            }
                                        ],
                                        "callingCode": "+1",
                                        "code": "CA",
                                        "displayName": "Canada"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+238",
                                        "code": "CV",
                                        "displayName": "Cape Verde"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-345",
                                        "code": "KY",
                                        "displayName": "Cayman Islands"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+236",
                                        "code": "CF",
                                        "displayName": "Central African Republic"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+235",
                                        "code": "TD",
                                        "displayName": "Chad"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+56",
                                        "code": "CL",
                                        "displayName": "Chile"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+86",
                                        "code": "CN",
                                        "displayName": "China"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+61-8",
                                        "code": "CX",
                                        "displayName": "Christmas Island"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+61",
                                        "code": "CC",
                                        "displayName": "Cocos Islands"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+57",
                                        "code": "CO",
                                        "displayName": "Colombia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+269",
                                        "code": "KM",
                                        "displayName": "Comoros"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+242",
                                        "code": "CG",
                                        "displayName": "Congo"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+243",
                                        "code": "CD",
                                        "displayName": "Congo, Democratic Republic of the"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+682",
                                        "code": "CK",
                                        "displayName": "Cook Islands"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+506",
                                        "code": "CR",
                                        "displayName": "Costa Rica"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+225",
                                        "code": "CI",
                                        "displayName": "Cote d'Ivoire"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+385",
                                        "code": "HR",
                                        "displayName": "Croatia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+53",
                                        "code": "CU",
                                        "displayName": "Cuba"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+357",
                                        "code": "CY",
                                        "displayName": "Cyprus"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+420",
                                        "code": "CZ",
                                        "displayName": "Czech Republic"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+45",
                                        "code": "DK",
                                        "displayName": "Denmark"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+253",
                                        "code": "DJ",
                                        "displayName": "Djibouti"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-767",
                                        "code": "DM",
                                        "displayName": "Dominica"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-809",
                                        "code": "DO",
                                        "displayName": "Dominican Republic"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+670",
                                        "code": "TP",
                                        "displayName": "East Timor"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+593",
                                        "code": "EC",
                                        "displayName": "Ecuador"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+20",
                                        "code": "EG",
                                        "displayName": "Egypt"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+503",
                                        "code": "SV",
                                        "displayName": "El Salvador"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+240",
                                        "code": "GQ",
                                        "displayName": "Equatorial Guinea"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+291",
                                        "code": "ER",
                                        "displayName": "Eritrea"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+372",
                                        "code": "EE",
                                        "displayName": "Estonia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+251",
                                        "code": "ET",
                                        "displayName": "Ethiopia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+500",
                                        "code": "FK",
                                        "displayName": "Falkland Islands"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+298",
                                        "code": "FO",
                                        "displayName": "Faroe Islands"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+679",
                                        "code": "FJ",
                                        "displayName": "Fiji"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+358",
                                        "code": "FI",
                                        "displayName": "Finland"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+33",
                                        "code": "FR",
                                        "displayName": "France"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+594",
                                        "code": "GF",
                                        "displayName": "French Guiana"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+689",
                                        "code": "PF",
                                        "displayName": "French Polynesia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "",
                                        "code": "TF",
                                        "displayName": "French Southern Territories"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+241",
                                        "code": "GA",
                                        "displayName": "Gabon"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+220",
                                        "code": "GM",
                                        "displayName": "Gambia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+995",
                                        "code": "GE",
                                        "displayName": "Georgia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+49",
                                        "code": "DE",
                                        "displayName": "Germany"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+233",
                                        "code": "GH",
                                        "displayName": "Ghana"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+350",
                                        "code": "GI",
                                        "displayName": "Gibraltar"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+30",
                                        "code": "GR",
                                        "displayName": "Greece"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+299",
                                        "code": "GL",
                                        "displayName": "Greenland"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-473",
                                        "code": "GD",
                                        "displayName": "Grenada"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+590",
                                        "code": "GP",
                                        "displayName": "Guadeloupe"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-671",
                                        "code": "GU",
                                        "displayName": "Guam"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+502",
                                        "code": "GT",
                                        "displayName": "Guatemala"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+224",
                                        "code": "GN",
                                        "displayName": "Guinea"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+245",
                                        "code": "GW",
                                        "displayName": "Guinea-Bissau"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+592",
                                        "code": "GY",
                                        "displayName": "Guyana"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+509",
                                        "code": "HT",
                                        "displayName": "Haiti"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "",
                                        "code": "HM",
                                        "displayName": "Heard Island and Mcdonald Islands"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+379",
                                        "code": "VA",
                                        "displayName": "Holy See"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+504",
                                        "code": "HN",
                                        "displayName": "Honduras"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+852",
                                        "code": "HK",
                                        "displayName": "Hong Kong S.A.R. of China"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+36",
                                        "code": "HU",
                                        "displayName": "Hungary"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+354",
                                        "code": "IS",
                                        "displayName": "Iceland"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+91",
                                        "code": "IN",
                                        "displayName": "India"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+62",
                                        "code": "ID",
                                        "displayName": "Indonesia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+98",
                                        "code": "IR",
                                        "displayName": "Iran"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+964",
                                        "code": "IQ",
                                        "displayName": "Iraq"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+353",
                                        "code": "IE",
                                        "displayName": "Ireland"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+972",
                                        "code": "IL",
                                        "displayName": "Israel"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+39",
                                        "code": "IT",
                                        "displayName": "Italy"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-876",
                                        "code": "JM",
                                        "displayName": "Jamaica"
                                    },
                                    {
                                        "states": [
                                            {
                                                "code": "Aichi",
                                                "displayName": "Aichi"
                                            },
                                            {
                                                "code": "Akita",
                                                "displayName": "Akita"
                                            },
                                            {
                                                "code": "Aomori",
                                                "displayName": "Aomori"
                                            },
                                            {
                                                "code": "Chiba",
                                                "displayName": "Chiba"
                                            },
                                            {
                                                "code": "Ehime",
                                                "displayName": "Ehime"
                                            },
                                            {
                                                "code": "Fukui",
                                                "displayName": "Fukui"
                                            },
                                            {
                                                "code": "Fukuoka",
                                                "displayName": "Fukuoka"
                                            },
                                            {
                                                "code": "Fukushima",
                                                "displayName": "Fukushima"
                                            },
                                            {
                                                "code": "Gifu",
                                                "displayName": "Gifu"
                                            },
                                            {
                                                "code": "Gunma",
                                                "displayName": "Gunma"
                                            },
                                            {
                                                "code": "Hiroshima",
                                                "displayName": "Hiroshima"
                                            },
                                            {
                                                "code": "Hokkaido",
                                                "displayName": "Hokkaido"
                                            },
                                            {
                                                "code": "Hyogo",
                                                "displayName": "Hyogo"
                                            },
                                            {
                                                "code": "Ibaraki",
                                                "displayName": "Ibaraki"
                                            },
                                            {
                                                "code": "Ishikawa",
                                                "displayName": "Ishikawa"
                                            },
                                            {
                                                "code": "Iwate",
                                                "displayName": "Iwate"
                                            },
                                            {
                                                "code": "Kagawa",
                                                "displayName": "Kagawa"
                                            },
                                            {
                                                "code": "Kagoshima",
                                                "displayName": "Kagoshima"
                                            },
                                            {
                                                "code": "Kanagawa",
                                                "displayName": "Kanagawa"
                                            },
                                            {
                                                "code": "Kochi",
                                                "displayName": "Kochi"
                                            },
                                            {
                                                "code": "Kumamoto",
                                                "displayName": "Kumamoto"
                                            },
                                            {
                                                "code": "Kyoto",
                                                "displayName": "Kyoto"
                                            },
                                            {
                                                "code": "Mie",
                                                "displayName": "Mie"
                                            },
                                            {
                                                "code": "Miyagi",
                                                "displayName": "Miyagi"
                                            },
                                            {
                                                "code": "Miyazaki",
                                                "displayName": "Miyazaki"
                                            },
                                            {
                                                "code": "Nagano",
                                                "displayName": "Nagano"
                                            },
                                            {
                                                "code": "Nagasaki",
                                                "displayName": "Nagasaki"
                                            },
                                            {
                                                "code": "Nara",
                                                "displayName": "Nara"
                                            },
                                            {
                                                "code": "Niigata",
                                                "displayName": "Niigata"
                                            },
                                            {
                                                "code": "Oita",
                                                "displayName": "Oita"
                                            },
                                            {
                                                "code": "Okayama",
                                                "displayName": "Okayama"
                                            },
                                            {
                                                "code": "Okinawa",
                                                "displayName": "Okinawa"
                                            },
                                            {
                                                "code": "Osaka",
                                                "displayName": "Osaka"
                                            },
                                            {
                                                "code": "Saga",
                                                "displayName": "Saga"
                                            },
                                            {
                                                "code": "Saitama",
                                                "displayName": "Saitama"
                                            },
                                            {
                                                "code": "Shiga",
                                                "displayName": "Shiga"
                                            },
                                            {
                                                "code": "Shimane",
                                                "displayName": "Shimane"
                                            },
                                            {
                                                "code": "Shizuoka",
                                                "displayName": "Shizuoka"
                                            },
                                            {
                                                "code": "Tochigi",
                                                "displayName": "Tochigi"
                                            },
                                            {
                                                "code": "Tokushima",
                                                "displayName": "Tokushima"
                                            },
                                            {
                                                "code": "Tokyo",
                                                "displayName": "Tokyo"
                                            },
                                            {
                                                "code": "Tottori",
                                                "displayName": "Tottori"
                                            },
                                            {
                                                "code": "Toyama",
                                                "displayName": "Toyama"
                                            },
                                            {
                                                "code": "Wakayama",
                                                "displayName": "Wakayama"
                                            },
                                            {
                                                "code": "Yamagata",
                                                "displayName": "Yamagata"
                                            },
                                            {
                                                "code": "Yamaguchi",
                                                "displayName": "Yamaguchi"
                                            },
                                            {
                                                "code": "Yamanashi",
                                                "displayName": "Yamanashi"
                                            }
                                        ],
                                        "callingCode": "+81",
                                        "code": "JP",
                                        "displayName": "Japan"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+962",
                                        "code": "JO",
                                        "displayName": "Jordan"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+7-6",
                                        "code": "KZ",
                                        "displayName": "Kazakhstan"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+254",
                                        "code": "KE",
                                        "displayName": "Kenya"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+686",
                                        "code": "KI",
                                        "displayName": "Kiribati"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+850",
                                        "code": "KP",
                                        "displayName": "Korea, North"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+82",
                                        "code": "KR",
                                        "displayName": "Korea, South"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+965",
                                        "code": "KW",
                                        "displayName": "Kuwait"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+996",
                                        "code": "KG",
                                        "displayName": "Kyrgyzstan"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+856",
                                        "code": "LA",
                                        "displayName": "Laos"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+371",
                                        "code": "LV",
                                        "displayName": "Latvia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+961",
                                        "code": "LB",
                                        "displayName": "Lebanon"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+266",
                                        "code": "LS",
                                        "displayName": "Lesotho"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+231",
                                        "code": "LR",
                                        "displayName": "Liberia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+218",
                                        "code": "LY",
                                        "displayName": "Libya"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+423",
                                        "code": "LI",
                                        "displayName": "Liechtenstein"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+370",
                                        "code": "LT",
                                        "displayName": "Lithuania"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+352",
                                        "code": "LU",
                                        "displayName": "Luxembourg"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+853",
                                        "code": "MO",
                                        "displayName": "Macau S.A.R. of China"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+389",
                                        "code": "MK",
                                        "displayName": "Macedonia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+261",
                                        "code": "MG",
                                        "displayName": "Madagascar"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+265",
                                        "code": "MW",
                                        "displayName": "Malawi"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+60",
                                        "code": "MY",
                                        "displayName": "Malaysia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+960",
                                        "code": "MV",
                                        "displayName": "Maldives"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+223",
                                        "code": "ML",
                                        "displayName": "Mali"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+356",
                                        "code": "MT",
                                        "displayName": "Malta"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+692",
                                        "code": "MH",
                                        "displayName": "Marshall Islands"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+596",
                                        "code": "MQ",
                                        "displayName": "Martinique"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+222",
                                        "code": "MR",
                                        "displayName": "Mauritania"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+230",
                                        "code": "MU",
                                        "displayName": "Mauritius"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+262",
                                        "code": "YT",
                                        "displayName": "Mayotte"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+52",
                                        "code": "MX",
                                        "displayName": "Mexico"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+691",
                                        "code": "FM",
                                        "displayName": "Micronesia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+373",
                                        "code": "MD",
                                        "displayName": "Moldova"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+377",
                                        "code": "MC",
                                        "displayName": "Monaco"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+976",
                                        "code": "MN",
                                        "displayName": "Mongolia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-664",
                                        "code": "MS",
                                        "displayName": "Montserrat"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+212",
                                        "code": "MA",
                                        "displayName": "Morocco"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+258",
                                        "code": "MZ",
                                        "displayName": "Mozambique"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+95",
                                        "code": "MM",
                                        "displayName": "Myanmar"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+264",
                                        "code": "NA",
                                        "displayName": "Namibia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+674",
                                        "code": "NR",
                                        "displayName": "Nauru"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+977",
                                        "code": "NP",
                                        "displayName": "Nepal"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+31",
                                        "code": "NL",
                                        "displayName": "Netherlands"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+599",
                                        "code": "AN",
                                        "displayName": "Netherlands Antilles"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+687",
                                        "code": "NC",
                                        "displayName": "New Caledonia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+64",
                                        "code": "NZ",
                                        "displayName": "New Zealand"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+505",
                                        "code": "NI",
                                        "displayName": "Nicaragua"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+227",
                                        "code": "NE",
                                        "displayName": "Niger"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+234",
                                        "code": "NG",
                                        "displayName": "Nigeria"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+683",
                                        "code": "NU",
                                        "displayName": "Niue"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+672",
                                        "code": "NF",
                                        "displayName": "Norfolk Island"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-670",
                                        "code": "MP",
                                        "displayName": "Northern Mariana Islands"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+47",
                                        "code": "NO",
                                        "displayName": "Norway"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+968",
                                        "code": "OM",
                                        "displayName": "Oman"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+92",
                                        "code": "PK",
                                        "displayName": "Pakistan"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+680",
                                        "code": "PW",
                                        "displayName": "Palau"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+970",
                                        "code": "PS",
                                        "displayName": "Palestinian Territory"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+507",
                                        "code": "PA",
                                        "displayName": "Panama"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+675",
                                        "code": "PG",
                                        "displayName": "Papua New Guinea"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+595",
                                        "code": "PY",
                                        "displayName": "Paraguay"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+51",
                                        "code": "PE",
                                        "displayName": "Peru"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+63",
                                        "code": "PH",
                                        "displayName": "Philippines"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+872",
                                        "code": "PN",
                                        "displayName": "Pitcairn"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+48",
                                        "code": "PL",
                                        "displayName": "Poland"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+351",
                                        "code": "PT",
                                        "displayName": "Portugal"
                                    },
                                    {
                                        "states": [
                                            {
                                                "code": "PR",
                                                "displayName": "Puerto Rico"
                                            }
                                        ],
                                        "callingCode": "+1-778",
                                        "code": "PR",
                                        "displayName": "Puerto Rico"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+974",
                                        "code": "QA",
                                        "displayName": "Qatar"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+262",
                                        "code": "RE",
                                        "displayName": "Reunion"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+40",
                                        "code": "RO",
                                        "displayName": "Romania"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+7",
                                        "code": "RU",
                                        "displayName": "Russian Federation"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+250",
                                        "code": "RW",
                                        "displayName": "Rwanda"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+290",
                                        "code": "SH",
                                        "displayName": "Saint Helena"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-869",
                                        "code": "KN",
                                        "displayName": "Saint Kitts and Nevis"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-758",
                                        "code": "LC",
                                        "displayName": "Saint Lucia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+508",
                                        "code": "PM",
                                        "displayName": "Saint Pierre and Miquelon"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+1-784",
                                        "code": "VC",
                                        "displayName": "Saint Vincent and the Grenadines"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+685",
                                        "code": "WS",
                                        "displayName": "Samoa"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+378",
                                        "code": "SM",
                                        "displayName": "San Marino"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+239",
                                        "code": "ST",
                                        "displayName": "Sao Tome and Principe"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+966",
                                        "code": "SA",
                                        "displayName": "Saudi Arabia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+221",
                                        "code": "SN",
                                        "displayName": "Senegal"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+248",
                                        "code": "SC",
                                        "displayName": "Seychelles"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+232",
                                        "code": "SL",
                                        "displayName": "Sierra Leone"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+65",
                                        "code": "SG",
                                        "displayName": "Singapore"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+421",
                                        "code": "SK",
                                        "displayName": "Slovakia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+386",
                                        "code": "SI",
                                        "displayName": "Slovenia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+677",
                                        "code": "SB",
                                        "displayName": "Solomon Islands"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+252",
                                        "code": "SO",
                                        "displayName": "Somalia"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+27",
                                        "code": "ZA",
                                        "displayName": "South Africa"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "",
                                        "code": "GS",
                                        "displayName": "South Georgia and the South Sandwich Islands"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+34",
                                        "code": "ES",
                                        "displayName": "Spain"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+94",
                                        "code": "LK",
                                        "displayName": "Sri Lanka"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+249",
                                        "code": "SD",
                                        "displayName": "Sudan"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+597",
                                        "code": "SR",
                                        "displayName": "Suriname"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+79",
                                        "code": "SJ",
                                        "displayName": "Svalbard and Jan Mayen"
                                    },
                                    {
                                        "states": [],
                                        "callingCode": "+268",
                                        "code": "SZ",
                                        "displayName": "Swaziland"
[...]
