{
    "x-aes-documentation": {
        "gettingstarted": [{
                "content": "Some REST services require authentication. Digital Commerce REST services are authenticated on secure and unsecured channels. This authentication can include the use of the WCToken and WCTrustedToken. To use REST services that require authentication, you must first get authentication data by using a supported identity services.\n\nAfter you obtain the authentication data, you must pass either the WCToken or WCTustedToken parameters, or both, within the HTTP header for every request that requires authentication. If a request is sent over HTTP, pass the WCToken parameter in the HTTP header. Do not pass the WCTrustedToken in HTTP requests, as the parameter value might display. Send both the WCToken and the WCTrustedToken parameters when the request is being sent over HTTPS.\n\nThe Digital Commerce REST APIs can also use session cookies that are created by the Digital Commerce store runtime for authentication. These cookies allow you to mix requests to the Digital Commerce REST APIs and the Digital Commerce store runtime within the same user session.\n\n See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestauth.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestauth.html </a> ",
                "codeSnippets": [],
                "name": "Authentication"
            },
            {
                "content": "Digital Commerce REST services support JSON and XML formats for input and output data by default. The default format is JSON. When an XML String is sent to a REST service, you must set Content-Type HTTP header to be \"application/xml\". The REST service converts the XML input data to the JSON format that is accepted by REST services. Therefore, your input XML format must follow a certain structure so that it can be transformed to the JSON object that is accepted by REST services. See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/refs/rwvrestxmlformat.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/refs/rwvrestxmlformat.html </a> ",
                "codeSnippets": [],
                "name": "Response formats"
            },
            {
                "content": "Preview tokens are encrypted strings that encapsulates a set of preview options and restrictions on when and where the token can be used. Any user who is authorized to access your server and has a preview token, can complete preview actions in the same store for which that token is generated. See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.developer.doc/concepts/cpvpreviewtoken.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.developer.doc/concepts/cpvpreviewtoken.html </a>",
                "codeSnippets": [],
                "name": "Preview tokens"
            },
            {
                "content": "Some Digital Commerce REST services require a request to be sent over HTTPS. Learn more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestsecurity.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestsecurity.html </a> ",
                "codeSnippets": [],
                "name": "Secure Sockets Layer"
            }
        ]
    },
    "host": "hostname.com",
    "basePath": "/wcs/resources",
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "version": "IBM Digital Commerce Services Version 18.3",
        "description": "These services provide APIs related to user and organization management in a B2C and B2B store. Use these classes to: <ul><li> Get person details <li> Add or update a member <li> Register a person as a member <li> Update a member <li>Get or update organization information <li> Get or update a checkout profile<li> Search for approval records <li> Approve or reject pending approval records",
        "title": "IBM Digital Commerce Services - User and Organization Management"
    },
    "tags": [
        {
            "name": "Approval Status",
            "description": "This class provides RESTful services to approve or reject registrations."
        },
        {
            "name": "Checkout Profile",
            "description": "This class provides RESTful services to get and update a checkout profile."
        },
        {
            "name": "Contact",
            "description": "This class provides RESTful services to get contact details, register a person as a member, and update a member."
        },
        {
            "name": "Organization",
            "description": "This class provides RESTful services to register an organization, to get or update organization information."
        },
        {
            "name": "Person",
            "description": "This class provides RESTful services to get person details, register a member, and update a member.  This class also provides RESTful services used by an administrator to find person information, register new and update existing user information."
        },
        {
            "name": "User Activate"
        }
    ],
    "paths": {
        "/store/{storeId}/organization": {
            "post": {
                "responses": {
                    "201": {
                        "description": "The requested resource has been created."
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_OrganizationHandler_OrgEntityIdentity"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "orgEntityId": "7000000000000004402",
                                "viewTaskName": "RedirectView",
                                "addressId": "15802"
                            }
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_OrganizationHandler_OrgEntityAddRequest"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "description": "Allows an administrator to register an organization.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Allows an administrator to register an organization.",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "OrganizationregisterOrganization"
            },
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_user_beans_OrganizationSearchDataBean_IBM_Organization_List_Details"
                        },
                        "description": "The requested completed successfully."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The storeId.",
                        "in": "path",
                        "name": "storeId"
                    },
                    {
                        "enum": [
                            "IBM_Store_Summary",
                            "IBM_Organization_List_Summary",
                            "IBM_Organization_List_Short_Summary",
                            "IBM_Organization_List_Details",
                            "IBM_Roles_To_Assign_Details"
                        ],
                        "name": "profileName",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "Profile name. Profiles determine the subset of data returned by a query."
                    },
                    {
                        "enum": [
                            "organizationHierarchy",
                            "organizationsICanAdmin",
                            "rolesICanAssignInOrg"
                        ],
                        "name": "q",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "description": "The query name. <ul><li>organizationHierarchy: Retrieves the organization hierarchy.</li><li>organizationsICanAdmin: This allows an administrator to find organizations that he/she can administer.</li><li>rolesICanAssignInOrg: This allows an administrator to find roles that he/she can assign in organizations.</li></ul>"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The trading account ID.",
                        "in": "query",
                        "name": "accountId"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The organization identifier.",
                        "in": "query",
                        "name": "orgId"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The organization name.",
                        "in": "query",
                        "name": "orgName"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The parent organization name.",
                        "in": "query",
                        "name": "parentOrgName"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The starting index of the result.",
                        "in": "query",
                        "name": "startIndex"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The maximum number of results to be returned.",
                        "in": "query",
                        "name": "maxResults"
                    }],
                "tags": [
                    "Organization"
                ],
                "description": "This allows an administrator to find organizations based on query name. See each query for details on input and output.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "This allows an administrator to find organizations based on query name. See each query for details on input and output.",
                "operationId": "OrganizationfindByQuery"
            }
        },
        "/store/{storeId}/organization/{organizationId}": {
            "put": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_OrganizationHandler_OrgEntityIdentity"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "orgEntityId": "7000000000000000919",
                                "viewTaskName": "RedirectView",
                                "addressId": "12338"
                            }
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The organization identifier.",
                        "in": "path",
                        "name": "organizationId"
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_OrganizationHandler_OrgEntityUpdateRequest"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "description": "This allows an administrator to update information of an organization.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "This allows an administrator to update information of an organization.",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "OrganizationupdateOrganization"
            },
            "post": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_OrganizationHandler_UpdateApprovalGroupsResponse"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "viewTaskName": "RedirectView"
                            }
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The organization identifier.",
                        "in": "path",
                        "name": "organizationId"
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_OrganizationHandler_UpdateApprovalGroups"
                        }
                    },
                    {
                        "enum": [
                            "updateApprovalGroups"
                        ],
                        "name": "action",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "description": "The action of the rest service."
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "description": "Updates an approval group.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Updates an approval group.",
                "operationId": "OrganizationupdateApprovalGroups"
            },
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_user_beans_OrgEntityDataBean_IBM_Parent_Assigned_Roles_Details"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "status": 0,
                                "displayName": "Default Organization",
                                "description": null,
                                "businessCategory": null,
                                "organizationId": "-2000",
                                "organizationDisplayName": "Default Organization (Root Organization)",
                                "addressBook": [],
                                "state": "1",
                                "organizationName": "Default Organization",
                                "contactInfo": {
                                    "city": "",
                                    "addressType": "",
                                    "organizationName": "",
                                    "firstName": "",
                                    "addressId": "-2000",
                                    "middleName": "",
                                    "lastName": "",
                                    "address2": "",
                                    "address3": "",
                                    "zipCode": "",
                                    "email2": "",
                                    "email1": "",
                                    "phone2": "",
                                    "state": "",
                                    "countryDisplayName": "",
                                    "phone1": "",
                                    "address1": "",
                                    "mobilePhone1": "",
                                    "country": "",
                                    "nickName": "Default Organization",
                                    "stateProvDisplayName": ""
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The organization identifier.",
                        "in": "path",
                        "name": "organizationId"
                    },
                    {
                        "enum": [
                            "IBM_Organization_Short_Summary",
                            "IBM_Organization_Summary",
                            "IBM_Organization_Details",
                            "IBM_Org_Entity_Details",
                            "IBM_Assigned_Roles_Details",
                            "IBM_Parent_Assigned_Roles_Details"
                        ],
                        "name": "profileName",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "Profile name. Profiles determine the subset of data returned by a query. Default profile name = IBM_Organization_Summary."
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "description": "Allows administrators to find organization information by organization identifier.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Allows administrators to find organization information by organization identifier.",
                "operationId": "OrganizationfindByOrganizationIdWParentAssignedRolesDetailsProfileName"
            }
        },
        "/store/{storeId}/organization/@self/entitled_orgs": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_member_beans_OrganizationListDataBean_IBM_Organization_Summary"
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [
                    {
                        "required": false,
                        "type": "string",
                        "name": "responseFormat",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "name": "accountCheck",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "name": "explicitEntitlement",
                        "in": "query"
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "description": "Get user's entitled organizations.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get user's entitled organizations.",
                "operationId": "OrganizationgetEntitledOrganizations"
            }
        },
        "/store/{storeId}/organization/buyer": {
            "post": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_OrganizationHandler_OrgEntityBuyerIdentifier"
                        }
                    },
                    "201": {
                        "description": "The requested resource has been created."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": true,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_OrganizationHandler_BuyerRegistrationAddRequest"
                        }
                    }
                ],
                "tags": [
                    "Organization"
                ],
                "description": "Registers a new Buyer Organization as well as the initial Buyer Administrator for the new organization.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Register a new Buyer Organization as well as the initial Buyer Administrator for the new organization.",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "OrganizationregisterBuyerOrganization"
            }
        },
        "/store/{storeId}/person/updateMemberPassword": {
            "post": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_security_commands_ResetPasswordAdministratorCmd"
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonHandler_ResetPasswordAdministratorRequest"
                        }
                    },
                    {
                        "enum": [
                            "resetPasswordAdmin",
                            "resetPasswordOnBehalf"
                        ],
                        "name": "mode",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The mode in which resetPassword is run. ResetPassword can be executed in an administrator session or in an on-behalf session for a user. Default value is 'resetPasswordAdmin' if no valid value was supplied."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Allows a CSR or CSS to reset the password for a registered user. It also allows resetting password when the CSR / CSS has established a session to act on behalf of a user.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Reset password",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "PersonresetPasswordByAdmin"
            }
        },
        "/store/{storeId}/person/@self/contact": {
            "post": {
                "responses": {
                    "201": {
                        "description": "The requested resource has been created."
                    },
                    "200": {
                        "description": "No response was specified.",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonContactHandler_UserIdentifier"
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/person_contact"
                        }
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "description": "Creates a new contact in a person's address book.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Create contact in address book",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "ContactaddPersonContact"
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/person_contact"
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The addressType to filter contacts by. All contacts will be returned if a valid value is not supplied for this parameter.",
                        "in": "query",
                        "name": "addressType",
                        "enum": [
                            "Shipping",
                            "Billing",
                            "ShippingAndBilling"
                        ]
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "description": "Gets the contacts in a person's address book. If the addressType optional query parameter is passed in, the returned contacts are filtered by addressType.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get contact from address book",
                "operationId": "ContactgetAllPersonContact"
            }
        },
        "/store/{storeId}/person/@self/contextattributes/{attributeName}/{value}": {
            "delete": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonHandler_DeleteContextAttribute"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "userId": [
                                    "4054"
                                ],
                                "addressId": [
                                    "12344"
                                ]
                            }
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "Name of the context attribute as listed in MBRATTR.",
                        "in": "path",
                        "name": "attributeName"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "Value of the context attribute you want to delete as listed in MBRATTRVAL.",
                        "in": "path",
                        "name": "value"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Deletes one or more values of a context attribute for a registered user by removing associated entry in the MBRATTRVAL table.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Delete context attribute values",
                "operationId": "PersondeleteContextAttributeForPerson"
            }
        },
        "/store/{storeId}/person": {
            "post": {
                "responses": {
                    "201": {
                        "description": "The requested resource has been created."
                    },
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonHandler_UserRegistrationAdminAddResponse"
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonHandler_UserRegistrationAdminAddRequest"
                        }
                    },
                    {
                        "enum": [
                            "self",
                            "admin"
                        ],
                        "name": "mode",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The mode of the rest service."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Registers a user. When the mode is set to admin, the registration is done by an administrator.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Register user",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "PersonregisterPersonOnUserRegistrationAdminAdd"
            },
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_user_beans_UserSearchDataBean_IBM_User_List_Details"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "recordSetCompleteIndicator": false,
                                "pageSize": "3",
                                "recordSetCount": 3,
                                "userDataBeans": [{
                                        "displayName": "admin5020",
                                        "logonId": "admin5020",
                                        "firstName": null,
                                        "businessProfile": {
                                            "organizationId": "7000000000000000904",
                                            "employeeId": null
                                        },
                                        "lastName": null,
                                        "demographics": null,
                                        "userId": "4037",
                                        "memberId": "4037",
                                        "preferredLanguageId": "",
                                        "state": "0",
                                        "preferredCurrency": "USD",
                                        "personalizationId": null,
                                        "userProfile": null
                                    },
                                    {
                                        "displayName": "admin5021",
                                        "logonId": "admin5021",
                                        "firstName": null,
                                        "businessProfile": {
                                            "organizationId": "7000000000000000905",
                                            "employeeId": null
                                        },
                                        "lastName": null,
                                        "demographics": null,
                                        "userId": "4038",
                                        "memberId": "4038",
                                        "preferredLanguageId": "",
                                        "state": "0",
                                        "preferredCurrency": "USD",
                                        "personalizationId": null,
                                        "userProfile": null
                                    },
                                    {
                                        "displayName": "admin50210",
                                        "logonId": "admin50210",
                                        "firstName": null,
                                        "businessProfile": {
                                            "organizationId": "7000000000000000914",
                                            "employeeId": null
                                        },
                                        "lastName": null,
                                        "demographics": null,
                                        "userId": "4047",
                                        "memberId": "4047",
                                        "preferredLanguageId": "",
                                        "state": "0",
                                        "preferredCurrency": "USD",
                                        "personalizationId": null,
                                        "userProfile": null
                                    }
                                ],
                                "pageNumber": 1,
                                "recordSetTotal": 25
                            }
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "usersICanAdmin"
                        ],
                        "name": "q",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "description": "The query name."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Allows administrators to find users based on a query name. See each query for details on input and output.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get user by query",
                "operationId": "PersonfindByQuery"
            }
        },

        "/store/{storeId}/person/@self/contact/byAddressId/{addressId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/person_singleContact"
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The address identifier.",
                        "in": "path",
                        "name": "addressId"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "description": "Gets a person contact by address ID.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get contact by address ID",
                "operationId": "ContactfindPersonContactById"
            }
        },
        "/store/{storeId}/person/{userId}": {
            "put": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonHandler_UserIdentifier"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "userId": "4053",
                                "viewTaskName": "RedirectView",
                                "addressId": "15805"
                            }
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The user identifier.",
                        "in": "path",
                        "name": "userId"
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonHandler_UserRegistrationAdminUpdateRequest"
                        }
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Allows administrators to update account data for a registered user.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Update account data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "PersonupdatePersonByAdmin"
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "The requested resource has been created."
                    },
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "viewTaskName": "RedirectView"
                            }
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The user identifier.",
                        "in": "path",
                        "name": "userId"
                    },
                    {
                        "enum": [
                            "assignRole",
                            "unassignRole"
                        ],
                        "name": "action",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "description": "The action of the rest service."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Performs an action on a person by an administrator. See each action for details on input and output.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Upate user (by administrator)",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "PersonperformActionByAdmin"
            },
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_user_beans_MemberRoleAssignDataBean_IBM_Roles_Of_User_In_Orgs_I_Can_Admin"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "organizationName": "",
                                "logonId": "wcsadmin",
                                "registerType": "S",
                                "organizationId": "-2001",
                                "demographics": {
                                    "dateOfBirth": "",
                                    "age": "",
                                    "gender": null
                                },
                                "parentMemberId": "-2001",
                                "userId": "-1000",
                                "personTitle": "",
                                "preferredCurrency": "",
                                "address": {
                                    "addressType": null,
                                    "addressId": "-1000",
                                    "email2": null,
                                    "email1": null,
                                    "city": null,
                                    "middleName": null,
                                    "state": null,
                                    "fax2": null,
                                    "fax1": null,
                                    "nickName": "wcsadmin",
                                    "phone1": null,
                                    "phone2": null,
                                    "address1": null,
                                    "address2": null,
                                    "address3": null,
                                    "zipCode": null,
                                    "mobilePhone1Country": null,
                                    "mobilePhone1": null,
                                    "firstName": null,
                                    "lastName": "wcsadmin",
                                    "memberId": "-1000",
                                    "country": null
                                },
                                "preferredLanguage": "",
                                "userProfile": {
                                    "displayName": null,
                                    "description": "Internal use only.",
                                    "receiveSMSNotification": "0"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The user identifier.",
                        "in": "path",
                        "name": "userId"
                    },
                    {
                        "enum": [
                            "IBM_User_Display_Details",
                            "IBM_User_Registration_Details",
                            "IBM_User_Top_Level_Org_Administered",
                            "IBM_Assigned_Roles_Details",
                            "IBM_Roles_Of_User_All",
                            "IBM_Roles_Of_User_In_Orgs_I_Can_Admin"
                        ],
                        "name": "profileName",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "Profile name. Profiles determine the subset of data returned by a query. The default profile name is IBM_User_Display_Details."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Allows administrators to find user information by user identifier.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get user information by identifier",
                "operationId": "PersonfindByUserIdWRolesOfUserInOrgsICanAdminProfileName"
            },
            "delete": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonHandler_UserIdentifier"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "userId": "4053"
                            }
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The user identifier.",
                        "in": "path",
                        "name": "userId"
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Allows administrators to delete user",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Delete user (by administrator)",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "PersondeletePersonByAdmin"
            }
        },
        "/store/{storeId}/person/@self/checkoutProfile": {
            "put": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonCheckoutProfileHandler_UserIdContainer"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "userId": "11051"
                            }
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Update checkout profile body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/person_checkoutProfile"
                        }
                    }
                ],
                "tags": [
                    "Checkout Profile"
                ],
                "description": "Updates the CheckOutProfile for the logged in user using the Member service. The shopper must log in before invoking this method.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Update check out profile",
                "operationId": "CheckoutProfileupdateCheckoutProfile"
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/person_checkoutProfile"
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Checkout Profile"
                ],
                "description": "Gets the Check Out Profile for the logged in user using the Member service. The shopper must log in before invoking this method.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get check out profile",
                "operationId": "CheckoutProfilegetCheckoutProfile"
            }
        },
        "/store/{storeId}/person/updateMemberUser/{userId}": {
            "post": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonHandler_UpdateMemberUserResponse"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The user identifier.",
                        "in": "path",
                        "name": "userId"
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonHandler_UpdateMemberUser"
                        }
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Updates the user to include, exclude, or unassign the user from a member group.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Update member group assignment",
                "operationId": "PersonupdateMemberUser"
            }
        },
        "/store/{storeId}/person/@self": {
            "put": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/person_person"
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_rest_member_handler_PersonHandler_UserRegistrationUpdateRequest"
                        }
                    },
                    {
                        "enum": [
                            "updateUserRegistration"
                        ],
                        "name": "action",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The action of the rest service."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Updates account data for a registered user. This also supports resetting password for unauthenticated and authenticated users. When action is set to 'updateUserRegistration', user account data is updated using UserRegistrationUpdateCmd",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Update account data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "PersonupdatePersonOnUserRegistrationUpdate"
            },
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/person_person"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "receiveEmailPreference": [{
                                    "storeID": "10001",
                                    "value": "false"
                                }],
                                "addressType": "ShippingAndBilling",
                                "addressLine": [
                                    "123 Main St",
                                    "",
                                    ""
                                ],
                                "addressId": "15309",
                                "resourceId": "https://localhost:443/wcs/resources/store/10001/person/@self?responseFormat=json",
                                "userId": "11051",
                                "primary": "true",
                                "resourceName": "person",
                                "email1": "john@example.com",
                                "distinguishedName": "uid=john,o=default organization,o=root organization",
                                "city": "Toronto",
                                "preferredLanguage": "en_US",
                                "challengeQuestion": "-",
                                "state": "ON",
                                "registrationStatus": "RegisteredPerson",
                                "profileType": "Consumer",
                                "orgizationId": "-2000",
                                "nickName": "john",
                                "lastUpdate": "2014-11-20T14:32:21.459Z",
                                "logonId": "john",
                                "registrationApprovalStatus": "Approved",
                                "organizationDistinguishedName": "o=default organization,o=root organization",
                                "zipCode": "M1M1M1",
                                "registrationDateTime": "2014-11-20T14:32:21.469Z",
                                "preferredCurrency": "USD",
                                "receiveSMSPreference": [{
                                    "storeID": "10001",
                                    "value": "false"
                                }],
                                "firstName": "John",
                                "gender": "Unspecified",
                                "passwordExpired": "false",
                                "accountStatus": "Enabled",
                                "contact": [{
                                        "city": "Toronto",
                                        "addressType": "Billing",
                                        "addressLine": [
                                            "123 Main St",
                                            "",
                                            ""
                                        ],
                                        "addressId": "15810",
                                        "country": "CA",
                                        "primary": "false",
                                        "zipCode": "M1M1M1",
                                        "state": "ON",
                                        "firstName": "John",
                                        "lastName": "Smith",
                                        "nickName": "Default_Billing_10001",
                                        "email1": "john@example.com"
                                    },
                                    {
                                        "city": "Toronto",
                                        "addressType": "Shipping",
                                        "addressLine": [
                                            "123 Main St",
                                            "",
                                            ""
                                        ],
                                        "addressId": "15811",
                                        "country": "CA",
                                        "primary": "false",
                                        "zipCode": "M1M1M1",
                                        "state": "ON",
                                        "firstName": "John",
                                        "lastName": "Smith",
                                        "nickName": "Default_Shipping_10001",
                                        "email1": "john@example.com"
                                    },
                                    {
                                        "city": "Toronto",
                                        "addressType": "ShippingAndBilling",
                                        "addressLine": [
                                            "123 Main St",
                                            "",
                                            ""
                                        ],
                                        "addressId": "15308",
                                        "country": "CA",
                                        "phone1": "4161234567",
                                        "primary": "false",
                                        "zipCode": "M1M1M1",
                                        "state": "ON",
                                        "firstName": "Jane",
                                        "lastName": "Smith",
                                        "nickName": "jane",
                                        "email1": "jane@example.com"
                                    }
                                ],
                                "lastName": "Smith",
                                "country": "CA"
                            }
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Gets the account data for a registered user.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get account data",
                "operationId": "PersonfindPersonBySelf"
            }
        },
        "/store/{storeId}/useractivate/emailactivate": {
            "put": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_member_facade_server_commands_UserRegistrationEmailActivateCmd"
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "User Activate"
                ],
                "description": "Activates the user by LogonId.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Activate email by logon ID",
                "operationId": "UserActivateactiveUser"
            }
        },
        "/store/{storeId}/useractivate/resendemail": {
            "post": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_member_facade_server_commands_UserRegistrationEmailActivateResendCmd"
                        }
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "User Activate"
                ],
                "description": "Resends and email to the active user by LogonId.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Resend email by logon ID",
                "operationId": "UserActivateresendActiveUser"
            }
        },
        "/store/{storeId}/person/@self/languageCurrency": {
            "put": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com_ibm_commerce_price_commands_SetCurrencyPreferenceCmd"
                        }
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    }
                },
                "parameters": [{
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Changes language and currency preference in profile and in context.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Change language and currency preference",
                "operationId": "PersonchangeLanguageCurrency"
            }
        },
        "/store/{storeId}/person/@self/contact/{nickName}": {
            "put": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
[...]
