{
    "x-aes-documentation": {
        "gettingstarted": [
            {
                "content": "Some REST services require authentication. Digital Commerce REST services are authenticated on secure and unsecured channels. This authentication can include the use of the WCToken and WCTrustedToken. To use REST services that require authentication, you must first get authentication data by using a supported identity services.\n\nAfter you obtain the authentication data, you must pass either the WCToken or WCTustedToken parameters, or both, within the HTTP header for every request that requires authentication. If a request is sent over HTTP, pass the WCToken parameter in the HTTP header. Do not pass the WCTrustedToken in HTTP requests, as the parameter value might display. Send both the WCToken and the WCTrustedToken parameters when the request is being sent over HTTPS.\n\nThe Digital Commerce REST APIs can also use session cookies that are created by the Digital Commerce store runtime for authentication. These cookies allow you to mix requests to the Digital Commerce REST APIs and the Digital Commerce store runtime within the same user session.\n\n See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestauth.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestauth.html </a> ",
                "codeSnippets": [],
                "name": "Authentication"
            },
            {
                "content": "Digital Commerce REST services support JSON and XML formats for input and output data by default. The default format is JSON. When an XML String is sent to a REST service, you must set Content-Type HTTP header to be \"application/xml\". The REST service converts the XML input data to the JSON format that is accepted by REST services. Therefore, your input XML format must follow a certain structure so that it can be transformed to the JSON object that is accepted by REST services. See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/refs/rwvrestxmlformat.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/refs/rwvrestxmlformat.html </a> ",
                "codeSnippets": [],
                "name": "Response formats"
            },
            {
                "content": "Preview tokens are encrypted strings that encapsulates a set of preview options and restrictions on when and where the token can be used. Any user who is authorized to access your server and has a preview token, can complete preview actions in the same store for which that token is generated. See more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.developer.doc/concepts/cpvpreviewtoken.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.developer.doc/concepts/cpvpreviewtoken.html </a>",
                "codeSnippets": [],
                "name": "Preview tokens"
            },
            {
                "content": "Some Digital Commerce REST services require a request to be sent over HTTPS. Learn more here: <a href=https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestsecurity.html> https://www.ibm.com/support/knowledgecenter/SSZLC2_8.0.0/com.ibm.commerce.webservices.doc/concepts/cwvrestsecurity.html </a> ",
                "codeSnippets": [],
                "name": "Secure Sockets Layer"
            }
        ]
    },
    "host": "hostname.com",
    "basePath": "/wcs/resources",
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "version": "IBM Digital Commerce Services Version 18.4",
        "description": "These services provide APIs related to user and organization management in a B2C and B2B store. Use these classes to: <ul><li>Get person details</li><li>Add or update a member</li><li>Register a person as a member</li><li>Update a member</li><li>Get or update organization information</li><li>Lock or unlock an organization</li><li>Get or update a checkout profile<li>Search for approval records</li><li>Approve or reject pending approval records</li></ul>",
        "title": "IBM Digital Commerce Services - User and Organization Management"
    },
    "tags": [
        {
            "name": "Approval Status",
            "description": "This class provides RESTful services to approve or reject registrations."
        },
        {
            "name": "Checkout Profile",
            "description": "This class provides RESTful services to get and update a checkout profile."
        },
        {
            "name": "Contact",
            "description": "This class provides RESTful services to get contact details, register a person as a member, and update a member."
        },
        {
            "name": "Person",
            "description": "This class provides RESTful services to get person details, register a member, and update a member.  This class also provides RESTful services used by an administrator to find person information, register new and update existing user information."
        },
        {
            "name": "User Activate",
            "description": "This class provides RESTful services to get activate a user account and resend account activation emails."
        }
    ],
    "paths": {
        "/store/{storeId}/person/updateMemberPassword": {
            "post": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.security.commands.ResetPasswordAdministratorCmd"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonHandler.ResetPasswordAdministratorRequest"
                        }
                    },
                    {
                        "enum": [
                            "resetPasswordAdmin",
                            "resetPasswordOnBehalf"
                        ],
                        "name": "mode",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The mode in which resetPassword is run. ResetPassword can be executed in an administrator session or in an on-behalf session for a user. Default value is 'resetPasswordAdmin' if no valid value was supplied."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Allows a CSR or CSS to reset the password for a registered user. It also allows resetting password when the CSR / CSS has established a session to act on behalf of a user.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Reset password",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "Person-resetPasswordByAdmin"
            }
        },
        "/store/{storeId}/person/@self/contact": {
            "post": {
                "responses": {
                    "200": {
                        "description": "No response was specified.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonContactHandler.UserIdentifier"
                        }
                    },
                    "201": {
                        "description": "The requested resource has been created."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/person-contact"
                        }
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "description": "Creates a new contact in a person's address book.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Create contact in address book",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "Contact-addPersonContact"
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/person-contact"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The addressType to filter contacts by. All contacts will be returned if a valid value is not supplied for this parameter.",
                        "in": "query",
                        "name": "addressType",
                        "enum": [
                            "Shipping",
                            "Billing",
                            "ShippingAndBilling"
                        ]
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "description": "Gets the contacts in a person's address book. If the addressType optional query parameter is passed in, the returned contacts are filtered by addressType.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get contact from address book",
                "operationId": "Contact-getAllPersonContact"
            }
        },
        "/store/{storeId}/person/@self/contextattributes/{attributeName}/{value}": {
            "delete": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "addressId": [
                                    "12344"
                                ],
                                "userId": [
                                    "4054"
                                ]
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonHandler.DeleteContextAttribute"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "Name of the context attribute as listed in MBRATTR.",
                        "in": "path",
                        "name": "attributeName"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "Value of the context attribute you want to delete as listed in MBRATTRVAL.",
                        "in": "path",
                        "name": "value"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Deletes one or more values of a context attribute for a registered user by removing associated entry in the MBRATTRVAL table.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Delete context attribute values",
                "operationId": "Person-deleteContextAttributeForPerson"
            }
        },
        "/store/{storeId}/person": {
            "post": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonHandler.UserRegistrationAdminAddResponse"
                        }
                    },
                    "201": {
                        "description": "The requested resource has been created."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonHandler.UserRegistrationAdminAddRequest"
                        }
                    },
                    {
                        "enum": [
                            "self",
                            "admin"
                        ],
                        "name": "mode",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The mode of the rest service."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Registers a user. When the mode is set to admin, the registration is done by an administrator.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Register user",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "Person-registerPersonOnUserRegistrationAdminAdd"
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "pageNumber": 1,
                                "pageSize": "3",
                                "recordSetCompleteIndicator": false,
                                "recordSetCount": 3,
                                "recordSetTotal": 25,
                                "userDataBeans": [
                                    {
                                        "businessProfile": {
                                            "employeeId": null,
                                            "organizationId": "7000000000000000904"
                                        },
                                        "demographics": null,
                                        "displayName": "admin5020",
                                        "firstName": null,
                                        "lastName": null,
                                        "logonId": "admin5020",
                                        "memberId": "4037",
                                        "personalizationId": null,
                                        "preferredCurrency": "USD",
                                        "preferredLanguageId": "",
                                        "state": "0",
                                        "userId": "4037",
                                        "userProfile": null
                                    },
                                    {
                                        "businessProfile": {
                                            "employeeId": null,
                                            "organizationId": "7000000000000000905"
                                        },
                                        "demographics": null,
                                        "displayName": "admin5021",
                                        "firstName": null,
                                        "lastName": null,
                                        "logonId": "admin5021",
                                        "memberId": "4038",
                                        "personalizationId": null,
                                        "preferredCurrency": "USD",
                                        "preferredLanguageId": "",
                                        "state": "0",
                                        "userId": "4038",
                                        "userProfile": null
                                    },
                                    {
                                        "businessProfile": {
                                            "employeeId": null,
                                            "organizationId": "7000000000000000914"
                                        },
                                        "demographics": null,
                                        "displayName": "admin50210",
                                        "firstName": null,
                                        "lastName": null,
                                        "logonId": "admin50210",
                                        "memberId": "4047",
                                        "personalizationId": null,
                                        "preferredCurrency": "USD",
                                        "preferredLanguageId": "",
                                        "state": "0",
                                        "userId": "4047",
                                        "userProfile": null
                                    }
                                ]
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.user.beans.UserSearchDataBean_IBM_User_List_Details"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "usersICanAdmin",
                            "registeredUsersICanManage"
                        ],
                        "name": "q",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "description": "The query name."
                    },
                    {
                        "name": "startIndex",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The starting index of the result."
                    },
                    {
                        "name": "maxResults",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "Page size. Used to limit the amount of data returned by a query. Valid values include positive integers of 1 and above."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Allows administrators to find users based on a query name. See each query for details on input and output.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get user by query",
                "operationId": "Person-findByQuery"
            }
        },
        "/store/{storeId}/person/@self/contact/byAddressId/{addressId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/person-singleContact"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The address identifier.",
                        "in": "path",
                        "name": "addressId"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "description": "Gets a person contact by address ID.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get contact by address ID",
                "operationId": "Contact-findPersonContactById"
            }
        },
        "/store/{storeId}/person/{userId}": {
            "put": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonHandler.UserIdentifier"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "userId": "4053",
                                "viewTaskName": "RedirectView",
                                "addressId": "15805"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The user identifier.",
                        "in": "path",
                        "name": "userId"
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonHandler.UserRegistrationAdminUpdateRequest"
                        }
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Allows administrators to update account data for a registered user.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Update account data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "Person-updatePersonByAdmin"
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully."
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The user identifier.",
                        "in": "path",
                        "name": "userId"
                    },
                    {
                        "enum": [
                            "assignRole",
                            "unassignRole"
                        ],
                        "name": "action",
                        "required": true,
                        "in": "query",
                        "type": "string",
                        "description": "The action of the rest service. The assignRole action allows an administrator to assign role(s) to a registered user, while unassignRole allos an administrator to unassign role(s) from a registered user."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Performs an action on a user by an administrator. See each action for details on input and output.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Performs an action on a user by an administrator. See each action for details on input and output.",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "Person-performActionByAdmin"
            },
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.user.beans.MemberRoleAssignDataBean_IBM_Roles_Of_User_In_Orgs_I_Can_Admin"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "address": {
                                    "address1": null,
                                    "address2": null,
                                    "address3": null,
                                    "addressId": "-1000",
                                    "addressType": null,
                                    "city": null,
                                    "country": null,
                                    "email1": null,
                                    "email2": null,
                                    "fax1": null,
                                    "fax2": null,
                                    "firstName": null,
                                    "lastName": "wcsadmin",
                                    "memberId": "-1000",
                                    "middleName": null,
                                    "mobilePhone1": null,
                                    "mobilePhone1Country": null,
                                    "nickName": "wcsadmin",
                                    "phone1": null,
                                    "phone2": null,
                                    "state": null,
                                    "zipCode": null
                                },
                                "demographics": {
                                    "age": "",
                                    "dateOfBirth": "",
                                    "gender": null
                                },
                                "logonId": "wcsadmin",
                                "organizationId": "-2001",
                                "organizationName": "",
                                "parentMemberId": "-2001",
                                "personTitle": "",
                                "preferredCurrency": "",
                                "preferredLanguage": "",
                                "registerType": "S",
                                "userId": "-1000",
                                "userProfile": {
                                    "description": "Internal use only.",
                                    "displayName": null,
                                    "receiveSMSNotification": "0"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The user identifier.",
                        "in": "path",
                        "name": "userId"
                    },
                    {
                        "enum": [
                            "IBM_User_Display_Details",
                            "IBM_User_Registration_Details",
                            "IBM_User_Top_Level_Org_Administered",
                            "IBM_Assigned_Roles_Details",
                            "IBM_Roles_Of_User_All",
                            "IBM_Roles_Of_User_In_Orgs_I_Can_Admin"
                        ],
                        "name": "profileName",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "Profile name. Profiles determine the subset of data returned by a query. The default profile name is IBM_User_Display_Details."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Allows administrators to find user information by user identifier.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get user information by identifier",
                "operationId": "Person-findByUserIdWRolesOfUserInOrgsICanAdminProfileName"
            },
            "delete": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonHandler.UserIdentifier"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "userId": "4053"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The user identifier.",
                        "in": "path",
                        "name": "userId"
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Allows administrators to delete user",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Delete user (by administrator)",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "Person-deletePersonByAdmin"
            }
        },
        "/store/{storeId}/person/@self/checkoutProfile": {
            "put": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonCheckoutProfileHandler.UserIdContainer"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "userId": "11051"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Update checkout profile body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/person-checkoutProfile"
                        }
                    }
                ],
                "tags": [
                    "Checkout Profile"
                ],
                "description": "Updates the CheckOutProfile for the logged in user using the Member service. The shopper must log in before invoking this method.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Update check out profile",
                "operationId": "CheckoutProfile-updateCheckoutProfile"
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/person-checkoutProfile"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Checkout Profile"
                ],
                "description": "Gets the Check Out Profile for the logged in user using the Member service. The shopper must log in before invoking this method.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get check out profile",
                "operationId": "CheckoutProfile-getCheckoutProfile"
            }
        },
        "/store/{storeId}/person/updateMemberUser/{userId}": {
            "post": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonHandler.UpdateMemberUserResponse"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The user identifier.",
                        "in": "path",
                        "name": "userId"
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonHandler.UpdateMemberUser"
                        }
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Updates the user to include, exclude, or unassign the user from a member group.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Update member group assignment",
                "operationId": "Person-updateMemberUser"
            }
        },
        "/store/{storeId}/person/@self": {
            "put": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/person-person"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.PersonHandler.UserRegistrationUpdateRequest"
                        }
                    },
                    {
                        "enum": [
                            "updateUserRegistration"
                        ],
                        "name": "action",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The action of the rest service."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Updates account data for a registered user. This also supports resetting password for unauthenticated and authenticated users. When action is set to 'updateUserRegistration', user account data is updated using UserRegistrationUpdateCmd",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Update account data",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "Person-updatePersonOnUserRegistrationUpdate"
            },
            "get": {
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/person-person"
                        },
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "accountStatus": "Enabled",
                                "addressId": "15309",
                                "addressLine": [
                                    "123 Main St",
                                    "",
                                    ""
                                ],
                                "addressType": "ShippingAndBilling",
                                "challengeQuestion": "-",
                                "city": "Toronto",
                                "contact": [
                                    {
                                        "addressId": "15308",
                                        "addressLine": [
                                            "123 Main St",
                                            "",
                                            ""
                                        ],
                                        "addressType": "ShippingAndBilling",
                                        "city": "Toronto",
                                        "country": "CA",
                                        "email1": "jane@example.com",
                                        "firstName": "Jane",
                                        "lastName": "Smith",
                                        "nickName": "jane",
                                        "phone1": "4161234567",
                                        "primary": "false",
                                        "state": "ON",
                                        "zipCode": "M1M1M1"
                                    },
                                    {
                                        "addressId": "15810",
                                        "addressLine": [
                                            "123 Main St",
                                            "",
                                            ""
                                        ],
                                        "addressType": "Billing",
                                        "city": "Toronto",
                                        "country": "CA",
                                        "email1": "john@example.com",
                                        "firstName": "John",
                                        "lastName": "Smith",
                                        "nickName": "Default_Billing_10001",
                                        "primary": "false",
                                        "state": "ON",
                                        "zipCode": "M1M1M1"
                                    },
                                    {
                                        "addressId": "15811",
                                        "addressLine": [
                                            "123 Main St",
                                            "",
                                            ""
                                        ],
                                        "addressType": "Shipping",
                                        "city": "Toronto",
                                        "country": "CA",
                                        "email1": "john@example.com",
                                        "firstName": "John",
                                        "lastName": "Smith",
                                        "nickName": "Default_Shipping_10001",
                                        "primary": "false",
                                        "state": "ON",
                                        "zipCode": "M1M1M1"
                                    }
                                ],
                                "country": "CA",
                                "distinguishedName": "uid=john,o=default organization,o=root organization",
                                "email1": "john@example.com",
                                "firstName": "John",
                                "gender": "Unspecified",
                                "lastName": "Smith",
                                "lastUpdate": "2014-11-20T14:32:21.459Z",
                                "logonId": "john",
                                "nickName": "john",
                                "organizationDistinguishedName": "o=default organization,o=root organization",
                                "orgizationId": "-2000",
                                "passwordExpired": "false",
                                "preferredCurrency": "USD",
                                "preferredLanguage": "en_US",
                                "primary": "true",
                                "profileType": "C",
                                "receiveEmailPreference": [
                                    {
                                        "storeID": "10001",
                                        "value": "false"
                                    }
                                ],
                                "receiveSMSPreference": [
                                    {
                                        "storeID": "10001",
                                        "value": "false"
                                    }
                                ],
                                "registrationApprovalStatus": "Approved",
                                "registrationDateTime": "2014-11-20T14:32:21.469Z",
                                "registrationStatus": "RegisteredPerson",
                                "resourceId": "https://localhost:443/wcs/resources/store/10001/person/@self?responseFormat=json",
                                "resourceName": "person",
                                "state": "ON",
                                "userId": "11051",
                                "zipCode": "M1M1M1"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Gets the account data for a registered user.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get account data",
                "operationId": "Person-findPersonBySelf"
            }
        },
        "/store/{storeId}/person/@self/registrationOptions": {
            "get": {
                "description": "Get the user registration options available to the current user.",
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    }
                ],
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get the user registration options available to the current user.",
                "operationId": "getUserRegistrationOptions",
                "tags": [
                    "Person"
                ],
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.user.beans.UserDisplayDataBean_IBM_User_Registration_Options_Summary"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                }
            }
        },
        "/store/{storeId}/useractivate/emailactivate": {
            "put": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.UserActivateHandler.ActiveUserResponse"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "type": "string",
                        "description": "The language ID.",
                        "name": "langId",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "in": "body",
                        "description": "Request body to activate the user account.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.UserActivateHandler.ActiveUserRequestBody"
                        }
                    }
                ],
                "tags": [
                    "User Activate"
                ],
                "description": "Activate the user account.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Activate the user account.",
                "operationId": "UserActivate-activeUser"
            }
        },
        "/store/{storeId}/useractivate/resendemail": {
            "post": {
                "responses": {
                    "201": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.member.facade.server.commands.UserRegistrationEmailActivateResendCmd"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": true,
                        "description": "Request body for resend user account activation email.",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.rest.member.handler.UserActivateHandler.ResendActiveUserRequestBody"
                        }
                    }
                ],
                "tags": [
                    "User Activate"
                ],
                "description": "Resend user account activation email.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Resend user account activation email.",
                "operationId": "UserActivate-resendActiveUser"
            }
        },
        "/store/{storeId}/person/@self/languageCurrency": {
            "put": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.price.commands.SetCurrencyPreferenceCmd"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Changes language and currency preference in profile and in context.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Change language and currency preference",
                "operationId": "Person-changeLanguageCurrency"
            }
        },
        "/store/{storeId}/person/@self/contact/{nickName}": {
            "put": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/person-singleContact"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The contact name saved in addressBook by registered shopper.",
                        "in": "path",
                        "name": "nickName"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    },
                    {
                        "required": false,
                        "in": "body",
                        "description": "Request body.",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/person-contact"
                        }
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "description": "Updates the contact in the address book identified by nickname.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Update contact by nickname",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "operationId": "Contact-updatePersonContact"
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/person-singleContact"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The contact name saved in addressBook by registered shopper.",
                        "in": "path",
                        "name": "nickName"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "description": "Gets a person contact by nickname.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get contact by nickname",
                "operationId": "Contact-findPersonContactByNickName"
            },
            "delete": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "404": {
                        "description": "The specified resource could not be found."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The contact name saved in addressBook by registered shopper.",
                        "in": "path",
                        "name": "nickName"
                    },
                    {
                        "enum": [
                            "xml",
                            "json"
                        ],
                        "name": "responseFormat",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The response format. Valid values are json and xml. If the request contains an input body, it must use the format specified in responseFormat. If the responseFormat is not specified, the accept  HTTP header determines the format of the response. If the accept  HTTP header is not specified then default response format is json."
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "description": "Deletes the contact in the address book identified by nickname.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Delete contact from address book",
                "operationId": "Contact-deletePersonContact"
            }
        },
        "/store/{storeId}/person/@self/optOut": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "examples": {
                            "application/json": {
                                "userReceive": false,
                                "userReceiveSMS": false
                            }
                        },
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.emarketing.beans.EmailUserReceiveDataBean_IBM_optOut_all"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "IBM_optOut_email",
                            "IBM_optOut_sms",
                            "IBM_optOut_all"
                        ],
                        "name": "profileName",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "Profile name. Profiles determine the subset of data returned by a query.  Default profile name = IBM_optOut_email."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "Finds personal opt-out. When the store level personal opt-out does not exist, the site level personal opt-out is returned.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "Get opt out preferences",
                "operationId": "Person-findOptOutBySelfWOptOutAllProfileName"
            }
        },
        "/store/{storeId}/person/search": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "examples": {},
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.user.beans.UserSearchDataBean_IBM_User_List_Details"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "enum": [
                            "IBM_User_List_Summary",
                            "IBM_User_List_Details"
                        ],
                        "name": "profileName",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "Profile name. Profiles determine the subset of data to be returned by a query. Default profile name = IBM_User_List_Summary"
                    },
                    {
                        "enum": [
                            "ADDRESS"
                        ],
                        "name": "orderByTableName",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The order by table name."
                    },
                    {
                        "enum": [
                            "ADDRESS_ID"
                        ],
                        "name": "orderByFieldName",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The order by field name."
                    },
                    {
                        "name": "startIndex",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The starting index of the result."
                    },
                    {
                        "name": "maxResults",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "Page size. Used to limit the amount of data returned by a query. Valid values include positive integers of 1 and above."
                    },
                    {
                        "name": "firstName",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The user's first name."
                    },
                    {
                        "name": "lastName",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The user's last name."
                    },
                    {
                        "name": "logonId",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The user's logonId."
                    },
                    {
                        "name": "email",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The user's email address."
                    },
                    {
                        "enum": [
                            "R",
                            "G",
                            "RG",
                            "A"
                        ],
                        "name": "registerType",
                        "required": false,
                        "in": "query",
                        "type": "string",
                        "description": "The user registration type: G (Guest users), R (Registered users), RG (Registered and Guest users), or A (Administrators)."
                    }
                ],
                "tags": [
                    "Person"
                ],
                "description": "This allows an administrator to find users by their logonId, firstname, lastname and/or email.",
                "produces": [
                    "application/json",
                    "application/xml",
                    "application/xhtml+xml",
                    "application/atom+xml"
                ],
                "summary": "This allows an administrator to find users by their logonId, firstname, lastname and/or email.",
                "operationId": "Person-findByUserSearch"
            }
        },
        "/store/{storeId}/approval_status": {
            "get": {
                "responses": {
                    "200": {
                        "description": "The requested completed successfully.",
                        "schema": {
                            "$ref": "#/definitions/com.ibm.commerce.approval.beans.OrderApprovalStatusListDataBean_IBM_Store_Summary.resultList"
                        }
                    },
                    "400": {
                        "description": "Bad request. The request could not be understood by the server due to malformed syntax."
                    },
                    "401": {
                        "description": "Not authenticated. The user session is not valid."
                    },
                    "403": {
                        "description": "The user is not authorized to perform the specified request."
                    },
                    "500": {
                        "description": "Internal server error. For details, see the server log files."
                    }
                },
                "parameters": [
                    {
                        "required": true,
                        "type": "string",
                        "description": "The store identifier.",
                        "name": "storeId",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "type": "string",
                        "description": "The query name.",
                        "in": "query",
                        "name": "q",
                        "enum": [
                            "all",
                            "buyerApprovals"
                        ]
                    },
                    {
                        "name": "submitterFirstName",
                        "description": "Query by approval request submitter's first name.",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "submitterMiddleName",
                        "description": "Query by approval request submitter's middle name.",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "submitterLastName",
                        "description": "Query by approval request submitter's last name.",
                        "type": "string",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "startSubmitTime",
                        "description": "Query by approval request start time.",
                        "type": "string",
                        "format": "date",
                        "required": false,
                        "in": "query"
                    },
                    {
                        "name": "endSubmitTime",
                        "description": "Query by approval request end time.",
                        "type": "string",
[...]
