.bx--header__name--prefix {
    font-weight: 400;
    display: none;
}
.rightsideibmheader{
    position: absolute;
    right: 136px;
}
.ibmrightsideheader{
    position: absolute;
    right: 216px;
}
.ibmheaderrightside{
    position: absolute;
    right: 436px;
}

.dropbtn {
    font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
    background-color: #252525;
    font-size: 16px;
    border: none;
}