<div>
  <ibm-header>
    <ibm-header-navigation>
        <ibm-header-item>

        <div class="dropdown">
            <button class="dropbtn"><ibm-icon-menu32></ibm-icon-menu32></button>
            <div class="dropdown-content">
              <a href="catalogs">{{ 'CATALOGS.MAIN_UI_SHELL.CATALOGS' | translate }}</a>
              <a href="#">{{ 'CATALOGS.MAIN_UI_SHELL.PROMOTIONS' | translate }}</a>
              <a href="#">{{ 'CATALOGS.MAIN_UI_SHELL.MARKETING' | translate }}</a>
              <a href="#">{{ 'CATALOGS.MAIN_UI_SHELL.ATTACHMENTS' | translate }}</a>
              <a href="#">{{ 'CATALOGS.MAIN_UI_SHELL.CATALOG_FILTER_AND_PRICING' | translate }}</a>
              <a href="#">{{ 'CATALOGS.MAIN_UI_SHELL.CATALOG_COMPOSER' | translate }}</a>
              <a href="#">{{ 'CATALOGS.MAIN_UI_SHELL.STORE_MANAGEMENT' | translate }}</a>
              <a href="#">{{ 'CATALOGS.MAIN_UI_SHELL.WORKSPACE_MANAGEMENT' | translate }}</a>
              <a href="#">{{ 'CATALOGS.MAIN_UI_SHELL.GETTING_STARTED' | translate }}</a>
              <a href="#">{{ 'CATALOGS.MAIN_UI_SHELL.PREFERENCES' | translate }}</a>
            </div>
          </div>
        </ibm-header-item>
      <ibm-header-item>{{ 'CATALOGS.MAIN_UI_SHELL.MANAGEMENT_CENTER_TOOLS' | translate }}</ibm-header-item>
      <ibm-header-item>
        <div class="ibmheaderrightside">
          <ibm-icon-checkmark-outline16></ibm-icon-checkmark-outline16>
          {{ 'CATALOGS.MAIN_UI_SHELL.WORKING_ON_APPROVAL_CONTENT' | translate }}
        </div>
      </ibm-header-item>
      <ibm-header-item>
        <div class="ibmrightsideheader">{{ 'CATALOGS.MAIN_UI_SHELL.WELCOME_MSG' | translate }}</div>
      </ibm-header-item>
      <ibm-header-item>
        <div class="rightsideibmheader">{{ 'CATALOGS.MAIN_UI_SHELL.LOGOUT' | translate }}</div>
      </ibm-header-item>
    </ibm-header-navigation>
  </ibm-header>
</div>
<!--Button-->
  <!-- <button [ibmButton]="ibmButton" [size]="size">
				Catalogs
				<svg class="bx--btn__icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
					<path d="M7 7H4v2h3v3h2V9h3V7H9V4H7v3zm1 9A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" fill-rule="evenodd" />
				</svg>
			</button> -->
  
