<ibm-table class="table--sm" [model]="userModel" [enableRowSelect]="!isTableEmpty" (sort)="simpleSort($event)"></ibm-table>
<ng-template #userItemTemplate let-data="data">
	<i><a [routerLink]="data.link">{{data.name}}</a></i>
</ng-template>
<div *ngIf="isTableEmpty" class="empty-table"><i>{{'USERS.USER_LIST.NO_DATA_MSG' | translate}}</i></div>
<div class="">
	<div class="bx--row table-footer--pagination">
		<div class="bx--col-xs-2">
			<span class="table-selection-info">{{'0 of 0 Rows'}}</span>
		</div>
		<div class="bx--col-xs-8 pagination-container">
			<ibm-pagination [model]="userModel" (selectPage)="selectPage($event)"></ibm-pagination>
		</div>
		<!--
		<div class="bx--col-xs-2">
			<n-table-goto-page (selectPage)="selectPage($event)"></n-table-goto-page>
		</div>
		-->
	</div>
</div>