<div class="header">
    <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
    <span class="ibm-text">{{'MANAGE_USER.ORGANISATION_APPROVALS.TITLE' | translate}}</span>
  </div>
  <div class="border-div">
      <div class="users">
        <span>{{'MANAGE_USER.ORGANISATION_APPROVALS.ORGANIZATIONS' | translate}}</span>
        <span class="icon-top"><ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16></span>
        <span><strong class="new-user">{{'MANAGE_USER.ORGANISATION_APPROVALS.NEW_ORGANIZATION' | translate}}</strong></span>
        <div class="clr"></div>
      </div>
        <div class="bx--row header-border">
          <div class="bx--col-sm-4 bx--col-md-4 side-content">
              <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
                <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
                <span class="text-margin">{{'MANAGE_USER.ORGANISATION_APPROVALS.ORGANISATION_DETAILS_HEADING' | translate}}</span>
                <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
                <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
                <span class="text-margin">{{'MANAGE_USER.ORGANISATION_APPROVALS.CONTACT_INFORMATION' | translate}}</span>
                <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
                <ibm-icon-checkmark-outline16 class="icon-ckeckout"></ibm-icon-checkmark-outline16>
                <span class="text-margin">{{'MANAGE_USER.ORGANISATION_APPROVALS.ROLES' | translate}}</span>
                <ibm-icon-arrow-down16 id="table-icon" class="arrow-icon"></ibm-icon-arrow-down16>
                <span class="dot account-dot"></span><span class="text-margin">{{'MANAGE_USER.ORGANISATION_APPROVALS.APPROVALS' | translate}}</span>
              </div>
            </div>
          <div class="bx--col-sm-8 bx--col-md-8 right-content">
            <div class="bx--row main-content">
              <div class="bx--col-sm-11 bx--col-md-11 inside-content">
                    
                        
                            <div class="slct-grp-content">
                                <div class="slct-grp-txt">
                                    <span>{{'MANAGE_USER.ORGANISATION_APPROVALS.SELECT_APPROVALS' | translate}}</span>
                                </div>
                              <div>
                                <div class="aval-grp-txt">
                                    <span>{{'MANAGE_USER.ORGANISATION_APPROVALS.AVAILABLE_APPROVALS' | translate}}</span>
                                </div>
                                <input ibmText class="inputbx" placeholder="Find approvals">
                                <ul class="table_data">
                                  <li *ngFor="let approvalList of approvalListData">
                                      <ibm-checkbox
                                      (change)="onChange($event)">
                                      {{approvalList.approvalName}}
                                    </ibm-checkbox>
                                  </li>
                                </ul>
                              </div>
                              <div class="total-items">
                                  <span >{{'MANAGE_USER.ORGANISATION_APPROVALS.ITEMS' | translate}}</span>
                              </div>
                            </div>
                        
                        
                        
                        
                      
              </div>
            </div>
            <div class="bx--row footer-content">
              <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
                <div class="bx--row">
                  <div class="bx--col-sm-2 bx--col-md-2"></div>
                  <div class="bx--col-sm-10 bx--col-md-10 footer-btn-margin">
                    <button ibmButton="ghost" size="normal" id="save-preview" class="cancel-button" >{{'MANAGE_USER.ORGANISATION_APPROVALS.CANCEL' | translate}}</button>
                    <button ibmButton size="normal" id="save-preview" class="back-button" >{{'MANAGE_USER.ORGANISATION_APPROVALS.BACK' | translate}}</button>
                    <button ibmButton size="normal" id="save-preview" class="next-button" >{{'MANAGE_USER.ORGANISATION_APPROVALS.NEXT' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  

