
@import "~scss/_variables.scss";
@import "~carbon-components/scss/globals/grid/_grid.scss";
@import '~carbon-components/scss/globals/scss/styles.scss';

html body {
    height: 100%;
}
.bx--list-box {
width:170px !important;
}

span.bx--list-box_label{
    display: inline-block;
    width: 128px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.bx--list-box_field{
    display: inline-block;
    width: 128px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.bg-secondary {
    // background-color: #457ec3 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
// .ibm-dropdownModal .bx--list-box__menu {
//     z-index: 9001;
//     width: 150%;
// }
.ibm-dropdownWidth .bx--list-box {
    height: 2.0rem;
    max-height: 2.5rem; 
    margin-top: 2px; 
}
