$feature-flags: (
    ui-shell: true
);

@import "~scss/_variables.scss";
@import "~carbon-components/scss/globals/grid/_grid.scss";
@import '~carbon-components/scss/globals/scss/styles.scss';

html body {
    height: 100%;
}
