.content-width{
    margin-left: 0.5%;
    width: 84%;
    display: inline-block;
    position: absolute;
    background-color: #f1f1f1 !important;
    height: 438px;
    overflow: scroll;
}
.side-width{
    background-color: #f1f1f1 !important;
    min-height: 438px;
    margin-bottom: 0.6%;
    display: inline-block;
}
.headTextMargin{
    display: inline-block;
    margin: 1% 0 0 1%;
}
.iconFontSize{
    font-size: 35px;
}
.iconFontSize{
    font-size: 35px;
}
.icon-svg-table{
    font-size: 20px;
    height: 50px;
    line-height: 30px;
  }
  .icon-svg-btn {
    fill: rgb(189, 179, 179);
  }
.header-btn {
    position: absolute;
    display: inline-block;
    margin: 1% 0 0 25%;
}
.saveBtn{
    margin-left: 80%;
}
.mstrCtgry{
    font-size: 23px;
}
.headerTabs{
    margin-top: 25px;
    margin-left: 15px;
}
.general-div{
    margin-top: 1.5%;
}
.general-input{
    display: inline-block;
    width: 100%;
    margin-left: 15%;
}
.uniqueFont{
    font-size: 14px;
    display: inline-block;
    margin-top: 1%;
    position: absolute;
    width: 12%;
}
.input-size-icon{
    padding: 10px 0px 10px 0px;
    width: 25%;
    // margin-left: 15%;
    font-size: 13px;
}
.from-date{
    padding: 10px 0px 10px 0px;
    width: 12%;
    margin-left: 15%;
    font-size: 13px;
}
.dateFont{
    font-size: 14px;
    display: inline-block;
    margin-top: 1%;
    margin-left: 5%;
    position: absolute;
    width: 12%;
}
.applyBtn{
    margin-left: 15%;
}
.table{
    margin-left: 15%;
}
.icon-svg-help {
    fill: rgb(189, 179, 179);
}
.dropdown_header {
    // margin-left: 10%;
    display: inline-block;
    width: 20%;
}
// .bx--list-box {
//     height: 2.0rem !important;
//     max-height: 2rem !important;
//     width: 170px;
//     margin-left: 15%;
// }
