<div class="list_organizations">
    <div class="breadcrumb-container">
        <a href = {{ORGANIZATIONS_HELPLINKS}} target="_blank">
            <ac-help-links></ac-help-links>
        </a>
    </div>
    <label [translate]="'ORGANIZATIONS.LIST_ORGANIZATIONS.header'" ></label>
    <p [translate]="'ORGANIZATIONS.LIST_ORGANIZATIONS.number'" [translateParams]="{num: orgModel.totalDataLength }"></p>
    <div class="organization_buttons">
        <button class="bx--btn bx--btn--primary" routerLink="/organizations/create" [translate]="'ORGANIZATIONS.LIST_ORGANIZATIONS.new'"></button>
        <div class="icon_buttons">
            <button [translate]="'ORGANIZATIONS.LIST_ORGANIZATIONS.find'" routerLink="/organizations/find"><ibm-icon icon="find" size="sm" ></ibm-icon>{{'ORGANIZATIONS.LIST_ORGANIZATIONS.find' | translate}}</button>
            <button [translate]="'ORGANIZATIONS.LIST_ORGANIZATIONS.approval'" routerLink="/approvals" ><ibm-icon icon="check_circle" size="sm"></ibm-icon>{{'ORGANIZATIONS.LIST_ORGANIZATIONS.approval' | translate}}</button>
            <button [attr.disabled]="selectOrgLink === null ?  '' : null" routerLink="{{selectOrgLink}}">
                <ibm-icon icon="edit" size="sm" *ngIf="selectOrgLink != null"></ibm-icon>
                <ibm-icon icon="edit_disabled" size="sm" *ngIf="selectOrgLink === null" ></ibm-icon> {{'ORGANIZATIONS.LIST_ORGANIZATIONS.edit' | translate}}
             </button>
            <button [translate]="'ORGANIZATIONS.LIST_ORGANIZATIONS.lockbtn'"><ibm-icon icon="lock_key" size="sm"></ibm-icon>{{'ORGANIZATIONS.LIST_ORGANIZATIONS.lockbtn' | translate}}</button>
            <button [translate]="'ORGANIZATIONS.LIST_ORGANIZATIONS.roles'"><ibm-icon icon="behaviors" size="sm"></ibm-icon>{{'ORGANIZATIONS.LIST_ORGANIZATIONS.roles' | translate}}</button>
        </div>
    </div>
    <ibm-table [columnsResizable]="true" class="table--md" [model]="orgModel" (selectRow)="onSelect($event)"
    (deselectRow)="onDeselect($event)" (deselectAll)="onDeselectAll($event)" (selectAll)="onSelectAll($event)"></ibm-table>
    <ng-template #listOrgItemTemplate let-data="data">
        <i><a [routerLink]="data.link">{{data.name}}</a></i>
    </ng-template>
    <div *ngIf="orgModel.pageLength < 0" class="empty-table"> {{'ORGANIZATIONS.LIST_ORGANIZATIONS.emptyTable' | translate}} </div>

    <footer class="bx--row table-footer--pagination" *ngIf="orgModel.pageLength > 0">
        <span class="table-footer_row-count" [translate]="'ORGANIZATIONS.LIST_ORGANIZATIONS.rowcount'" 
            [translateParams]="{total: orgModel.totalDataLength, start: pageIndex['start'], end: pageIndex['end']}" ></span>
        <div class="bx--col-offset-4">
            <ibm-pagination [model]="orgModel" (selectPage)="onPage($event)"></ibm-pagination>
        </div>
    </footer>
</div>