<div class="header">
  <ibm-icon-menu32 class="menu-icon"></ibm-icon-menu32>
  <span class="ibm-text">{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.TITLE' | translate}}</span>
</div>

<div class="border-div">
  <div class="users">
    <span>{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.ORGANIZATIONS' | translate}}</span>
    <span class="icon-top">
      <ibm-icon-chevron-right16 class="chevron-icon"></ibm-icon-chevron-right16>
    </span>
    <span><strong
        class="new-user">{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.EDIT_ORGANIZATION' | translate}}</strong></span>
    <div class="clr"></div>
  </div>

   <div class="bx--row header-border">
    <div class="bx--col-sm-4 bx--col-md-4 side-content">
      <div class="bx--col-sm-12 bx--col-md-12 side-txt-margin">
        <span></span>
        <div class="text-margin">{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.ACCOUNT_INFORMATION' | translate}}</div>
        <br />
        <span class="dot account-dot"></span>
        <div class="text-margin">{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.CONTACT_INFORMATION' | translate}}</div>
        <br />
        <div class="text-margin">{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.ROLES' | translate}}</div><br />
        <div class="text-margin">{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.APPROVALS' | translate}}</div>
      </div>
    </div>
    <div class="bx--col-sm-8 bx--col-md-8 right-content">
        <form  [formGroup]="manageContactForm" (ngSubmit)="onSubmit()">
      <div class="bx--row main-content">
        <div class="bx--col-sm-11 bx--col-md-11 inside-content">
          <div class="form-text">{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.CONTACT_NAME' | translate}}</div>
          <input ibmText class=" inputbx" id="manage-contact-name" formControlName="contactName">
          <!--Validation for the Contact name field.-->
          <div class="errorField" *ngIf="manageContactForm.controls['contactName'].hasError('required')">
              Contact Name is the Mandatory field.
            </div>
            <div class="errorField" *ngIf="manageContactForm.controls['contactName'].hasError('minlength')">
                Minimum length should be 4
              </div>
              <div class="errorField" *ngIf="manageContactForm.controls['contactName'].hasError('maxlength')">
                  Maximum length should be 10
                </div>
          <div class="form-text">{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.CONTACT_EMAIL' | translate}}</div>
          <input ibmText class=" inputbx" id="manage-contact-email" formControlName="contactEmail">
                <!--Validation for the Email field.-->
          <div class="errorField" *ngIf="manageContactForm.controls['contactEmail'].hasError('required')">
              Email is Mandatory to proceed.
            </div>
          <div class="errorField" *ngIf="manageContactForm.controls['contactEmail'].hasError('pattern')">
              Please Enter a valid email
            </div>
          <div class="form-text">{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.STREET_ADDRESS' | translate}}</div>
          <input ibmText class=" inputbx" id="manage-contact-street" formControlName="streetAddress" placeholder="Strett and number, P.O. box, c/o">
          <input ibmText class=" inputbx" id="manage-contact-apartment" formControlName="apartmentName" placeholder="Apartment, suite, unit, building, floor, etc.">
          <div class="form-text">{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.CITY' | translate}}</div>
          <input ibmText class=" inputbx" id="manage-contact-city" formControlName="city">
          <div class="form-text">{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.ADDRESS' | translate}}</div>
          <input ibmText class=" inputbx" id="manage-contact-state" formControlName="state">
        </div>
      </div>
      <div class="bx--row footer-content">
        <div class="bx--col-sm-12 bx--col-md-12 inside-footer">
          <div class="bx--row">
            <div class="bx--col-sm-5 bx--col-md-5"></div>
            <div class="bx--col-sm-7 bx--col-md-7 footer-btn-margin">
              <button ibmButton="ghost" size="lg" id="save-preview" class="cancel-button" (click)="routeOrganizationList()"
                >{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.CANCEL' | translate}}</button>
              <button ibmButton size="lg" id="save-preview" class="next-button" [disabled]="!manageContactForm.valid" type="submit"
                >{{'MANAGE_USER.MANAGE_ORGANIZATION_CONTACT.SAVE' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
        </form>
    </div>
  </div>
</div>